/*

In this file:

// A. Variables
// B. Placeholders
// C. Caret Utility

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

// Scoped to root

:root {
    --caret-size: 0.25em;

    --caret-margin: 0.375em;
}

////////////////////////////////////////
// B. Placeholders
////////////////////////////////////////

%caret-icon {
    border-top: var(--caret-size) solid;
    border-right: var(--caret-size) solid transparent;
    border-bottom: 0;
    border-left: var(--caret-size) solid transparent;
}

////////////////////////////////////////
// C. Caret Utility
////////////////////////////////////////

.caret {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    
    &::before {
        @extend %caret-icon;

        position: relative;
        content: "";
        
        display: inline-block;
        
        margin-left: var(--caret-margin);
        
        color: inherit;
    }

    [dir="rtl"] & {
        &::before {
            margin-left: unset;
            margin-right: var(--caret-margin);
        }
    }
}