/*

In this file:

// A. Variables
// B. Placeholders
// C. Caret Utility

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

// Scoped to root

:root{
    --caret-size: 0.25em;
    --caret-margin: 0.375em;
}

////////////////////////////////////////
// B. Placeholders
////////////////////////////////////////

%caret-icon {
    border-top: var(--caret-size) solid;
    border-right: var(--caret-size) solid transparent;
    border-bottom: 0;
    border-left: var(--caret-size) solid transparent;
}

////////////////////////////////////////
// C. Caret Utility
////////////////////////////////////////

.has-caret {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
    &::before {
        @extend %caret-icon;

        position: relative;
        content: "";
        
        display: inline-block;
        color: inherit;
        margin-left: var(--caret-margin);
    }

    [dir="rtl"] & {
        justify-content: flex-start;
        
        &::before {
            margin-left: unset;
            margin-right: var(--caret-margin);
        }
    }
}