/*

In this file:

// A. Variables
// B. Mixins

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

// Scoped to root

:root{
    --caret-size: 0.25em;
    --caret-margin: 0.375em;
}

////////////////////////////////////////
// B. Mixins
////////////////////////////////////////

// Create caret icon

%caret-icon {
    border-top: var(--caret-size) solid;
    border-right: var(--caret-size) solid transparent;
    border-bottom: 0;
    border-left: var(--caret-size) solid transparent;
}


@mixin add-caret() {

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
    &::before {
        @extend %caret-icon;

        position: relative;
        content: "";
        
        display: inline-block;
        color: inherit;
        margin-left: var(--caret-margin);
        
        [dir="rtl"] & {
            margin-left: unset;
            margin-right: var(--caret-margin);
        }
    }
}

