/*

In this file:

// A. Screen Reader Only
// B. Focusable Only

*/

//////////////////////////////////////////////
// A. Screen Reader Only
//////////////////////////////////////////////

.screen-reader-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: unset;
    padding: unset;
}

//////////////////////////////////////////////
// B. Focusable Only
//////////////////////////////////////////////

.focusable-only {
    &:active,
    &:focus {
        position: absolute;
        top: var(--s1);
        left: var(--s1);
        z-index: 10000;
        overflow: visible;
        clip: auto;
        white-space: normal;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        background-color: rgba( #ffffff, 0.95);
        color: var(--dark);
        font-size: var(--font-size-md);
        box-shadow: 0 0 0.5rem currentColor;
        border-radius: var(--border-radius);
    }
}