/*

In this file:

// A. Variables
// B. Accordion Button
// C. Accordion Panel

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --accordion-padding-x: var(--s2);
    --accordion-padding-y: var(--s2);
}

$accordion-transition: 0.2s ease-out;

//////////////////////////////////////////////
// B. Accordion Button
//////////////////////////////////////////////

.accordion__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: transparent;
    cursor: pointer;

    margin-bottom: 0;
    padding: var(--accordion-padding-y) var(--accordion-padding-x);
    
    &:not(:first-child){
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: inherit;
    }

    @extend %hover-focus;
    @extend %subtle-fill !optional;

    @include add-caret("after");

    &:not([aria-expanded="true"])::after {
        transition: transform $accordion-transition;
        transform: rotate(0deg);
    }
    
    &[aria-expanded="true"]{
        text-decoration: underline;

        &::before {
            --subtle-fill-opacity: 0.05;
        }

        &::after{
            transition: transform $accordion-transition;
            transform: rotate(180deg);
        }
    }
}

//////////////////////////////////////////////
// C. Accordion Panel
//////////////////////////////////////////////

.accordion__panel {
    overflow: hidden;
    transition: max-height $accordion-transition;

    &:not(.show){
        max-height: 0;
    }
    
    > .panel__content {
        padding: var(--accordion-padding-y) var(--accordion-padding-x);
    }
}