/*

In this file:

// A. Screen Reader Only
// B. Accessible Hover Focus

*/

//////////////////////////////////////////////
// A. Screen Reader Only
//////////////////////////////////////////////

// Only display content to screen readers

.screan-reader {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: unset;
    padding: unset;
}

// Use in conjunction with .screan-reader to only display content when it's focused.
// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.screan-reader-focusable {
    &:active,
    &:focus {
        position: absolute;
        top: var(--s1);
        left: var(--s1);
        z-index: 10000;
        overflow: visible;
        clip: auto;
        white-space: normal;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        background-color: rgba( #ffffff, 0.95);
        color: var(--dark);
        border-radius: var(--border-radius);
        box-shadow: 0 0 0.5rem currentColor;
        font-size: var(--font-size-md);
    }
}

//////////////////////////////////////////////
// B. Accessible Hover Focus
//////////////////////////////////////////////

.hover-focus {
    &:hover,
    &:focus {
        
        &:not(.screan-reader-focusable):not(.expanded-link) {
            position: relative;
            z-index: 5000;
        }

        &:not([class*="-icon"]):not([aria-disabled="true"]) {
            text-decoration: underline;
        }
    }
}