/*

In this file:

// A. Variables
// B. Accordion Button
// C. Accordion Panel

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$accordion-padding-x: var(--s3);
$accordion-padding-y: var(--s3);

$accordion-transition: 0.2s ease-out;

//////////////////////////////////////////////
// B. Accordion Button
//////////////////////////////////////////////

.accordion__button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: transparent;
    cursor: pointer;

    border-top-color: currentColor;
    border-top-width: var(--default-border-width);
    border-top-style: var(--default-border-style);

    margin-bottom: 0;
    padding: $accordion-padding-y $accordion-padding-x;

    @extend .hover-focus;

    @include caret(down);

    &:not([aria-expanded="true"])::after {
        transition: transform $accordion-transition;
        transform: rotate(0deg);
    }

    &[aria-expanded="true"]::after {
        transition: transform $accordion-transition;
        transform: rotate(180deg);
    }
}

//////////////////////////////////////////////
// C. Accordion Panel
//////////////////////////////////////////////

.accordion__panel {
    overflow: hidden;

    transition: max-height $accordion-transition;

    &:not(.show){
        max-height: 0;
    }
    
    > [data-accordion="content"] {
        padding: $accordion-padding-y $accordion-padding-x;
    }
}