/*

In this file:

// A. Variables
// B. Accordion Block
// C. Accordion Elements

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Block

.accordion {

    // Redefine Button Padding X 
    --button-padding-x: var(--spacer-2);

    // Redefine Container Padding Y
    --container-padding-y: var(--spacer-3);
    
    --accordion-active-color: currentColor;
    --accordion-animation: 0.2s ease-out;
}

//////////////////////////////////////////////
// B. Accordion Block
//////////////////////////////////////////////

.accordion{
    overflow: hidden;
}

//////////////////////////////////////////////
// C. Accordion Elements
//////////////////////////////////////////////

.accordion__button{
    padding: var(--button-padding-y) var(--button-padding-x);
} 

.accordion__panel__content {
    padding: var(--container-padding-y) var(--container-padding-x);
}

.accordion__button {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;
    text-align: inherit;
    width: 100%;

    cursor: pointer;

    &:not(:first-child){
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: inherit;
    }

    @include add-caret("after");

    &::after{
       transition: transform var(--accordion-animation);
    }

    &:not([aria-expanded="true"])::after {
        transform: rotate(0deg);
    }
    
    &[aria-expanded="true"] {
        text-decoration: underline;
        color: var(--accordion-active-color);

        &::before {
            --subtle-fill-opacity: var(--subtle-fill-visible-opacity);
        }

        &::after {
            transform: rotate(180deg);
        }
    }
}

.accordion__panel {
    overflow: hidden;
    transition: max-height var(--accordion-animation);
    max-height: 0;
}