/*

In this file:

// A. Shared Styles
// B. Screen Reader Only Utility
// C. Focusable Only Utility

*/

//////////////////////////////////////////////
// A. Shared Styles
//////////////////////////////////////////////

.focusable-only, 
.screen-reader-only {
    position: absolute;
}

//////////////////////////////////////////////
// B. Screen Reader Only Utility
//////////////////////////////////////////////

.screen-reader-only {
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

//////////////////////////////////////////////
// C. Focusable Only Utility
//////////////////////////////////////////////

.focusable-only {

    &:not(:focus) {
        @extend .screen-reader-only !optional;
    }

    top: var(--spacer-1);
    left: var(--spacer-1);

    padding: var(--btn-padding-y) var(--btn-padding-x);
    color: var(--dark);
    background-color: rgba( #ffffff, 0.95);
    font-size: var(--font-size-md);
    box-shadow: 0 0 0.25rem currentColor;
    z-index: 25;
}