/*

In this file:

// A. Variables
// B. Accordion Button
// C. Accordion Panel

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$accordion-padding-x: var(--s3);
$accordion-padding-y: var(--s3);

$accordion-transition: 0.2s ease-out;

//////////////////////////////////////////////
// B. Accordion Button
//////////////////////////////////////////////

.accordion__button {
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: transparent;
    cursor: pointer;

    border-top-color: currentColor;
    border-top-width: var(--default-border-width);
    border-top-style: var(--default-border-style);

    padding: $accordion-padding-y $accordion-padding-x;
    margin-bottom: 0;

    @include caret(down);

    &[aria-expanded="true"]::after {
        @include caret-up;
    }
}

//////////////////////////////////////////////
// C. Accordion Panel
//////////////////////////////////////////////

.accordion__panel {
    overflow: hidden;

    max-height: 0;
    transition: max-height $accordion-transition;
    
    > [data-accordion="content"] {
        padding: $accordion-padding-y $accordion-padding-x;
    }
}