/*

In this file:

// A. Variables
// B. Alert Block
// C. Alert Elements

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --alert-padding: var(--s2);
    --alert-highlight-opacity: .075;
}

//////////////////////////////////////////////
// B. Alert Block
//////////////////////////////////////////////

.alert {
    position: relative;
    overflow: hidden;

    padding: var(--alert-padding);

    a{
        color: inherit !important;
    }

    &[class*="border"] {
        border-color: currentColor !important;
    }

    &:not([class*="bc-"]):not([class*="--inverse"]) {

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-color: currentColor;
            opacity: var(--alert-highlight-opacity);
            z-index: auto;
        }
    }    
}

//////////////////////////////////////////////
// C. Alert Elements
//////////////////////////////////////////////

.alert__head, 
.alert__body {
    position: relative;
    z-index: auto;

}

.alert__head {
    margin-bottom: var(--s2);
}

.alert__head__title {
    font-weight: var(--base-font-weight-bold);
    margin-left: var(--s1);
    margin-right: var(--s1);
}

.alert__body {
    p:not(:last-child) {
        margin-bottom: var(--s1);
    }
}