/*

In this file:

// A. Variables
// B. Alert Block
// C. Alert Elements

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --alert-padding-x: var(--spacer-2);
    --alert-padding-y: var(--spacer-2);
    --alert-highlight-opacity: .075;
}

//////////////////////////////////////////////
// B. Alert Block
//////////////////////////////////////////////

.alert {
    position: relative;
    overflow: hidden;

    padding: var(--alert-padding-y) var(--alert-padding-x);

    a {
        color: inherit !important;
    }

    &[class*="border"] {
        border-color: currentColor !important;
    }

    &:not([class*="theme-"]):not([class*="--inverse"]):not([class*="background-color-"]) {

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-color: currentColor;
            opacity: var(--alert-highlight-opacity);
        }
    }    
}

//////////////////////////////////////////////
// C. Alert Elements
//////////////////////////////////////////////

.alert__head, 
.alert__body {
    position: relative;
}

.alert__head__title {
    font-weight: var(--base-font-weight-bold);
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
}

.alert__body {
    p:not(:last-child) {
        margin-bottom: 0.5em;
    }
}