/*

In this file:

// A. Variables
// B. Article Block
// C. Article Elements 

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --article-sidebar-width: 340px;
    --article-text-width: var(--narrow-width);
}

//////////////////////////////////////////////
// B. Article Block
//////////////////////////////////////////////

[class*="article--"] {
    display: grid;
}

//////////////////////////////////////////////
// C. Article Elements
//////////////////////////////////////////////

.article__body {
    overflow: hidden;

    @at-root .article__body__content {

        @include breakpoints-up(lg){
            margin-top: var(--spacer-5);
            margin-bottom: var(--spacer-5);
        }
    }

    section {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    section > *,
    footer {
        @extend %center-horizontal !optional;
    }
    
    footer {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
        padding-top: var(--spacer-2);

        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: currentColor;
    }

    header,
    h2, h3, h4, h5, h6, p,
    ul:not([class]), ol,

    section > div,
    footer {
        @extend .container !optional;
        max-width: var(--narrow-width);
    }

    figure,
    section > div {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    figure {
        max-width: var(--medium-width);
    }
}

@include breakpoints-up(lg) {

    [class*="article--"] {

        .article__header {
            grid-area: header;
        }
        
        .article__sidebar {
            position: relative;
            grid-area: sidebar;
        }

        .article__body {
            grid-area: body;
        }

        .article__related {
            grid-area: related;
        }
    }

    .article--three-column,
    .article--two-column {
        grid-template-columns: var(--article-sidebar-width) 1fr;

        grid-template-areas:
            "header header"
            "sidebar body"
            "related related";

        header .backdrop__cover > * {
            margin-left: var(--article-sidebar-width);
        }

        [dir="rtl"] & {

            header .backdrop__cover > * {
                margin-left: unset;
                margin-right: var(--article-sidebar-width);
            }
        }
    }
}

@include breakpoints-up(xl) {

    .article--three-column {
    --article-sidebar-width: 260px;
        grid-template-columns: var(--article-sidebar-width) 1fr var(--article-sidebar-width);

        grid-template-areas:
            "header header header"
            "sidebar body related";
    }
}