/*

In this file:

// A. Variables
// B. Aspect Ratio Block
// C. Aspect Ratio Element
// D. Aspect Ratio Modifiers

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$aspect-ratios: (
    (16 9),
    (4 3),
    (3 2),
    (1 1)
);

//////////////////////////////////////////////
// B. Apect Ratio Block
//////////////////////////////////////////////

[class*="aspect-ratio--"] {
    position: relative;
    width: 100%;
    padding: unset;
    overflow: hidden;
    display: block;

    &::before {
        display: block;
        content: "";
    }

}

//////////////////////////////////////////////
// C. Apect Ratio Element
//////////////////////////////////////////////

.aspect-ratio__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//////////////////////////////////////////////
// C. Apect Ratio Modifiers
//////////////////////////////////////////////

@each $aspect-ratio in $aspect-ratios {
    $aspect-ratio-x: nth($aspect-ratio, 1);
    $aspect-ratio-y: nth($aspect-ratio, 2);

    .aspect-ratio--#{$aspect-ratio-x}by#{$aspect-ratio-y} {
        &::before {
            padding-top: percentage($aspect-ratio-y / $aspect-ratio-x);
        }
    }
}