/*

In this file:

// A. Variables
// B. Backdrop Block
// C. Backdrop Elements
// D. Backdrop Breakpoint Modifiers
// E. Backdrop Fixed Modifier

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --backdrop-fixed-height: 300px;
}

//////////////////////////////////////////////
// B. Backdrop Block
//////////////////////////////////////////////

.backdrop {
    position: relative;
}

//////////////////////////////////////////////
// C. Backdrop Elements
//////////////////////////////////////////////

.backdrop:not([class*="--stack"]):not([class*="--fixed"]) {
    .backdrop__cover {
        position: absolute;
    }
}

.backdrop__image {
    img {
        min-width: 100%;
        min-height: 100%;
    }
}

.backdrop__cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backdrop__credit {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;

    background-color: inherit;

    p {
        font-size: var(--font-size-sm);
        padding: .25rem .75rem;
    }
}

//////////////////////////////////////////////
// D. Backdrop Breakpoint Modifiers
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .backdrop--stack#{$mod} {
            .backdrop__cover {
                position: absolute;
            }
        }
    }
}

//////////////////////////////////////////////
// E. Backdrop Fixed Modifier
//////////////////////////////////////////////

.backdrop--fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: var(--backdrop-fixed-height);
    
    > *:not(.backdrop__credit) {
        position: relative;
        width: 100%;
    }

    .backdrop__image {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;

        img {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .backdrop__cover {
        display: block;
        position: relative;
        width: 100%;
    }
    
    @include breakpoints-down(md) {
        min-height: calc( var(--backdrop-fixed-height) * 0.75 );
    }
}