/*

In this file:

// A. Variables
// B. Backdrop Block
// C. Banner Fixed
// D. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --backdrop-fixed-height: 400px;
}

//////////////////////////////////////////////
// B. Backdrop Block
//////////////////////////////////////////////

.backdrop {
    position: relative;
}

//////////////////////////////////////////////
// C. Backdrop Elements
//////////////////////////////////////////////

.backdrop:not([class*="--stack"]):not([class*="--fixed"]) {
    .backdrop__cover {
        position: absolute;
    }
}

.backdrop__image {
    img{
        min-width: 100%;
        min-height: 100%;
    }
}

.backdrop__cover {
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    > * {
        width: 100%;
    }
}

.backdrop__credit {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;

    background-color: inherit;

    p {
        font-size: var(--font-size-sm);
        padding: .25rem .75rem;
    }
}

//////////////////////////////////////////////
// B. Backdrop Breakpoint Modifiers
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .backdrop--stack#{$mod} {
            .backdrop__cover {
                position: absolute;
            }
        }
    }
}

//////////////////////////////////////////////
// C. Backdrop Fixed Modifier
//////////////////////////////////////////////

.backdrop--fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: var(--backdrop-fixed-height);
    
    > *:not(.backdrop__credit) {
        position: relative;
        z-index: auto;
        width: 100%;
    }

    .backdrop__image {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        img {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .backdrop__cover {
        position: relative;
    }
    
    @include breakpoints-down(md) {
        min-height: calc( var(--backdrop-fixed-height) * 0.75 );
    }
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

// @media screen and (-ms-high-contrast: active),
// screen and (-ms-high-contrast: none) {
    
//    .backdrop--fixed {
//      .backdrop__cover {
//        }
//    }

// }