/*

In this file:

// A. Variables
// B. Backdrop
// C. Banner Fixed
// D. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --backdrop-fixed-height: 375px;
}

//////////////////////////////////////////////
// B. Backdrop
//////////////////////////////////////////////

.backdrop {
    position: relative;

    &:not([class*="--stack"]):not([class*="--fixed"]) {
        .backdrop__cover {
            position: absolute;
        }
    }

    @at-root .backdrop__image {
        min-width: 100%;
    }

    @at-root .backdrop__cover {
        overflow: hidden;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        align-items: center;

        > * {
            width: 100%;
        }
    }

    @at-root .backdrop__credit {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        
        background-color: inherit;

        p {
            font-size: var(--font-size-sm);
            padding: .25rem .75rem;
        }
    }
}

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .backdrop--stack#{$mod} {
            .backdrop__cover {
                position: absolute;
            }
        }
    }
}

//////////////////////////////////////////////
// C. Backdrop Fixed
//////////////////////////////////////////////

.backdrop--fixed {
    display: flex;
    align-items: center;
    
    min-height: var(--backdrop-fixed-height);

    > *:not(.backdrop__credit) {
        position: relative;
        z-index: auto;
        width: 100%;
    }

    .backdrop__image {
        position: absolute;
        height: 100%;
        object-fit: cover;
    }

    .backdrop__cover {
        position: relative;
    }
    
    @include breakpoint-down(md) {
        min-height: calc(var(--backdrop-fixed-height) * 0.75);
    }
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    .backdrop--fixed {
        overflow: hidden;

        // min-height: auto;
        // height: auto;

        div.backdrop__image {
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
        }
    }
}