/*

In this file:

// A. Variables
// B. Functions
// C. Mixins

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$bp-xs: 325px;
$bp-sm: 400px; 
$bp-md: 600px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-xxl: 1440px;

$breakpoints: (
  xs: $bp-xs,
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
  xxl: $bp-xxl
);

$breakpoints: map-merge((null : 0), $breakpoints);

//////////////////////////////////////////////
// B. Functions
//////////////////////////////////////////////

// Name of the next breakpoint, or null for the last breakpoint.

@function breakpoint-value($name, $breakpoints) {
  $value: map-get($breakpoints, $name);
  @return if($value != 0, $value, null);
}

@function breakpoint-modifier($name, $breakpoints) {
  @return if(breakpoint-value($name, $breakpoints) == null, "", "--#{$name}");
}

//////////////////////////////////////////////
// C. Mixins
//////////////////////////////////////////////

// Breakpoint up

@mixin breakpoints-up($breakpoint) {
  @if ($breakpoint != null) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}

// Breakpoint down

@mixin breakpoints-down($breakpoint) {
  @if ($breakpoint != null) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}