/*

In this file:

// A. Variables
// B. Breakpoints Map
// C. Breakpoints Functions
// D. Breakpoints Mixins

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$bp-sm: 400px; 
$bp-md: 760px;
$bp-lg: 1000px;
$bp-xl: 1340px;

//////////////////////////////////////////////
// B. Breakpoints Map
//////////////////////////////////////////////

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
);

$breakpoints: map-merge((null : 0), $breakpoints);

//////////////////////////////////////////////
// C. Breakpoints Functions
//////////////////////////////////////////////

// Name of the next breakpoint, or null for the last breakpoint.

@function breakpoint-value($name, $breakpoints) {
  $value: map-get($breakpoints, $name);
  @return if($value != 0, $value, null);
}

@function breakpoint-modifier($name, $breakpoints) {
  @return if(breakpoint-value($name, $breakpoints) == null, "", "--#{$name}");
}

//////////////////////////////////////////////
// D. Breakpoints Mixins
//////////////////////////////////////////////

@mixin breakpoints-up($breakpoint) {
  @if ($breakpoint != null) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin breakpoints-down($breakpoint) {
  @if ($breakpoint != null) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}