/*

In this file:

// A. Variables
// B. Default Button Tag
// C. Button Utility
// D. Button Outline Modifier
// E. Button Has Icon Modifier
// F. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --btn-padding-x: var(--spacer-2);
    --btn-padding-y: 0.625em;

    --btn-font-weight: var(--base-font-weight-bold);

    --btn--outline-border-width: 2px;
    --btn--icon-only-size: 2.25em;
}

//////////////////////////////////////////////
// B. Default Button Tag
//////////////////////////////////////////////

button {
    cursor: pointer;
    
    &:not([class*="theme-"]){
        background-color: transparent;
    }

    &:not([class*="border-"]){
        border: none;
    }

    &[class*="display-block"] {
        width: 100%;
    }
}

//////////////////////////////////////////////
// C. Button Utility
//////////////////////////////////////////////

button, 
.btn {
    --btn-opacity-hover: 0.75;

    @extend %hover-focus !optional;

    &[aria-disabled="true"] {
        cursor: not-allowed;
        opacity: var(--btn-opacity-hover);
    }
}

.btn {
    display: inline-block;
    color: inherit;
    background-color: unset;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: normal;
    cursor: pointer;

    transition: opacity 0.5s;

    &:hover, 
    &:focus, 
    &:active {
        opacity: var(--btn-opacity-hover);
    }

    &:not([class*="--icon-only"]) {
        font-weight: var(--btn-font-weight);
        padding: var(--btn-padding-y) var(--btn-padding-x);
    }
}

//////////////////////////////////////////////
// D. Button Outline Modifier
//////////////////////////////////////////////

.btn--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--btn--outline-border-width) currentColor;
}

//////////////////////////////////////////////
// E. Button Has Icon Modifier
//////////////////////////////////////////////

[class*="btn--has-icon"] {
    &:hover,
    &:focus{
        .btn__text {
            text-decoration: underline;
        }
    }
}

[class*="btn--has-icon"] .btn__text {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.btn--has-icon--disperse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

//////////////////////////////////////////////
// E. Button Icon Only Modifier
//////////////////////////////////////////////

.btn--icon-only {
    position: relative;

    display: inline-flex;

    width: var(--btn--icon-only-size);
    height: var(--btn--icon-only-size);

    overflow: hidden;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    @extend %subtle-fill !optional;

    ::before{
        transition: opacity 0.5s;
    }

    &:hover, 
    &:focus {
        &::before {
            --subtle-fill-opacity: 0.075;
        }
    }
}

//////////////////////////////////////////////
// F. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .btn--icon-only {
        display: table-cell; 

        &::before {
            display: none;
        }

        .btn__icon {
            margin-right: auto;
            margin-left: auto;
        }
    }
}