/*

In this file:

// A. Variables
// B. Default Button
// C. Button Outline
// C. Button With Icon
// D. Button Icon Only
// E. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {

    // Buttons with Text
    --btn-padding-x: 1em;
    --btn-padding-y: 0.5em;
    --btn-font-weight: bold;

    // Icon Only
    --btn--icon-only-size: 2em;
}

//////////////////////////////////////////////
// B. Default Button
//////////////////////////////////////////////

button {
    cursor: pointer;
    
    &:not([class]){
        background-color: transparent;
    }

    &[aria-selected=true] {
        font-weight: bold;
    }

    // Ensure Block Full-width
    &[class*="d-block"] {
        width: 100%;
    }
}

button, 
.btn{
    @extend .hover-focus;
}

.btn {
    display: inline-block;
    color: inherit;
    background-color: unset;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: normal;
    cursor: pointer;

    transition: opacity 0.5s;

    &:hover, 
    &:focus, 
    &:active {
        opacity: 0.85;
    }

    &:not([class*="--icon-only"]) {
        font-weight: var(--btn-font-weight);
        padding: var(--btn-padding-y) var(--btn-padding-x);
    }
}

//////////////////////////////////////////////
// C. Button Outline
//////////////////////////////////////////////

.btn--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--default-border-width) currentColor;
}

//////////////////////////////////////////////
// D. Button Has Icon
//////////////////////////////////////////////

[class*="btn--has-icon"] {

    &:hover,
    &:focus{
        .btn__text {
            text-decoration: underline;
        }
    }
    
    @at-root .btn__text {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

.btn--has-icon--disperse {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

//////////////////////////////////////////////
// E. Button Icon Only
//////////////////////////////////////////////

.btn--icon-only {
    position: relative;
    display: inline-flex;

    width: var(--btn--icon-only-size);
    height: var(--btn--icon-only-size);

    overflow: hidden;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    font-size: inherit;
    
    z-index: 1;

    [data-icon] {
        font-size: calc(var(--btn--icon-only-size) * 0.5);
    }

    @extend .subtle-fill;

    ::before{
        transition: opacity 0.5s;
    }

    &:hover, 
    &:focus {
        &::before {
            --subtle-fill-opacity: 0.075;
        }
    }
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .btn.btn--icon-only {
        display: table-cell; 

        .btn__icon {
            margin-right: auto;
            margin-left: auto;
        }
    }
}