/*

In this file:

// A. Variables
// B. Default Button Tag
// C. Button Utility
// D. Button Outline Modifier
// E. Button Has Icon Modifier
// F. Button Icon Only Modifier
// G. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --button-padding-x: 1em;
    --button-padding-y: 0.625em;

    --button-font-weight: var(--body-font-weight-bold);

    --button--outline-border-width: calc( var(--default-border-width) * 2);
    --button--icon-only-size: 2.25em;
}

//////////////////////////////////////////////
// B. Default Button Tag
//////////////////////////////////////////////

button {
    cursor: pointer;
    
    &:not([class*="theme-"]){
        background-color: transparent;
    }

    &:not([class*="border-"]){
        border: none;
    }

    &[class*="display-block"] {
        width: 100%;
    }
}

//////////////////////////////////////////////
// C. Button Utility
//////////////////////////////////////////////

button, 
.button {
    --button-opacity-hover: 0.75;

    @extend %hover-focus !optional;

    &[aria-disabled="true"] {
        cursor: not-allowed;
        opacity: var(--button-opacity-hover);
    }
}

.button {
    display: inline-block;
    color: inherit;
    background-color: unset;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: normal;
    cursor: pointer;

    transition: opacity 0.5s;

    &:hover, 
    &:focus, 
    &:active {
        opacity: var(--button-opacity-hover);
    }

    &:not([class*="--icon-only"]) {
        font-weight: var(--button-font-weight);
        padding: var(--button-padding-y) var(--button-padding-x);
    }
}

//////////////////////////////////////////////
// D. Button Outline Modifier
//////////////////////////////////////////////

.button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--button--outline-border-width) currentColor;
}

//////////////////////////////////////////////
// E. Button Has Icon Modifier
//////////////////////////////////////////////

[class*="button--has-icon"] {
    &:hover,
    &:focus{
        .button__text {
            text-decoration: underline;
        }
    }
}

[class*="button--has-icon"] .button__text {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.button--has-icon--disperse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

//////////////////////////////////////////////
// F. Button Icon Only Modifier
//////////////////////////////////////////////

.button--icon-only {
    position: relative;

    display: inline-flex;

    width: var(--button--icon-only-size);
    height: var(--button--icon-only-size);

    overflow: hidden;
    border-radius: 100%;

    align-items: center;
    justify-content: center;

    @extend %subtle-fill !optional;

    &:hover, 
    &:focus {
        &::before {
            --subtle-fill-opacity: var(--subtle-fill-visible-opacity);
        }
    }
}

//////////////////////////////////////////////
// G. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .button--icon-only {
        display: table-cell; 

        &::before {
            display: none;
        }

        .button__icon {
            margin-right: auto;
            margin-left: auto;
        }
    }
}