/*

In this file:

// A. Card
// B. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Card
//////////////////////////////////////////////

.card {
    position: relative;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    @at-root .card__header {
        // font-size: var(--font-size-md);
        padding: var(--s1) var(--s2);
    }

    @at-root 
    .card__body,
    .card__footer {
        padding: var(--s2);
    }

    @at-root .card__footer {
        margin-top: auto;
    }
}

//////////////////////////////////////////////
// B. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    // Display flex bug fix
    .card * { 
        min-height: 0.01px;
    }
}