////////////////////////////////////////
// E. Dropdown
////////////////////////////////////////

// Caret

$default-caret-size: 0.25em;

@mixin caret-down($size: $default-caret-size) {
    border-top: $size solid;
    border-right: $size solid transparent;
    border-bottom: 0;
    border-left: $size solid transparent;
}

@mixin caret-up($size: $default-caret-size) {
    // transform: scaleY(-1);
    border-top: 0;
    border-right: $size solid transparent;
    border-bottom: $size solid;
    border-left: $size solid transparent;
}

@mixin caret( $direction: "down" ) {

    display: flex;
    align-items: center;

    &::after {

        content: "";
        display: inline-block;
        margin-left: var(--s1);
        margin-right: var(--s1);

        color: inherit;

        @if $direction=="down" {
            @include caret-down;
        }

        @else if $direction=="up" {
            @include caret-up;
        }
    }
}