/*

In this file:

// A. Variables
// B. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --card-padding: var(--spacer-2);
}

//////////////////////////////////////////////
// B. Card Block
//////////////////////////////////////////////

.card {
    position: relative;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

//////////////////////////////////////////////
// C. Card Elements
//////////////////////////////////////////////

.card__head {
    font-size: var(--font-size-md);
    padding: calc(var(--card-padding) * 0.5) var(--card-padding);
}

.card__body,
.card__foot {
    padding: var(--card-padding);
}

.card__foot {
    margin-top: auto;
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    // Display flex bug fix
    .card * { 
        min-height: 0.01px;
    }
}