/*

In this file:

// A. Variables
// B. Background Color Classes
// C. Text Color Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {

    // Theme Color Palette

    --primary: #25caa4;
    --secondary: #6500d6;
    --dark: #262345;
    --light: #f1f4f6;

    // Accessible Link Color

    --a11y-link-color: blue;

    // Associated Primary Colors

    --primary-text: var(--dark);
    --primary-border: hsla(0, 0%, 0%, 0.125);
    --primary-link: currentColor;

    // Associated Secondary Colors

    --secondary-text: white;
    --secondary-border: hsla(0, 0%, 0%, 0.25);
    --secondary-link: currentColor;

    // Associated Dark Colors

    --dark-text: white;
    --dark-border: hsla(0, 0%, 100%, 0.125);
    --dark-link: currentColor;

    // Associated Light Colors

    --light-text: var(--dark);
    --light-border: hsla(0, 0%, 50%, 0.25);
    --light-link: var(--a11y-link-color);

    // Associated Light Colors

    --white-text: var(--dark);
    --white-border: hsla(0, 0%, 50%, 0.25);
    --white-link: var(--a11y-link-color);
}

//////////////////////////////////////////////
// B. Theme Color Map
//////////////////////////////////////////////

$theme-colors: (

    "white": (
        swatch: white,
        text: var(--white-text),
        border: var(--white-border),
        link: var(--white-link)
    ), 
        
    "primary": (
        swatch: var(--primary),
        text: var(--primary-text),
        border: var(--primary-border),
        link: var(--primary-link)
    ), 
    
    "secondary": (
        swatch: var(--secondary),
        text: var(--secondary-text),
        border: var(--secondary-border),
        link: var(--secondary-link)
    ), 
    
    "dark": (
        swatch: var(--dark),
        text: var(--dark-text),
        border: var(--dark-border),
        link: var(--dark-link)
    ), 
    
    "light": (
        swatch: var(--light),
        text: var(--light-text),
        border: var(--light-border),
        link: var(--light-link)
    )
);

//////////////////////////////////////////////
// D. Background Color Classes 
//////////////////////////////////////////////

html,
[class*="bc-"] {
    --background-color: white;
    --text-color: black;
    --border-color: gray;
    --link-color: currentColor;

    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);

    * {
        &:not([class*="bc-"]):not(input):not(textarea):not(select) {
            border-color: inherit;
        }
    }

    td:not([class*="bc-"]) > a:not([class*="tc-"]),
    p > a:not([class*="bc-"]){
        color: var(--link-color);
    }

    .tabs [role="tab"],
    .tabs [role="tabpanel"],
    [data-toggle="dropdown"] ~ ul, 
    .modal__overlay::before,
    .modal__container,
    .table-scroll__container::after {
        background-color: var(--background-color);
    }
    
    [data-toggle="dropdown"][class*="-icon"] ~ ul::before{
        color: var(--border-color);
    }

    [data-toggle="dropdown"][class*="-icon"] ~ ul::after {
        color: var(--background-color);
    }

    .form-group__radio > input ~ [class*="__label"]::after,
    .form-group__checkbox > input ~ [class*="__label"]::after {
        color: var(--background-color);
    }
}

@each $name, $color-map in $theme-colors {
    $background: map-get($color-map, "swatch");
    $text: map-get($color-map, "text");
    $border: map-get($color-map, "border");
    $link: map-get($color-map, "link");

    .bc-#{$name} {
        --background-color: #{$background};
        --text-color: #{$text};
        --border-color: #{$border};
        --link-color: #{$link};
    }
}

html:not([class="bc-"]){
    @extend .bc-white;
}

//////////////////////////////////////////////
// E. Text Color Classes 
//////////////////////////////////////////////

@each $name, $color-map in $theme-colors {
    .tc-#{$name} {
        color: map-get($color-map, "swatch");
    }
}

[class*="tc-"] {
    a {
        color: currentColor !important;
    }
}

.tc-link {
    color: var(--a11y-link-color);
}