/*

In this file:

// A. Collapse Class
// B. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Collapse Class
//////////////////////////////////////////////

.collapse {
    max-height: 0;
    height: 0;
    transition: max-height 0.3s ease-out;

    position: absolute;
    top:-30000px;
    left: -30000px;

    &.shown {
        position: static;
        overflow: hidden;
        height: auto;
    }
}