/*

In this file:

// A. Variables
// B. Containers
// C. Width Variants

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --narrow-width: 40rem; // Approximately 55 characters wide
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.25);
}

//////////////////////////////////////////////
// B. Container Class
//////////////////////////////////////////////

.container {
    padding-left: var(--s2);
    padding-right: var(--s2);
}

//////////////////////////////////////////////
// C. Width Variants
//////////////////////////////////////////////

.narrow, 
.medium,
.wide{
    margin-left: auto;
    margin-right: auto;
}
 
.narrow {
    max-width: var(--narrow-width);
}

.medium {
    max-width: var(--medium-width);
}

.wide {
    max-width: var(--wide-width);
}