/*

In this file:

// A. Variables
// B. Container Utility
// C. Narrow, Medium, and Wide Utilities

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --container-padding-x: var(--spacer-2);

    --narrow-width: 40rem; // Approximately 55 characters wide for readability
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.5);
}

//////////////////////////////////////////////
// B. Container Utility
//////////////////////////////////////////////

.container {
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
}

//////////////////////////////////////////////
// C. Narrow, Medium, and Wide Utilities
//////////////////////////////////////////////

[class*="narrow"], 
[class*="medium"],
[class*="wide"] {
    @extend %center-horizontal !optional;
}

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .narrow#{$mod} {
            max-width: var(--narrow-width);
        }

        .medium#{$mod} {
            max-width: var(--medium-width);
        }

        .wide#{$mod} {
            max-width: var(--wide-width);
        }
    }
}