/*

In this file:

// A. Floating breakpoints bar
// B. Container background color

*/

////////////////////////////////////////
// A. Floating Breakpoints Bar
////////////////////////////////////////

// Floating bar with visible breakpoints

$floating-breakpoints-bar: true;

@if $floating-breakpoints-bar {

    html {

        // Remove height added by Google Translate
        height: auto !important;

        &::before {
            @extend .sticky-top !optional;

            font-family: var(--base-font-family);
            display: block;
            color: white;
            text-align: center;
            padding: var(--spacer-3);
            z-index: 1600;
            background-color: rgba(purple, 0.9);
        }

        @each $breakpoint in map-keys($breakpoints) {
            @if ($breakpoint != null) {
                &::before {
                    @include breakpoints-up($breakpoint) {
                        content: 'Breakpoint: ' + $breakpoint;
                    }
                }
            }
        }
    }

}

////////////////////////////////////////
// B. Container Background Colors
////////////////////////////////////////

// Add background color to containers

$container-background-color: true;
$container-background-opacity: 0.5;

@if $container-background-color {

    [class*="container"] {
        background-color: rgba(red, $container-background-opacity) !important;
    }

    .narrow {
        background-color: rgba(orange, $container-background-opacity) !important;
    }

    .medium {
        background-color: rgba(yellow, $container-background-opacity) !important;
    }

    .wide {
        background-color: rgba(green, $container-background-opacity) !important;
    }

}

////////////////////////////////////////
// C. Table Column Colors
////////////////////////////////////////

// Add background color to containers

$table-column-background-color: true;
$table-column-background-opacity: 0.5;

@if $table-column-background-color {

    th,
    td {
        &:nth-child(1) {
            background-color: rgba(red, $table-column-background-opacity) !important;
        }

        &:nth-child(2) {
            background-color: rgba(orange, $table-column-background-opacity) !important;
        }

        &:nth-child(3) {
            background-color: rgba(yellow, $table-column-background-opacity) !important;
        }

        &:nth-child(4) {
            background-color: rgba(green, $table-column-background-opacity) !important;
        }

        &:nth-child(5) {
            background-color: rgba(blue, $table-column-background-opacity) !important;
        }

        &:nth-child(6) {
            background-color: rgba(purple, $table-column-background-opacity) !important;
        }

        &:nth-child(7) {
            background-color: rgba(pink, $table-column-background-opacity) !important;
        }

        &:nth-child(8) {
            background-color: rgba(gray, $table-column-background-opacity) !important;
        }

        &:nth-child(9) {
            background-color: rgba(tan, $table-column-background-opacity) !important;
        }
    }

}