/*

In this file:

// A. Flex Direction
// B. Flex Grow, Shrink, and Fill
// C. Justify Content
// D. Align Content
// E. Align Items
// F. Align Self

*/

//////////////////////////////////////////////
// A. Flex Column and Flex Row
//////////////////////////////////////////////

[class*="flex-"],
[class*="-column"],
[class*="-row"] {
    display: flex;
    flex-wrap: wrap;
}

// Breakpoint classes for 'flex-direction'

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .flex-row#{$mod} {
            flex-direction: row;
        }

        .flex-column#{$mod} {
            flex-direction: column;
        }

        .row-reverse#{$mod} {
            flex-direction: row-reverse;
        }
        
        .column-reverse#{$mod} {
            flex-direction: column-reverse;
        }

    }
}

//////////////////////////////////////////////
// B. Flex Grow, Shrink, and Fill
//////////////////////////////////////////////

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-fill {
    flex: 1 1 auto;
}

//////////////////////////////////////////////
// B. Justify Content
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .justify-content-start#{$mod} {
            justify-content: flex-start;
        }

        .justify-content-end#{$mod} {
            justify-content: flex-end;
        }

        .justify-content-center#{$mod} {
            justify-content: center;
        }

        .justify-content-between#{$mod} {
            justify-content: space-between;
        }

        .justify-content-around#{$mod} {
            justify-content: space-around;
        }
    }
}

//////////////////////////////////////////////
// C. Align Content
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .align-content-start {
            align-content: flex-start;
        }

        .align-content-end {
            align-content: flex-end;
        }

        .align-content-center {
            align-content: center;
        }

        .align-content-between {
            align-content: space-between;
        }

        .align-content-around {
            align-content: space-around;
        }

        .align-content-stretch {
            align-content: stretch;
        }
        
    }
}

//////////////////////////////////////////////
// D. Align Items
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .items-start#{$mod} {
            align-items: flex-start;
        }

        .items-end#{$mod} {
            align-items: flex-end;
        }

        .items-center#{$mod} {
            align-items: center;
        }

        .items-baseline#{$mod} {
            align-items: baseline;
        }

        .items-stretch#{$mod} {
            align-items: stretch !important;
        }

    }
}

//////////////////////////////////////////////
// E. Align Self
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .self-auto#{$mod} {
            align-self: auto;
        }

        .self-start#{$mod} {
            align-self: flex-start;
        }

        .self-end#{$mod} {
            align-self: flex-end;
        }

        .self-center#{$mod} {
            align-self: center;
        }

        .self-baseline#{$mod} {
            align-self: baseline;
        }

        .self-stretch#{$mod} {
            align-self: stretch;
        }

    }
}