/*

In this file:

// A. Flex Column and Flex Row
// B. Justify Content
// C. Align Content
// D. Align Items
// E. Align Self

*/

//////////////////////////////////////////////
// A. Flex Column and Flex Row
//////////////////////////////////////////////

[class*="flex-"],
[class*="column-"],
[class*="row-"] {
    display: flex;
    flex-wrap: wrap;
}

// Breakpoint classes for 'flex-direction: row-reverse;'

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .flex-row#{$mod} {
            flex-direction: row;
        }

        .flex-column#{$mod} {
            flex-direction: column;
        }

        .row-reverse#{$mod} {
            flex-direction: row-reverse;
        }
        
        .column-reverse#{$mod} {
            flex-direction: column-reverse;
        }

    }
}

//////////////////////////////////////////////
// B. Justify Content
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .jc-start#{$mod} {
            justify-content: flex-start;
        }

        .jc-end#{$mod} {
            justify-content: flex-end;
        }

        .jc-center#{$mod} {
            justify-content: center;
        }

        .jc-between#{$mod} {
            justify-content: space-between;
        }

        .jc-around#{$mod} {
            justify-content: space-around;
        }
    }
}

//////////////////////////////////////////////
// C. Align Content
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .ac-start {
            align-content: flex-start;
        }

        .ac-end {
            align-content: flex-end;
        }

        .ac-center {
            align-content: center;
        }

        .ac-between {
            align-content: space-between;
        }

        .ac-around {
            align-content: space-around;
        }

        .ac-stretch {
            align-content: stretch;
        }

    }
}

//////////////////////////////////////////////
// D. Align Items
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .ai-start#{$mod} {
            align-items: flex-start;
        }

        .ai-end#{$mod} {
            align-items: flex-end;
        }

        .ai-center#{$mod} {
            align-items: center;
        }

        .ai-baseline#{$mod} {
            align-items: baseline;
        }

        .ai-stretch#{$mod} {
            align-items: stretch !important;
        }

    }
}

//////////////////////////////////////////////
// E. Align Self
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .as-auto#{$mod} {
            align-self: auto;
        }

        .as-start#{$mod} {
            align-self: flex-start;
        }

        .as-end#{$mod} {
            align-self: flex-end;
        }

        .as-center#{$mod} {
            align-self: center;
        }

        .as-baseline#{$mod} {
            align-self: baseline;
        }

        .as-stretch#{$mod} {
            align-self: stretch;
        }

    }
}