/*

In this file:

// A. Variables
// B. Form Entry Block
// C. Form Entry Elements
// D. Form Entry Modifiers
// E. Browser Behavior Modifications
// F. Form Entry within Nav
// F. Form Feedback and Alerts

*/

input, select, textarea {
  &:-webkit-autofill {
    animation-name: onautofillstart;
  }

  &:not(:-webkit-autofill) {
    animation-name: onautofillcancel;
  }
}

@keyframes onautofillstart { from {} }
@keyframes onautofillcancel { from {} }

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --form-field-padding-x: var(--spacer-2);
    --form-field-padding-y: 1em;
}

//////////////////////////////////////////////
// B. Form Entry Block
//////////////////////////////////////////////

.form-entry {
    position: relative;

    select,
    textarea,
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="range"]) {
        background-color: transparent;
        color: inherit;
        border-radius: inherit;
        border: 0;
        width: 100%;
    }

    button,
    fieldset {
        border: unset;
    }

    select option {
        color: currentColor !important;
    }

    ::placeholder {
        color: currentColor;
        opacity: 0.675;
    }

    text-align: left;

    [dir="rtl"] & {
        text-align: right;
    }
}

form > .form-entry ~ .form-entry {
    margin-top: var(--spacer-3);
    margin-bottom: var(--spacer-3);
}


//////////////////////////////////////////////
// C. Form Entry Elements
//////////////////////////////////////////////

.form-entry__field {
    --border-radius: 0.25em;

    position: relative;
    
    display: flex;

    color: inherit;

    // border-radius: var(--border-radius);
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        pointer-events: none;
        
        box-shadow: inset 0 0 0 var(--default-border-width) currentColor;
        opacity: 0.5;
    }

    .form-entry__field__action {
        display: flex;
        align-items: center;
        padding: var(--spacer-1);
    }
}

// Labels

.form-entry__field__label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    pointer-events: none;

    &::after {
        content: "*";
        margin: auto 0.25rem;
        display: none;
    }
}

// Required Asterisk

:required ~ .form-entry__field__label::after {
    display: inline-block !important;
}

.form-entry__field__input {
    outline: none;
}

// Inputs and Labels

.form-entry__field__label,
.form-entry__field__input {
    padding-top: var(--form-field-padding-y);
    padding-bottom: var(--form-field-padding-y);
    padding-right: var(--form-field-padding-x);
    padding-left: var(--form-field-padding-x);
    line-height: normal;
}

.form-entry:not([class*="--date"]):not([class*="--number"]) {

    &.active, 
    &.has-value {

        .form-entry__field__input {
            padding-top: calc( var(--form-field-padding-y) * 1.5);
            padding-bottom: calc( var(--form-field-padding-y) * 0.5);
        }

        .form-entry__field__label {
            padding-top: calc( var(--form-field-padding-x) * 0.5);
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;

            right: unset;
            bottom: unset;
            
            margin-left: var(--form-field-padding-x);
            margin-right: var(--form-field-padding-x);

            font-size: 75%;

            [dir="rtl"] & {
                transform-origin: top right;
                left: unset;
            }
        }
    }
}

// Focus and Active States

.form-entry.active .form-entry__field{
    box-shadow: inset 0 0 0 0.175rem currentColor;
}

// Form Entry within Navigation

[class*="nav"] > li > form,
.primary-nav__menu > ul > li > form {
    
    input {
        border: none !important;
    }

    .form-entry {
        --form-field-padding-y: var(--nav--divider-padding-y);
        --form-field-padding-x: var(--nav--divider-padding-x);
    }
    
    .form-entry__field__label,
    .form-entry__field__input {
        line-height: inherit !important;
    }

    .form-entry__field__input:focus,
    .form-entry__field__input:active,
    .form-entry__field__input ~ .form-entry__field__label,
    .has-value .form-entry__field__input {
        padding-top: var(--form-field-padding-y);
        padding-bottom: var(--form-field-padding-y);
    }

    .form-entry__field__input ~ .form-entry__field__label{
        line-height: inherit;
        margin: unset;
        transform: unset;
    }

    .form-entry__field__input:focus ~ .form-entry__field__label, 
    .form-entry__field__input:active ~ .form-entry__field__label, 
    .has-value .form-entry__field__label{
        display: none;
    }
}

//////////////////////////////////////////////
// D. Form Entry Modifiers
//////////////////////////////////////////////

.form-entry--number,
.form-entry--date {

    [class*="form-entry__field"] {
        display: flex;
        flex-direction: row;
    }

    .form-entry__field__label {
        position: static;
        width: auto;
    }

    .form-entry__field__input {
        flex-grow: 1;
    }
}

.form-entry--has-icon {
    display: flex;
    align-items: stretch;
}

.form-entry__icon {
    @extend %subtle-fill !optional;
    --subtle-fill-opacity: 0.075;

    padding: var(--form-field-padding-y) var(--form-field-padding-x);
}

//////////////////////////////////////////////
// E. Browser Behavior Modifications
//////////////////////////////////////////////

/* Change Autocomplete styles in Chrome */

input, 
textarea, 
select {
    &:-webkit-autofill {
        -webkit-text-fill-color: inherit !important;
        // transition: background-color 5000s ease-in-out 0s;
        -webkit-box-shadow: inset 0 0 0px 1000px yellow;

    }
}

input:-webkit-autofill {
    background-color: yellow !important;
}

input[type="number"] {

    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: unset; 
    }

    -moz-appearance: textfield;
}

// Google Translate Dropdown

.goog-gt-tt {
    display: none !important;
}

.goog-te-gadget, 
.goog-te-combo {
    font-family: inherit !important;
    background-color: transparent !important;
}

.goog-te-gadget {
    color: inherit !important;
    font-size: var(--font-size-md) !important;
    text-align: center;
    
    > div, 
    > div > .goog-te-combo,
    > span > a {
        color: currentColor !important;
    }

    > div {
        margin-bottom: var(--spacer-1);

        @extend %subtle-fill !optional;
        --subtle-fill-opacity: 0.05;
    }

    > div, 
    > div > .goog-te-combo{
        font-size: var(--font-size-rg) !important;
    }

    > div > .goog-te-combo {
        margin: 0 !important;
        padding: var(--form-field-padding-y) var(--form-field-padding-x);

        border-bottom-width: var(--default-border-width) !important;
        border-bottom-style: var(--default-border-style) !important;
        border-bottom-color: currentColor !important;
    }
}

// Google Translate and Field Input Wrap (Select)

.goog-te-gadget > div,
.form-entry__field__input-wrap {
    position: relative;
    width: 100%;

    @include add-caret("after");

    &::after{
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: var(--spacer-2);
        margin-right: var(--spacer-2);
    }

}

.form-entry__field__input-wrap{
    .form-entry__field__input {
        text-indent: -9999px;
    }
}

.form-entry__field__input-wrap::after {
    [dir="rtl"] & {
        right: unset;
        left: 0;
    }
}

.has-value .form-entry__field__input {
    text-indent: 0;
    font-size: 99.99%;
}

// File Input

.form-entry__field--upload {
    flex-direction: column;

    > .form-entry__field__btn, 
    > .field__uploads{
        line-height: inherit;
        padding: var(--form-field-padding-y) var(--form-field-padding-x) !important;
    }

    > .form-entry__field__btn{
        @extend .btn !optional;
        @extend .btn--has--icon !optional;

        background-color: var(--dark);
        color: var(--dark-text);
    }

    > .field__uploads{
        flex-grow: 1;
    }

}

// Field Assistance 

.form-entry__assistance {
    padding-left: var(--form-field-padding-x);
    padding-right: var(--form-field-padding-x);
    margin-top: 0.5rem;
    opacity: 0.75;
    font-size: 75%;
}

//////////////////////////////////////////////
// C. Checkbox and Radio Elements
//////////////////////////////////////////////

.form-entry legend {
    margin-bottom: var(--spacer-2);
}

.form-entry__options {
    --gap-size: 0.5em;

    @extend %list-nav-style !optional;

    clear: both;
    
    display: flex;
    flex-direction: column;
}

.form-entry__options:not([class*="--divider"]){

    > li:not(:last-child) {
        margin-bottom: var(--gap-size);
    }
}

.form-entry__options.options--divider {

    > li {
        padding: 0.75em var(--spacer-2);
        position: relative;
    }

    > li:not(:last-child) {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

    > li > label {

        @extend %subtle-fill !optional;
        --subtle-fill-opacity: 0;

        &::before {
            top: calc(0.75em * -1);
            left: calc(var(--spacer-2) * -1);
            bottom: calc(0.75em * -1);
            right: calc(var(--spacer-2) * -1);

            pointer-events: inherit;
        }
    }
}

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);
        
        .form-entry__options:not([class*="--divider"]).options--horizontal#{$mod} {
            flex-direction: row;

            --gap-size: 1.5em;

            margin-left: calc(-1 * var(--gap-size));
            margin-right: calc(-1 * var(--gap-size));

            > li {
                margin-bottom: unset;
                margin-left: var(--gap-size);
                margin-right: var(--gap-size);
            }

        }

        .options--divider.options--horizontal#{$mod}{
            flex-direction: row;
            align-items: stretch;

            > li {
                flex: 1;
                border-bottom-style: none !important; // Thanks, IE.
            }

            > li:not(:last-child){
                border-right-width: var(--default-border-width);
                border-right-style: var(--default-border-style);

                [dir="rtl"] & {
                    border-right-width: 0;
                    border-left-width: var(--default-border-width);
                    border-left-style: var(--default-border-style);
                }
            }
        }

    }
}

// Checkbox, Radio Shared Styles

.form-entry__options__radio,
.form-entry__options__check {
    position: relative;
    color: inherit;
    display: flex;
    align-items: baseline;
    padding-left: 1em;
    width: auto;
    cursor: pointer;

    [dir="rtl"] & {
        padding-left: unset;
        padding-right: 1em;
    }
}

.form-entry__options__radio > input[type="radio"],
.form-entry__options__check > input[type="checkbox"] {
    background-color: transparent;
    opacity: 0;
} 

.form-entry__options__radio > input ~ .radio__label,
.form-entry__options__check > input ~ .checkbox__label {
    line-height: var(--base-line-height);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;

        @extend .fontAwesome !optional;
    }
}

// Unchecked

.form-entry__options__check > input ~ .checkbox__label::before{
    font-weight: 400;
    content: "\f0c8";
}

.form-entry__options__radio > input ~ .radio__label::before{
    font-weight:  400;
    content: "\f111";
}

.form-entry__options__check > input:checked ~ .checkbox__label::before{
    font-weight: 900;
    content: "\f14a";
}

.form-entry__options__radio > input:checked ~ .radio__label::before{
    font-weight: 900;
    content: "\f192";
}

// Focus

.form-entry__options__radio > input:focus ~ .radio__label,
.form-entry__options__check > input:focus ~ .checkbox__label {
    text-decoration: underline;
    &::before{
        opacity: 0.75;
    }
}

.form-entry__options__radio > input:checked ~ .radio__label,
.form-entry__options__check > input:checked ~ .checkbox__label {
    &::before{
        opacity: 1;
    }
}

//////////////////////////////////////////////
// E. Form Feedback and Alerts
//////////////////////////////////////////////

[data-alert="form-errors"],
.form-entry__feedback {
    display: none;
}

.invalid > .form-entry__feedback{
    display: block;
}

.form-entry__feedback {
    font-size: 75%;
    margin-bottom: var(--spacer-1);

    strong {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

[dir="rtl"] {
    .form-entry__options__radio > .radio__label::before,
    .form-entry__options__radio > input[type="radio"],

    .form-entry__options__check > .checkbox__label::before,
    .form-entry__options__check > .checkbox__label::after,
    .form-entry__options__check > input[type="checkbox"] {
        left: unset;
        right: 0;
    }

}

//////////////////////////////////////////////
// E. Datepicker
//////////////////////////////////////////////

.datepicker {
  position: absolute;
  width: 100%;
  
  margin-top: var(--spacer-2);
  background-color: white;

  font-size: var(--font-size-md);
  
  display: none;
}

.datepicker__header {
  background-color: var(--primary);
  padding: var(--spacer-1);
  color: white;
  display: flex;
  justify-content: space-around;
}

.datepicker__calendar .dateButton {
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 15px;
  background: #eee;
}

// .datepicker__calendar .dateButton:focus,
// .datepicker__calendar .dateButton:hover {
//   padding: 0;
//   background-color: hsl(216, 80%, 92%);
// }

// .datepicker__calendar .dateButton:focus {
//   border-width: 2px;
//   border-color: rgb(100, 100, 100);
//   outline: 0;
// }

.datepicker__calendar .dateButton[aria-selected] {
  border-color: rgb(100, 100, 100);
}

.datepicker__calendar .dateButton[tabindex="0"] {
  background-color: hsl(216, 80%, 92%);
}

.datepicker__calendar .disabled {
  color: #afafaf;
}

.datepicker__calendar .disabled:hover {
  color: black;
}

.datepicker__calendar .dateButton:disabled {
  color: #777;
  background-color: #fff;
  border: none;
  cursor: not-allowed;
}

.datepicker__calendar .message {
  padding-top: 0.25em;
  padding-left: 1em;
  height: 1.75em;
  background: hsl(216, 80%, 55%);
  color: white;
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    div.goog-te-gadget {
        display: block !important;
    }
    
}
