/*

In this file:

// A. Variables
// B. Common Form Elements
// C. Checkboxes and Radios
// D. Switches
// E. Form Feedback and Alerts

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --input-border-width: var(--default-border-width);
    --input-border-color: currentColor;

    --form-field-padding-x: 1em;
    --form-field-padding-y: .75em;

    --checkbox-radio-size: 1em;
    --checkbox-radio-color: var(--secondary);
}

//////////////////////////////////////////////
// B. Basic Form Styles
//////////////////////////////////////////////

// Shared Styles

select,
textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="range"]) {
    border: none;
    background-color: transparent;
    color: inherit;

    border-bottom-width: var(--input-border-width);
    border-bottom-style: var(--default-border-style);
    border-bottom-color: var(--input-border-color);
}

button,
fieldset{
    border: none;
}

// Form Group

.form-group + .form-group {
    margin-top: var(--s4);
    margin-bottom: var(--s4);
}

.form-group__feedback {
    margin-bottom: var(--s2);

    strong {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

// Form Field

.form-group__field {
    --action-btn-size: 2.5rem;

    display: flex;
    
    @extend .subtle-fill;
    --subtle-fill-opacity: 0.05;

}

// Form Field Label

.field__label {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    &::after{
        content: "*";
        margin: auto 0.25rem;
        display: none;
    }
}

:required ~ .field__label::after {
    display: inline;
}

.field__label,
.field__input {
    padding-top: var(--form-field-padding-y);
    padding-bottom: var(--form-field-padding-y);
    padding-right: var(--form-field-padding-x);
    padding-left: var(--form-field-padding-x);
    
    line-height: 1.5;
}
 
.field__input:focus, 
.field__input:active,
.has-value .field__input {
    padding-top: calc(var(--form-field-padding-y) * 1.5);
    padding-bottom: calc(var(--form-field-padding-y) * 0.5);
}

.field__input:focus + .field__label,
.field__input:active + .field__label,
.has-value .field__label{
    display: block;
    transform-origin: top left;
    transform: scale(0.65);
    padding-top: calc( var(--form-field-padding-y) * 0.25 );
    padding-bottom: calc( var(--form-field-padding-y) * 0.25 );
    padding-left: 0;
    padding-right: 0;
    margin-left: var(--form-field-padding-x);
    margin-right: var(--form-field-padding-x);
}

.field__input-wrap {
    position: relative;
    width: 100%;

    @include add-caret("after");

    &::after{
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: var(--s2);
        margin-right: var(--s2);

        [dir="rtl"] & {
            right: unset;
            left: 0;
        }
    }
}

.has-value select.field__input {
    font-size: 99.99%;
}

.form-group__field.has-action > .field__input {
    padding-right: calc(var(--form-field-padding) + var(--action-btn-size));
}

.form-group__field.has-action > button {
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translatey(-50%);

    padding: 0;
    background: transparent;
    width: var(--action-btn-size);
    height: var(--action-btn-size);
    margin-left: calc(var(--form-field-padding-x) * 0.5);
    margin-right: calc(var(--form-field-padding-x) * 0.5);


    [dir="rtl"] & {
        right: unset;
        left: 0;
    }
}

// Field Assistance 

.form-group__assistance {
    margin-top: 0.5rem;
    padding-left: var(--form-field-padding-x);
    padding-right: var(--form-field-padding-x);
    opacity: 0.75;
}

//////////////////////////////////////////////
// C. Checkboxes and Radios
//////////////////////////////////////////////

.form-group__radio,
.form-group__checkbox {
    position: relative;
    padding-left: calc(var(--checkbox-radio-size) * 1.75);
    padding-right: calc(var(--checkbox-radio-size) * 1.75);
    color: inherit;
    // border: 1px solid red !important;
}

.form-group__radio > input[type="radio"],
.form-group__checkbox > input[type="checkbox"] {
    background-color: transparent;
    appearance: none;
    opacity: .01;
    z-index: -10;

}

//
// Make sure the label is only as wide as the
// inner text requires it to be.
//

.form-group__radio > .radio__label,
.form-group__checkbox > .checkbox__label {
    display: inline-block;
    width: auto;
    line-height: var(--base-line-height);
    margin-top: -0.375rem;
}

//
// Note, the :before pseudo-element is the new
// "bounds" or "box" of the checkbox.
// It must be the same height, width and
// position of the native checkbox element.
//

// .form-group__checkbox > input[type="checkbox"]{
//     background-color: red;
//     width: 300px;
//     height: 300px;
// }

.form-group__radio > input[type="radio"],
.form-group__radio > .radio__label::before,

.form-group__checkbox > input[type="checkbox"],
.form-group__checkbox > .checkbox__label::before,
.form-group__checkbox > .checkbox__label::after {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--checkbox-radio-size);
    width: var(--checkbox-radio-size);
}


// 
// Base styles for use on both
// pseudo elements.
//

.form-group__radio > .radio__label::before,
.form-group__radio > .radio__label::after,

.form-group__checkbox > .checkbox__label::before,
.form-group__checkbox > .checkbox__label::after {
    position: absolute;
    content: "";
}

//
// Styles for the custom box boundary.
//

.form-group__radio > .radio__label::before,
.form-group__checkbox > .checkbox__label::before {
    box-shadow: 0 0 0 var(--input-border-width) var(--input-border-color);
    height: var(--checkbox-radio-size);
    width: var(--checkbox-radio-size);
}

.form-group__radio > .radio__label::before,
.form-group__radio > .radio__label::after{
    border-radius: 100%;
}

//
// Defining States
//

.form-group__radio > input:focus ~ .radio__label,
.form-group__checkbox > input:focus ~ .checkbox__label {
    text-decoration: underline;
}

.form-group__checkbox > input:focus ~ .checkbox__label::before {
    border-color: transparent;
    // outline: 2px solid currentColor;
    // outline-offset: 3px;
}

//
// This recreates the "check" mark.
//

.form-group__checkbox > .checkbox__label::after {

    height: calc(var(--checkbox-radio-size) * .75);
    width: calc(var(--checkbox-radio-size) * .5);
    left: calc(var(--checkbox-radio-size) * .25);

    border-right: 0.25rem solid currentColor;
    border-bottom: 0.25rem solid currentColor;

    transform: rotate(45deg);

    [dir="rtl"] &{
        left: unset;
        right: calc(var(--checkbox-radio-size) * .25);
    }
}

.form-group__radio > .radio__label::after {

    background-color: currentColor;
    
    height: calc(var(--checkbox-radio-size) * .5);
    width: calc(var(--checkbox-radio-size) * .5);
    left: calc(var(--checkbox-radio-size) * .25);
    top: calc(var(--checkbox-radio-size) * .25);

    [dir="rtl"] & {
        left: unset;
        right: calc(var(--checkbox-radio-size) * .25);
    }
}


input:checked ~ [class*="__label"]::before {
    border: none;
    box-shadow: 0 0 0 var(--input-border-width) currentColor;
    background-color: currentColor;
}

//////////////////////////////////////////////
// E. Form Feedback and Alerts
//////////////////////////////////////////////

.invalid-feedback {
    display: none;
}