%list-no-style {
    list-style: none;
    line-height: normal;
}

////////////////////////////////////////
// A. Caret
////////////////////////////////////////

$default-caret-size: 0.25em;
$default-caret-margin: 0.375em;

// Create caret icon

@mixin caret-icon( $size: $default-caret-size ) {
    border-top: $size solid;
    border-right: $size solid transparent;
    border-bottom: 0;
    border-left: $size solid transparent;
}

// Add Caret ::aftter

@mixin add-caret( $location: "append" ) {

    display: flex;
    align-items: center;
    
    &::after {
        content: "";
        display: inline-block;

        @include caret-icon;

        margin-left: $default-caret-margin;
        margin-right: $default-caret-margin;
        color: inherit;
    } 
    
    @if $location == "prepend" {
        flex-direction: row-reverse;
    }
}

////////////////////////////////////////
// B. Subtle Fill
////////////////////////////////////////

.subtle-fill {
    --subtle-fill-opacity: 0; // hide until otherwise specified
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        background-color: currentColor;
        pointer-events: none;

        transition: opacity 0.5s;
        opacity: var(--subtle-fill-opacity);
    }
}

////////////////////////////////////////
// C. Bar
////////////////////////////////////////

// :root{
// }

// %accent-bar{
//     position: relative;

//     &::before {
//         content: "";
//         position: absolute;
//         height: var(--accent-bar-size);
//         opacity: var(--accent-bar-opacity);
//         background-color: currentColor;
//         top: 0;
//         right: 0;
//         left: 0;
//     }
// }

// .accent-bar-top{
//     @extend %accent-bar;

//     &::after {
//     }
// }

// .accent-bar-right {
//     @extend %accent-bar;
//     &::after {
//         height: unset;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         width: var(--accent-bar-size); 
//     }
// }

// .accent-bar-bottom {
//     @extend %accent-bar;
//     &::after {
//         top: calc(100% - var(--accent-bar-size));
//         right: 0;
//         left: 0;
//     }
// }

// .accent-bar-left {
//     @extend %accent-bar;
//     &::after {
//         height: unset;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         width: var(--accent-bar-size); 
//     }
// }

