/*

In this file:

// A. Variables
// B. Center Horizontal
// C. List Nav Style
// D. Hover Focus
// E. Caret
// F. Subtle Fill
// G. Body Width
// H. HTML Scroll Behavior
// I. Truncate Text

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

:root {
    --body-min-width: 325px;
    --body-max-width: 2000px;
}

////////////////////////////////////////
// B. Horizontal Center
////////////////////////////////////////

%center-horizontal{
    margin-left: auto;
    margin-right: auto;
}

////////////////////////////////////////
// C. List Nav Style
////////////////////////////////////////

%list-nav-style {
    list-style: none;
    line-height: normal;

    > li {
        position: relative;
    }

    a[aria-current] {
        font-weight: var(--base-font-weight-bold);
        text-decoration: underline;
    }
}

//////////////////////////////////////////////
// D. Hover Focus
//////////////////////////////////////////////

%hover-focus {
    &:hover,
    &:focus {
        &:not([class*="-icon"]):not([class*="form-entry__field__btn"]):not([aria-disabled="true"]) {
            text-decoration: underline;
        }
    }

    &:focus {
        outline-color: currentColor;
        outline-style: dotted;
        outline-width: calc(var(--default-border-width) * 2);
        outline-offset: calc(var(--default-border-width) * -2);
    }
}

////////////////////////////////////////
// E. Caret
////////////////////////////////////////

$default-caret-size: 0.25em;
$default-caret-margin: 0.375em;

// Create caret icon

@mixin caret-icon( $size: $default-caret-size ) {
    border-top: $size solid;
    border-right: $size solid transparent;
    border-bottom: 0;
    border-left: $size solid transparent;
}

// Add Caret ::aftter

@mixin add-caret( $location: "append" ) {

    display: flex;
    align-items: center;
    
    &::after {
        content: "";
        display: inline-block;

        @include caret-icon;

        margin-left: $default-caret-margin;
        margin-right: $default-caret-margin;
        color: inherit;
        
    } 
    
    @if $location == "prepend" {
        flex-direction: row-reverse;
    }
}

////////////////////////////////////////
// F. Subtle Fill
////////////////////////////////////////

%subtle-fill {
    // hide until otherwise specified
    --subtle-fill-opacity: 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        background-color: currentColor;
        pointer-events: none;

        opacity: var(--subtle-fill-opacity);
    }
}

////////////////////////////////////////
// G. Body Width
////////////////////////////////////////

body {
    overflow-x: hidden;
    min-width: var(--body-min-width);
    max-width: var(--body-max-width);
    
    @extend %center-horizontal !optional;
}

////////////////////////////////////////
// H. HTML Scroll Behavior
////////////////////////////////////////

html {
    scroll-behavior: smooth;
}

////////////////////////////////////////
// I. Truncate Text
////////////////////////////////////////

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}