/*

In this file:

// A. Variables
// B. Grid Configuration
// C. gap
// C. Colums
// D. Column Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$columns: 12;

//////////////////////////////////////////////
// B. Grid Configuration
//////////////////////////////////////////////

.grid:not([class*="__col"]) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="grid__col"]{
    flex: 1 1 100%;
    max-width: 100%;
}

//////////////////////////////////////////////
// B. Grid gap
//////////////////////////////////////////////

[class*="grid--gap"] {
    --gap-size: var(0);

    margin-top: calc(-1 * var(--gap-size));
    margin-right: calc(-0.5 * var(--gap-size));
    margin-left: calc(-0.5 * var(--gap-size));

    > * {
        margin-top: var(--gap-size);
        padding-left: calc(0.5 * var(--gap-size));
        padding-right: calc(0.5 * var(--gap-size));
    }
}

@each $key, $value in $spacers {
    .grid--gap-#{$key} {
        --gap-size: #{$value};
    }
}

.grid--gap-border {
    --gap-size: var(--default-border-width);
}

//////////////////////////////////////////////
// C. Create Grid Classes
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
    $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .grid--cols#{$mod} {
            [class*="grid__col"]:not([class*="col-"]) {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
        
        .grid--cols-auto#{$mod} {
            [class*="grid__col"] {
                flex: none;
                width: auto;
            }
        }

        @for $i from 2 through 6 {
            .grid--cols-#{$i}#{$mod} {
                [class*="grid__col"]:not([class*="col-"]) {
                    flex: 0 0 (100% / $columns * $i);
                }
            }
        }

        @for $i from 1 through $columns {
            .order-#{$i}#{$mod} {
                order: $i;
            }
        }

    }
}

//////////////////////////////////////////////
// D. Create Column Classes
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        @for $i from 1 through $columns {
            .grid__col-#{$i}#{$mod} {
                flex: 0 0 100% / $columns * $i;
                max-width: 100% / $columns * $i;
            }
        }

        .grid__col-auto#{$mod} {
            flex: none;
            width: auto;
        }
    }
}