/*

In this file:

// A. Shared Styles
// B. Screen Reader Only Utility
// C. Focusable Only Utility

*/

//////////////////////////////////////////////
// A. Shared Styles
//////////////////////////////////////////////

[class^="nyc_icon_"],
[class*="nyc_icon_"] {
    position: relative;
    font-size: 1.25em !important;
    line-height: 0.75;
    vertical-align: -0.125em;
    pointer-events: none;

    &:not([class*="_subway-"]) {
      display: inline-block;
    }

    &[class*="-left"], 
    &[class*="-right"] {
      [dir="rtl"] & {
        transform: scaleX(-1);
      }
    }
}

.nyc_icon_font {
  font-family: 'NYC-Core-Icons';
}

.nyc_icon_loading.rotate {
  display: inline-block;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

[class*="nyc_icon_subway-"] {
    position: relative;
    display: flex;

    &::before {
        position: relative;
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        transform-origin: center;
        transform: scale(0.875);
        
        background-color: white;

        z-index: 1;
        border-radius: 100%;
    }

    &[class*="-express"]::after{
      border-radius: unset;
      transform: rotate(45deg) scale(0.6);
    }
}

.nyc_icon_subway-a, 
.nyc_icon_subway-c, 
.nyc_icon_subway-e
{
  color: #0036a8 !important;
}

.nyc_icon_subway-b, 
.nyc_icon_subway-d, 
.nyc_icon_subway-f, 
.nyc_icon_subway-f-express,
.nyc_icon_subway-m
{
  color: #ff6319 !important;
}

.nyc_icon_subway-g {
  color: #6cbe45 !important;
}

.nyc_icon_subway-l {
  color: #a7a9ac !important;
}

.nyc_icon_subway-j, 
.nyc_icon_subway-z
{
  color: #996633 !important;
}

.nyc_icon_subway-n,
.nyc_icon_subway-q,
.nyc_icon_subway-r,
.nyc_icon_subway-w
{

  &::after {
    background-color: black;
  }

  color: #FCCD01 !important;
}

.nyc_icon_subway-1, 
.nyc_icon_subway-2, 
.nyc_icon_subway-3
{
  color: #ee352e !important;
}

.nyc_icon_subway-4, 
.nyc_icon_subway-5, 
.nyc_icon_subway-6, 
.nyc_icon_subway-6-express
{
  color: #00933c !important;
}

.nyc_icon_subway-7, 
.nyc_icon_subway-7-express
{
  color: #b933ad !important;
}

.nyc_icon_subway-t {
  color: #00add0 !important;
}

.nyc_icon_subway-s {
  color: #808183 !important;
}