/*

In this file:

// A. Variables
// B. Articles

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
    --article-sidebar-width: 300px;
}

//////////////////////////////////////////////
// B. Articles
//////////////////////////////////////////////

/*

article--header-sidebar-content
article--sidebar-content
article--header-content
article--sidebar-header-content-sidebar
article--legal-sidebar-content

*/

[class*="article--"] {
    display: grid;
}

.article--header-sidebar-content .article__sidebar {
    @include breakpoints-down(lg) {
        padding: var(--s2);
    }
}

.article__content {
    overflow: hidden;

    section {
        margin-top: var(--s5);
        margin-bottom: var(--s5);
        padding-left: var(--s2);
        padding-right: var(--s2);
    }

    h1, h2, h3, h4, h5, h6, p, ul {
        @extend %center-horizontal !optional;
        @extend .narrow !optional;
    }

    figure {
        @extend %center-horizontal !optional;
        max-width: var(--medium-width);

        @extend .box-shadow-1 !optional;
    }
}

@include breakpoints-up(lg) {

    [class*="article--"] {

        .article__header {
            grid-area: header;
        }
        
        .article__sidebar {
            position: relative;
            grid-area: sidebar;
        }

        .article__content {
            grid-area: content;
        }

        .article__related {
            grid-area: related;
        }
    }

    .article--header-sidebar-content {
        grid-template-columns: var(--article-sidebar-width) 1fr;
        grid-template-areas:
            "header header"
            "sidebar content";
    }

    .article--sidebar-content {
        grid-template-columns: var(--article-sidebar-width) 1fr;
        grid-template-areas:
            "sidebar content";
    }

    .article--sidebar-header-content-sidebar {
        --article-sidebar-width: 250px;
        grid-template-columns: var(--article-sidebar-width) 1fr  var(--article-sidebar-width);
        grid-template-areas:
            "header header header"
            "sidebar content related";
    }

}




.cool-nav {
    a[aria-current="page"]{
        background-color: var(--primary);
        color: white !important;
    }

}
