/*

In this file:

// A. Variables
// B. Articles

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --article-sidebar-width: 340px;
    --article-text-width: var(--narrow-width);
}

//////////////////////////////////////////////
// B. Articles
//////////////////////////////////////////////

/*

article--header-sidebar-content
article--sidebar-content
article--header-content
article--sidebar-header-content-sidebar
article--legal-sidebar-content

*/

[class*="article--"] {
    display: grid;
}

.article__content {
    overflow: hidden;

    @at-root .article__content__inner {

        @include breakpoints-up(lg){
            margin-top: var(--spacer-5);
            margin-bottom: var(--spacer-5);
        }
    }

    header,
    section {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    header > *,
    section > *,
    footer {
        @extend %center-horizontal !optional;
    }
    
    footer {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
        padding-top: var(--spacer-2);

        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: currentColor;
    }

    h1, h2, h3, h4, h5, h6, p,
    ul:not([class]), ol,
    header > *,
    section > div,
    footer {
        @extend .container !optional;
        max-width: var(--narrow-width);
    }

    figure,
    section > div {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    figure {
        max-width: var(--medium-width);
    }
}

@include breakpoints-up(lg) {

    [class*="article--"] {

        .article__header {
            grid-area: header;
        }
        
        .article__sidebar {
            position: relative;
            grid-area: sidebar;
        }

        .article__content {
            grid-area: content;
        }

        .article__related {
            grid-area: related;
        }
    }

    .article--header-sidebar-content {
        grid-template-columns: var(--article-sidebar-width) 1fr;
        grid-template-areas:
            "header header"
            "sidebar content";
    }

    .article--sidebar-content {
        grid-template-columns: var(--article-sidebar-width) 1fr;
        grid-template-areas:
            "sidebar content";

    }

    .article--sidebar-header-content-sidebar {
        --article-sidebar-width: 250px;
        grid-template-columns: var(--article-sidebar-width) 1fr  var(--article-sidebar-width);
        grid-template-areas:
            "header header header"
            "sidebar content related";
    }

}



.article__sidebar > div{
    padding: var(--spacer-2);
}

.cool-nav {
    a[aria-current="page"]{
        background-color: var(--primary);
        color: white !important;
    }

}
