/*

In this file:

// A. Variables
// B. Alert Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

//////////////////////////////////////////////
// B. HTML and Body
//////////////////////////////////////////////

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    
    > header, 
    > main,
    > footer {
        width: 100%;
    }

    > main {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

//////////////////////////////////////////////
// B. Nav Bar Right
//////////////////////////////////////////////

[data-grid="nav-bar"]{
    display: grid;
    grid-template-columns: auto fit-content(1em) fit-content(1em);
    align-items: center;

    grid-template-areas:
        "logo nav actions";

    > [data-grid="brand"] {
        grid-area: logo;
    }

    > [data-grid="nav"] {
        grid-area: nav;
    }

    > [data-grid="actions"] {
        grid-area: actions;
    }

    @include breakpoint-up(lg) {

        > [data-grid="nav"] {
            display: flex;
            height: 100%;

            .nav > li {
                display: flex;
                height: 100%;
            }

            .nav > li > a {
                margin-top: auto;
                margin-bottom: auto;
            }

            margin-right: var(--s2);
        }
    }

    // Mobile 

    @supports (display: grid) {
        @include breakpoint-down(lg) {

            grid-template-columns: auto fit-content(1em);

            grid-template-areas:
                "logo actions"
                "nav nav";
        }
    }

}

//////////////////////////////////////////////
// B. Article Two Column
//////////////////////////////////////////////

//////////////////////////////////////////////
// B. Article Two Column
//////////////////////////////////////////////

[data-grid="article-two-column"],
[data-grid="article-two-column"] > [data-grid="header"] {
    display: grid; 
    grid-template-columns: var(--aside-w) var(--main-w);
}

[data-grid="article-two-column"] {
    --aside-w: 280px;
    --main-w: 1fr;

    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

    > [data-grid="header"] {
        grid-area: header;
        
        .backdrop__image{
            grid-column: 1 / 3;
        }

        .backdrop__cover {
            grid-column: 2 / 3;
        }
    }

    > [data-grid="sidebar"] {
        grid-area: aside;
    }

    > [data-grid="main"] {
        grid-area: main;
    }

    // Mobile 

    @supports (display: grid) {
        @include breakpoint-down(lg) {

            grid-template-columns: auto;

            grid-template-areas:
                "header"
                "aside"
                "main"
                "footer";

            > [data-grid="header"] .backdrop__cover {
                grid-column: 1 / 3;
            }
        }
    }
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    [data-grid="article-two-column"] > [data-grid="header"] {
        grid-template-rows: var(--backdrop-fixed-height);
    }
}


