/*

In this file:

// A. Placeholders
// B. Link Styles

*/

//////////////////////////////////////////////
// A. Placeholders
//////////////////////////////////////////////

%expanded-link {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        z-index: 1;
        pointer-events: auto;
    }
}

//////////////////////////////////////////////
// B. Link Styles
//////////////////////////////////////////////

a {
    @extend %hover-focus;

    color: inherit;

    &.underline{
        text-decoration: underline;
    }

    &.expanded-link {
        @extend %expanded-link;
    }
}

p > a {
    text-decoration: underline;
}