/*

In this file:

// A. Placeholders
// B. Link Styles

*/

//////////////////////////////////////////////
// A. Placeholders
//////////////////////////////////////////////

%expanded-link {
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
    }
}

//////////////////////////////////////////////
// B. Link Styles
//////////////////////////////////////////////

a{
    @extend .hover-focus;

    color: inherit;

    &.underline{
        text-decoration: underline;
    }

    &.expanded-link {
        @extend %expanded-link;
    }
}

p > a {
    text-decoration: underline;
}

//////////////////////////////////////////////
// C. Ancor Links
//////////////////////////////////////////////

html {
    scroll-behavior: smooth;
}

a[data-link="external"]::after {

    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f35d";


}

[data-fa-pseudo-element=":after"]{
    font-size: 0.6em;
    color: currentColor;
    margin-left: var(--s1);
    vertical-align: baseline;
}