/*

In this file:

// A. Modal Styles
// B. Modal Animation

*/

//////////////////////////////////////////////
// A. Modal Styles
//////////////////////////////////////////////

.modal {
  position: relative;
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }

}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding: var(--s2);
    
    // Use Psuedo element for background
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.85;
    }
    
}

.modal__container {
  @extend .box-shadow-3 !optional;
  position: relative;
  z-index: auto;
  width: 100%;
  max-height: calc(100vh - (var(--s2) * 2));
  background-color: inherit;
  
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  
  margin-top: var(--s3);
  margin-bottom: var(--s3);

}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--s1) var(--s2);

  h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }

  button{
    flex-shrink: 0;
  }
}

.modal__body{
  flex-shrink: 1; 
  overflow-y: auto;
}

.modal__body, 
.modal__footer{
  padding: var(--s2);
}

.modal__footer {
  // Put styles here
}

//////////////////////////////////////////////
// A. Modal Animation
//////////////////////////////////////////////

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal--slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide .modal__container,
.modal--slide .modal__overlay {
  will-change: transform;
}