/*

In this file:

// A. Variables
// B. Modal Animation

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root{
  --modal-padding: var(--s2);
  --modal-overlay-opacity: 0.85;
}

//////////////////////////////////////////////
// A. Modal Block
//////////////////////////////////////////////

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-content: center;

  justify-content: center;

  z-index: 10000;
  padding: var(--modal-padding);

  // Use psuedo element for background

  &[class*="theme-"]{
    background-color: transparent !important;
  }
  
  &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: var(--modal-overlay-opacity);
  }

  display: none;

  &[aria-hidden="false"] {
    display: flex;
  }

}

//////////////////////////////////////////////
// A. Modal Elements
//////////////////////////////////////////////

.modal__content {
  @extend %center-horizontal !optional;

  position: relative;
  z-index: auto;
  width: 100%;
  max-height: calc(100vh - (var(--modal-padding) * 2));
  background-color: inherit;
  
  display: flex;
  flex-direction: column;
  
  margin-top: var(--modal-padding);
  margin-bottom: var(--modal-padding);

}

.modal__head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: calc(var(--modal-padding) * 0.5) var(--modal-padding);

  h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }

  button{
    flex-shrink: 0;
  }
}

.modal__body {
  flex-shrink: 1; 
  overflow-y: auto;
}

.modal__body, 
.modal__foot {
  padding: var(--modal-padding);
}

//////////////////////////////////////////////
// A. Modal Animation
//////////////////////////////////////////////

// @keyframes mmfadeIn {
//     from { opacity: 0; }
//       to { opacity: 1; }
// }

// @keyframes mmslideIn {
//   from { transform: translateY(5%); }
//     to { transform: translateY(0); }
// }

// // .modal--slide[aria-hidden="false"]::before {
// //   animation: mmfadeIn .3s;
// // }

// .modal--slide[aria-hidden="false"] .modal__content {
//   animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
//   animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
// }

// .modal--slide .modal__content,
// .modal--slide::before {
//   will-change: transform;
// }