/*

In this file:

// A. Opacities Map
// B. Opacity Utilities

*/

//////////////////////////////////////////////
// A. Opacities Map
//////////////////////////////////////////////

$opacities: (
    10: 0.10,
    20: 0.20,
    30: 0.30,
    40: 0.40,
    50: 0.50,
    60: 0.60,
    70: 0.70,
    80: 0.80,
    90: 0.90
);

//////////////////////////////////////////////
// B. Opacity Utilities
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        @each $name, $value in $opacities {
            .opacity-#{$name}#{$mod} {
                opacity: $value;
            }
        }
    }
}