/*

In this file:

// A. CSS Reset
// B. Margin Bottom
// C. Presets
// D. Forms

*/

//////////////////////////////////////////////
// A. CSS Reset
//////////////////////////////////////////////

* {
    margin: 0;
    padding: 0;
    border: unset;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    &:not([class]){
        margin: 0;
    }
}

//////////////////////////////////////////////
// B. Margin Bottom
//////////////////////////////////////////////

// Remove bottom margins on specific ':last-child' selectors 

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
dl,
dd,
blockquote,
address {
    &:last-child {
        margin-bottom: 0;
    }
}

//////////////////////////////////////////////
// C. Presets
//////////////////////////////////////////////

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    line-height: 1.125;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(black, 0);
}

body {
    position: relative;
    font-weight: normal;
    overflow-x: hidden;
    font-family: sans-serif;

    // Font Smoothing
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    color: inherit;
    font-size: inherit;
    border: unset;
    border-radius: unset;

    &::-moz-focus-inner {
        padding: 0;
        border: 0
    }
}

a, 
button{
    > * {
        pointer-events: none;
    }
}

//////////////////////////////////////////////
// D. Forms
//////////////////////////////////////////////

label,
.label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: inherit;
}

select{
    border-radius: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    appearance: unset;
    
    // Hide Select default icon on IE
    &::-ms-expand {
        display: none;
    }
}

input{
    margin: unset;
    padding: unset;

    &::-ms-clear {
        display: none;
        height: 0;
        width: 0;
    }
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

// Remove FireFox specific 'inner-focus' styles
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

legend {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    + * {
        clear: both;
    }
    
    // Correct color inheritance in IE
    color: inherit;
    display: table;

    // Correct the text wrapping in Edge and IE
    line-height: normal;
    max-width: 100%;
    white-space: normal;
}

fieldset {
    display: table-cell;
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}