/*

In this file:

// A. Variables
// B. Box Shadows
// C. Text Shadows
// D. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --base-shadow-unit: 1rem;
    --base-shadow-opacity: 0.125;
}

//////////////////////////////////////////////
// B. Box Shadows
//////////////////////////////////////////////

[class*="box-shadow"] {
    --shadow-opacity: 0;

    box-shadow:
        0 calc(var(--base-shadow-unit) * 0.5) calc(var(--base-shadow-unit) * 1) rgba(0, 0, 0, calc(var(--shadow-opacity) * 1)),
        0 calc(var(--base-shadow-unit) * 1) calc(var(--base-shadow-unit) * 2) rgba(0, 0, 0, calc(var(--shadow-opacity) * 0.5)),
        0 calc(var(--base-shadow-unit) * 1.5) calc(var(--base-shadow-unit) * 3) rgba(0, 0, 0, calc(var(--shadow-opacity) * 0.25));
}

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);
        
        .box-shadow-1#{$mod} {
            --base-shadow-unit: 0.5rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-2#{$mod} {
            --base-shadow-unit: 1.75rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-3#{$mod} {
            --base-shadow-unit: 2.5rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }
    }
}


//////////////////////////////////////////////
// C. Text Shadows
//////////////////////////////////////////////

.text-shadow {
    text-shadow: 0 0 6px rgba(black, 0.5);
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    [class*="box-shadow"] {
        --base-shadow-opacity: 0.25;
       box-shadow:0 0 1.5rem hsla(0, 0%, 0%, var(--base-shadow-opacity));
    }
}