/*

In this file:

// A. Variables
// B. Spacer Map
// C. Responsive Spacing Classes
// D. Static Spacing Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {    
    --s1: 0.5rem;
    --s2: 1rem;
    --s3: 2rem;
    --s4: 3rem;
    --s5: 5rem;
}

//////////////////////////////////////////////
// B. Spacer Map
//////////////////////////////////////////////

$spacers: (
    1: var(--s1), 
    2: var(--s2), 
    3: var(--s3), 
    4: var(--s4), 
    5: var(--s5)
);

//////////////////////////////////////////////
// C. Padding and Margin Spacer Classes
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        @each $key, $value in $spacers {

            // Padding

            .p-#{$key}#{$mod} {
                padding: #{$value} !important;
            }

            .px-#{$key}#{$mod} {
                padding-left: #{$value} !important;
                padding-right: #{$value} !important;
            }

            .py-#{$key}#{$mod} {
                padding-top: #{$value} !important;
                padding-bottom: #{$value} !important;
            }

            .pt-#{$key}#{$mod} {
                padding-top: #{$value} !important;
            }

            .pr-#{$key}#{$mod} {
                padding-right: #{$value} !important;
            }

            .pb-#{$key}#{$mod} {
                padding-bottom: #{$value} !important;
            }

            .pl-#{$key}#{$mod} {
                padding-left: #{$value} !important;
            }

            // Margin

            .m-#{$key}#{$mod} {
                margin: #{$value} !important;
            }

            .mx-#{$key}#{$mod} {
                margin-left: #{$value} !important;
                margin-right: #{$value} !important;
            }

            .my-#{$key}#{$mod} {
                margin-top: #{$value} !important;
                margin-bottom: #{$value} !important;
            }

            .mt-#{$key}#{$mod} {
                margin-top: #{$value} !important;
            }

            .mr-#{$key}#{$mod} {
                margin-right: #{$value} !important;
            }

            .mb-#{$key}#{$mod} {
                margin-bottom: #{$value} !important;
            }

            .ml-#{$key}#{$mod} {
                margin-left: #{$value} !important;
            }

            // Negative Margin

            .mx-n#{$key}#{$mod} {
                margin-left: calc(#{$value} * -1) !important;
                margin-right: calc(#{$value} * -1) !important;
            }

            .my-n#{$key}#{$mod} {
                margin-top: calc(#{$value} * -1) !important;
                margin-bottom: calc(#{$value} * -1) !important;
            }

            .mt-n#{$key}#{$mod} {
                margin-top: calc(#{$value} * -1) !important;
            }

            .mr-n#{$key}#{$mod} {
                margin-right: calc(#{$value} * -1) !important;
            }

            .mb-n#{$key}#{$mod} {
                margin-bottom: calc(#{$value} * -1) !important;
            }

            .ml-n#{$key}#{$mod} {
                margin-left: calc(#{$value} * -1) !important;
            }

        }
    }
}

////////////////////////////////////////////
// D. Padding and Margin Static Classes
////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .p-0#{$mod} {
            padding: 0 !important;
        }

        .m-0#{$mod} {
            margin: 0 !important;
        }

        .mt-0#{$mod} {
            margin-top: 0 !important;
        }

        .mr-0#{$mod} {
            margin-right: 0 !important;
        }

        .mb-0#{$mod} {
            margin-bottom: 0 !important;
        }

        .ml-0#{$mod} {
            margin-left: 0 !important;
        }

        .mx-auto#{$mod} {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .my-auto#{$mod} {
            margin-top: auto !important;
            margin-bottom: auto !important;
        }

        .mt-auto#{$mod} {
            margin-top: auto !important;
        }

        .mr-auto#{$mod} {
            margin-right: auto !important;
        }

        .mb-auto#{$mod} {
            margin-bottom: auto !important;
        }

        .ml-auto#{$mod} {
            margin-left: auto !important;
        }
    }
}