
.tabs {

    [role="tablist"]
    [role="tabpanel"]{
        position: relative;
    }

    [role="tablist"] {
        align-items: baseline;
        z-index: 1000;

    }

    [role="tabpanel"] {

        margin-top: calc(var(--default-border-width) * -1);
        z-index: 950;
    }
    
    [role="tablist"] > li > [role="tab"] {

        padding: 0.5em 1em;
        border-top-style: var(--default-border-style);
        border-top-width: var(--default-border-width);
        

        &[aria-selected="false"] {

            border-bottom-style: var(--default-border-style);
            border-bottom-width: var(--default-border-width);
        }
        
        &[aria-selected="true"] {
            padding-top: 1.5rem;

            &::after{
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                left: 0;
                height: .125rem;
                background-color: currentColor;
                z-index: 5500;
            }


        }
    }
}

.tabs--fill {

    [role="tablist"]  {
        display: flex;
        flex-direction: row;

    }

    [role="tablist"] > li {
        flex: 1;
    }

    [role="tablist"] > li > [role="tab"] {
    display: block;
    width: 100%;
    }




}
