/*

In this file:

// A. Variables
// B. Table Block
// C. Table Modifiers
// D. Table Scroll Block

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --table-cell-padding-x: var(--spacer-2);
    --table-cell-padding-y: 0.75em;
 
    --table-scroll-min-width: 800px;
}

//////////////////////////////////////////////
// B. Table Block
//////////////////////////////////////////////

.table {
    table-layout: fixed;
    width: 100%;

    font-size: var(--font-size-rg);

    caption-side: bottom;

    caption{
        padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
        text-align: start;
        opacity: 0.75;
        font-size: var(--font-size-sm);
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
    }

    th, 
    td {
        text-align: inherit;
        vertical-align: top;
        padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    }

    td {
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
    }

    thead th {
        vertical-align: bottom;

        &:not([class*="width-"]) {
            width: auto;
        }

        &.w-fit{
            width: 2%;
            white-space: nowrap;
        }
    } 
    
    thead tr {
        border-top-style: unset;
    }
}

//////////////////////////////////////////////
// C. Table Modifiers
//////////////////////////////////////////////

.table--striped {
    tbody tr:nth-of-type(odd) td {
        @extend %subtle-fill !optional;
        --subtle-fill-opacity: 0.0375;
    }
}

.table--va-middle{
    tbody td {
        vertical-align: middle;
    }
}

.table--divider {
    border-collapse: separate;
    
    th,
    td {

        &:not(:first-child){
            border-left-width: var(--default-border-width);
            border-left-style: var(--default-border-style);
        }
    }
}

[dir="ltr"] .table--edge {
    th,
    td {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

[dir="rtl"] .table--edge {
    th,
    td {
        &:first-child {
            padding-right: 0;
        }

        &:last-child {
            padding-left: 0;
        }
    }
}

@each $breakpoint in map-keys($breakpoints) {

    @include breakpoints-down($breakpoint) {
    
        $mod: breakpoint-modifier($breakpoint, $breakpoints);
        
        .table--stack#{$mod} {

            thead {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr:not(:first-child){
                border-top-width: calc(var(--default-border-width) * 2);
                border-top-style: var(--default-border-style);
            }

            td {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                &:first-child{
                    border: unset;
                }
            }
            
            .td-content{
                text-align: right;
            }

            td::after {
                content: attr(data-before);
                font-weight: bold;
            }

            &.table--edge{
                td{
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &.table--divider{
                border-collapse: collapse;
            }  
        }
    }
}

//////////////////////////////////////////////
// D. Table Scroll Block
//////////////////////////////////////////////

.table-scroll {
    position: relative;

    caption {
        caption-side: bottom;
        text-align: left;
    }

    .table-scroll__assist {
        position: relative;
        z-index: 400;
        margin-bottom: 0.5rem;
        opacity: 0.75;

        display: none;
    }

    .table-scroll__container{
        max-width: 100%;
        overflow: auto;

        table{
            overflow: hidden;
            min-width: var(--table-scroll-min-width);
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            z-index: 600;
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), transparent);
            transition: opacity 0.2s;
            pointer-events: none;

            display: none;
        }

        &[data-scrolling=true]::after{
            opacity: 0;
        }

    }

    &[data-scroll=true] {
        .table-scroll__container::after,
        .table-scroll__assist{
            display: block;
        }
    }   
}