/*

In this file:

// A. Variables
// B. Tabs Nav Block 
// C. Tabs Nav Modifier
// D. Tabs Panel Element
// E. Tabs With 'theme-*' Class

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

:root {
    --tab-padding-x: 1em;
    --tab-padding-y: 0.5em;

    --accent-bar-size: calc(var(--default-border-width) * 2);
    --accent-bar-opacity: 1;
}

////////////////////////////////////////
// B. Tabs Nav Block
////////////////////////////////////////

.tabs-nav {
    list-style: none;
    position: relative;

    > li > a,
    > li > button {
        position: relative;
        padding: var(--tab-padding-y) var(--tab-padding-x);

        @extend %subtle-fill !optional;
        --subtle-fill-opacity: 0.05;

        display: block;
        width: 100%;
        text-align: center;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: var(--accent-bar-size);
            background-color: currentColor;
            opacity: 0.125;
        }
    }

    [aria-current="page"],
    [aria-selected="true"] {
        font-weight: var(--base-font-weight-bold);

        &::after {
            opacity: 1;
        }
    }
}

.tabs-nav:not([class*="tabs-nav--across"]) {

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: var(--accent-bar-size);
        background-color: currentColor;
        opacity: 0.125;
        display: none;
    }

    > li{
        margin-bottom: var(--accent-bar-size);
    }

    > li > a,
    > li > button {
        padding-bottom: calc( var(--tab-padding-y) + var(--accent-bar-size));

        &::after,
        &::before {
            display: none;
        }

        &::after {
            top: 100%;
        }
    }

    [aria-current="page"],
    [aria-selected="true"] {
        &::after,
        &::before {
            display: block;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoints-up($breakpoint) {
            $mod: breakpoint-modifier($breakpoint, $breakpoints);

            &.tabs-nav--horizontal#{$mod} {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                &::before {
                    display: block;
                }

                > li {
                    margin-bottom: 0;
                }
            }
        }
    }
}

////////////////////////////////////////
// C. Tabs Nav Modifier
////////////////////////////////////////

.tabs-nav--across {

    > li > a,
    > li > button {
        padding-top: calc(var(--tab-padding-y) + var(--accent-bar-size));
    }

    [aria-current="page"],
    [aria-selected="true"] {
        &::before {
            display: none;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoints-up($breakpoint) {
            $mod: breakpoint-modifier($breakpoint, $breakpoints);

            &.tabs-nav--horizontal#{$mod} {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                > li {
                    flex: 1;
                    flex-basis: 0;
                }
            }
        }
    }
}

////////////////////////////////////////
// D. Tabs Panel Element
////////////////////////////////////////

.tabs__panel {
    display: none;

    &.shown{
        display: block;
    }
}

////////////////////////////////////////
// E. Tabs With 'theme-*' Class
////////////////////////////////////////

.tabs-nav,
[data-tab-group] {
    &[class*="theme-"] {
        ::after {
            display: none;
        }
        [aria-current="page"],
        [aria-selected="true"] {
            text-decoration: underline;
        }
    }
}