
.tabs {

    [role="tablist"]
    [role="tabpanel"]{
        position: relative;
    }

    [role="tablist"] {
        @extend %list-no-style;
        display: flex;
        align-items: baseline;
        z-index: 1000;
    }

    [role="tabpanel"] {
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: inherit;

        margin-top: calc(var(--default-border-width) * -1);
        z-index: 950;
    }

    // [role="tablist"] > li {
    //     &:not(:first-child) {
    //         margin-left: calc(var(--default-border-width) * -1);
    //     }
    // }
    
    [role="tablist"] > li > [role="tab"] {

        padding: 0.5em 1em;

        &[aria-selected="false"] {
            @extend .subtle-fill;
            --subtle-fill-opacity: 0.05;
            outline: 0;
            border-width: var(--default-border-width);
            border-style: var(--default-border-style);
            border-color: inherit;
        }
        
        &[aria-selected="true"] {
            position: relative;

            outline: none;
            z-index: 500;
            border-width: var(--default-border-width);
            border-style: var(--default-border-style);
            border-color: inherit;
            border-bottom-color: transparent;
            padding-top: 1.25rem;

            &::after{
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                left: 0;
                height: .125rem;
                background-color: currentColor;
                z-index: 5500;
            }


        }
    }
}

.tabs--fill {

[role="tablist"]  {
    display: flex;
    flex-direction: row;

}

[role="tablist"] > li {
    flex: 1;
}

[role="tablist"] > li > [role="tab"] {
   display: block;
   width: 100%;
}




}
