/*

In this file:

// A. Variables
// B. Z-index Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$z-indexes: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000; 

//////////////////////////////////////////////
// B. Z-index Classes
//////////////////////////////////////////////

[class*="z-index"]{
    position: relative;
}

@each $z-index in $z-indexes {
    .z-index-#{$z-index} {
        z-index: $z-index;
    }
}