/*

In this file:

// A. Bootstrap colors
// B. Theme colors
// C. Sitewide grays
// D. Breakpoints
// E. Spacing utilities
// F. Grid gutter and container widths
// G. Additional widths
// H. Font Settings
// I. Border and border radius
// J. Buttons and links
// K. Cards
// L. Components, navs, and dropdowns
// M. Box shadows
// N. Forms and alerts
// O. Modals
// P. Figures

*/

////////////////////////////////////////
// A. Bootstrap colors
////////////////////////////////////////

// Because we haven't yet imported Bootstrap's SASS dependencies,
// we must copy color variables from /bootstrap/scss/_variables.scss

// Bootstrap Grayscale

$white: #fff !default;
$gray-100: #F5F5F5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Redefine to match 20% black (used on card borders)

$gray-400: #cccccc; 

// Bootstrap Colors

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// If $accessible-colors is true, use accessible palette instead 

$accessible-colors: true;

@if $accessible-colors {
    
    $gray-600: #777677;

    $blue: #0029F7;
    $indigo: #8f51f4;
    $purple: #8762cd;
    $pink: #e8006d;
    $red: #ea172b;
    $orange: #c45500;
    $green: #21883f;
    $teal: #0c8763;
    $cyan: #008299;
}

////////////////////////////////////////
// B. Theme colors
////////////////////////////////////////

// Set your theme's color palette here

$primary: #181A7B;
$secondary: #3B6CF6;
$info: #A513B6;
$dark: #0A1438;
$light: #e6ecf7;

// Add white and black to our theme's color map

$theme-colors: (
    "white": $white,
    "black": $black
);

////////////////////////////////////////
// C. Sitewide grays
////////////////////////////////////////

// Default Bootstrap grayscale are all over the map, so
// here we attempt to simplify the grays used on various Bootstrap elements

$body-color: $gray-900;
$border-color: $gray-300;
$text-muted: $gray-700;

// Set grays for better accessibility

$blockquote-small-color: $gray-700;
$input-placeholder-color: $gray-700;
$dropdown-header-color: $gray-700;
$figure-caption-color: $body-color;
$input-border-color: $gray-600;

// Setting varying border colors to the global '$border-color' value

$hr-border-color: $border-color;
$list-group-border-color: $border-color;
$nav-tabs-border-color: $border-color;
$modal-header-border-color: $border-color;
$pagination-border-color: $border-color;

////////////////////////////////////////
// D. Breakpoints
////////////////////////////////////////

// Instead of using arbitrary breakpoints (i.e. 576px), 
// we separate each breakpoint with 240px gap

$grid-bp-xs: 0;
$grid-bp-sm: 480px;
$grid-bp-md: 720px;
$grid-bp-lg: 960px;
$grid-bp-xl: 1200px;
$grid-bp-xxl: 1440px;

$grid-breakpoints: (
    xs: $grid-bp-xs, 
    sm: $grid-bp-sm, 
    md: $grid-bp-md, 
    lg: $grid-bp-lg, 
    xl: $grid-bp-xl, 
    xxl: $grid-bp-xxl
);

////////////////////////////////////////
// E. Spacing utilities
////////////////////////////////////////

// Add extra spacing classes (margin '.m-*' and padding '.p-*')
// Adjust defaults to align with grid ('$spacer-2' equals '$grid-gutter-width' / 2)

$spacer: 1rem; // 16px

$spacer-1: $spacer * 0.5; // 8px
$spacer-2: $spacer; // 16px
$spacer-3: $spacer * 2; // 32px
$spacer-4: $spacer * 3; // 48px
$spacer-5: $spacer * 4; // 64px
$spacer-6: $spacer * 6; // 96px

$spacers: (
    0: 0, 
    1: $spacer-1, 
    2: $spacer-2, 
    3: $spacer-3, 
    4: $spacer-4, 
    5: $spacer-5, 
    6: $spacer-6
);

////////////////////////////////////////
// F. Grid gutter and container widths
////////////////////////////////////////

// Set grid gutter width equal to '$spacer-2' (32px)

$grid-gutter-width: ($spacer-2 * 2);

// Convert Grid $grid-gutter-width from REM to PX 

@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

@function rem-to-px($size) {
    $value: parseInt($size) * 16px; // 16px is the base size specified
    @return round($value);
}

// Set container max-width media queries

$container-gutter: rem-to-px($grid-gutter-width);

$container-max-width-sm: $grid-bp-sm - $container-gutter;
$container-max-width-md: $grid-bp-md - $container-gutter;
$container-max-width-lg: $grid-bp-lg - $container-gutter;
$container-max-width-xl: $grid-bp-xl - $container-gutter;

$container-max-widths: (
    sm: $container-max-width-sm, 
    md: $container-max-width-md, 
    lg: $container-max-width-lg, 
    xl: $container-max-width-xl
);

////////////////////////////////////////
// G. Additional widths
////////////////////////////////////////

// Set website width as well as '.narrow', '.medium', and '.wide' 
// Classes using these variables are found in _e-supplementary-classes.scss

$site-width: 3000px;
$wide-width: 1680px; // 1660px

$narrow-width: 40rem; // Approximately 55 characters wide
$medium-width: $narrow-width * 1.25; // Multiple of $narrow-width

// Add sizes to Bootstrap's size utilities

$sizes: (
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%
);

////////////////////////////////////////
// H. Font Settings
////////////////////////////////////////

// Font Awesome icons

$font-awesome: "Font Awesome 5 Free";

// Below is Bootstrap's default $font-family-sans-serif variable

$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI", Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

// Font sizes
// Instead of manipulation Bootstrap Default variables, 
// we create our own opt-in font size variables

$fs-sm: 0.875rem; // 14px
$fs-md: 1rem; // 16px
$fs-rg: 1.167rem; // 18.672px
$fs-lg: 1.25rem; // 20px
$fs-xl: 1.5rem; // 28px

// Make Bootstrap's small and large font-sizes align with our font-size scale

$font-size-lg: $fs-lg;
$font-size-sm: $fs-sm;
$small-font-size: $fs-sm;

// Enable responsive font sizes

$enable-responsive-font-sizes: true;

// Font-weight values should match the weights that you import (above)

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// .display-* selector font weight

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;
$display3-weight: $font-weight-bold;
$display4-weight: $font-weight-bold;

// h1 - h6 font-weight

$headings-font-weight: $font-weight-bold;

// Lead font style

$lead-font-size: $fs-lg;
$lead-font-weight: $font-weight-normal;

////////////////////////////////////////
// I. Border and border radius
////////////////////////////////////////

// Border width

$border-width: 1px;

// Enable Rounded

$enable-rounded: false;

// Border Radius

$border-radius-sm: 0.25rem;
$border-radius: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;

// Set varying border radius values to a single border radius

$input-border-radius-lg: $border-radius;
$btn-border-radius-lg: $border-radius;

////////////////////////////////////////
// J. Buttons and links
////////////////////////////////////////

// Buttons

$btn-font-weight: $font-weight-bold;

// Make slightly larger for accessible hit-state for buttons
$input-btn-padding-y: $spacer-1;

// Links

$link-color: $blue;
$link-hover-decoration: none;

// Caret

$enable-caret: true;

////////////////////////////////////////
// K. Cards
////////////////////////////////////////

// Set card spacing to match grid gutter width
// (creates consistent x axis spacing on device views)

$card-spacer-x: $spacer-2;
$card-spacer-y: $spacer-2;

// Lighten '$card-cap-bg' and 

$card-cap-bg: rgba($black, 0.05);

// Make '$card-border-color' feel more consistent with global '$border-color' 

$card-border-color: rgba($black, 0.2);

////////////////////////////////////////
// L. Components, navs, and dropdowns
////////////////////////////////////////

// Global Components

$component-active-color: $white;
$component-active-bg: $info;

// '.nav-link' padding

$nav-link-padding-x: $spacer-2;
$nav-link-padding-y: 0.75rem;

$dropdown-link-active-color: $body-color;

// '.list-group' settings

$list-group-hover-bg: transparent;
$list-group-action-active-bg: transparent;
$list-group-item-padding-y: 0.5rem !default;
$list-group-item-padding-x: $spacer-2;

////////////////////////////////////////
// M. Box shadows
////////////////////////////////////////

$box-shadow-opacity: 0.3;

$box-shadow-sm: 0 0 0.5rem rgba($dark, $box-shadow-opacity);
$box-shadow: 0 0 1rem rgba($dark, $box-shadow-opacity);
$box-shadow-lg: 0 0 3rem rgba($dark, $box-shadow-opacity);

// For accessibility, give text over images and thin border

$accessible-box-shadow: 0 0 0 $border-width $input-border-color;

////////////////////////////////////////
// N. Forms and alerts
////////////////////////////////////////

$form-group-margin-bottom: $spacer-4;

$input-btn-padding-x: $spacer-2;
$input-btn-focus-width: 0.15rem;
$input-focus-border-color: $blue;
$input-btn-focus-box-shadow: 0 0 0 2px rgba($blue, 0.75);

// Note: Since version 4.2.1, bootstrap added icons to validate
// We use more descriptive Font Awesome icons, so we simply turn Bootstrap's validation icons off

$enable-validation-icons: false;

// 'nav-item-search' width (required for RTL)

$nav-item-search-button-width: 28px;

// Custom checkbox and radio settings

$custom-control-indicator-checked-color: white;
$custom-control-indicator-checked-bg: lighten($blue, 5%);
$custom-control-indicator-active-bg: lighten($blue, 35%);

$custom-control-indicator-active-box-shadow: 0 0 1rem rgba($blue, $box-shadow-opacity);

// Alert padding

$alert-padding-y: $spacer-2;
$alert-padding-x: $spacer-2;

////////////////////////////////////////
// O. Modals
////////////////////////////////////////

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.95;
$modal-content-border-color: rgba($black, 0.2);

////////////////////////////////////////
// P. Figures
////////////////////////////////////////

$figure-caption-font-size: $fs-md;