/*

In this file:

// A. Breakpoints
// B. Spacing utilities
// C. Grid gutter and container widths
// D. Supplemental widths
// E. Fonts
// F. Bootstrap colors
// G. Theme colors
// H. Consolidated gray usage
// I. Border and Border radius
// J. Buttons and links
// K. Cards
// L. Components, navs, and dropdowns
// M. Box shadows
// N. Forms and alerts
// O. Modals
// P. Carousel
// Q. Figures
// R. Code

*/

////////////////////////////////////////
// A. Breakpoints
////////////////////////////////////////

// Convert artbitrary breakpoints (i.e. 576px) to meaningful ones

$grid-bp-xs:    0;
$grid-bp-sm:    480px;
$grid-bp-md:    720px;
$grid-bp-lg:    960px;
$grid-bp-xl:    1200px;
$grid-bp-xxl:   1420px;
$grid-bp-xxxl:  1660px;

$grid-breakpoints: (
  xs:   $grid-bp-xs,
  sm:   $grid-bp-sm,
  md:   $grid-bp-md,
  lg:   $grid-bp-lg,
  xl:   $grid-bp-xl,
  xxl:  $grid-bp-xxl,
  xxxl: $grid-bp-xxxl
);

////////////////////////////////////////
// B. Spacing utilities
////////////////////////////////////////

// Add extra spacing classes (margin '.m-*' and padding '.p-*')
// Adjust defaults to align with grid ('$spacer-2' equals '$grid-gutter-width' / 2)

$spacer: 1rem; // 16px

$spacer-1: ($spacer * .5);  // 8px
$spacer-2: ($spacer);       // 16px
$spacer-3: ($spacer * 1.5); // 24px
$spacer-4: ($spacer * 2);   // 32px
$spacer-5: ($spacer * 3);   // 48px
$spacer-6: ($spacer * 4);   // 64px
$spacer-7: ($spacer * 5);   // 80px
$spacer-8: ($spacer * 6);   // 96px

$spacers: (
  0: 0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
  7: $spacer-7,
  8: $spacer-8
);

////////////////////////////////////////
// C. Grid gutter and container widths
////////////////////////////////////////

// Set grid gutter width (must be set in REM)

$grid-gutter-width: 2rem; // (32px)

// Set container max-width media queries

// Convert Grid $grid-gutter-width from REM to PX

@function parseInt($n) { 
  @return $n / ($n * 0 + 1);
}

@function rem-to-px($size) {
	$value: parseInt($size) * 16px; // 16px is the base size specified
	@return round($value);
}

$container-gutter: rem-to-px($grid-gutter-width);
 
$container-max-width-sm: ($grid-bp-sm - $container-gutter);
$container-max-width-md: ($grid-bp-md - $container-gutter);
$container-max-width-lg: ($grid-bp-lg - $container-gutter);
$container-max-width-xl: ($grid-bp-xl - $container-gutter);
$container-max-width-xxl: ($grid-bp-xxl - $container-gutter);

$container-max-widths: (
  sm: ($container-max-width-sm),
  md: ($container-max-width-md),
  lg: ($container-max-width-lg),
  xl: ($container-max-width-xl)
);

////////////////////////////////////////
// D. Supplemental widths
////////////////////////////////////////

// Set website width as well as '.narrow', '.medium', and '.wide' 
// Classes found in _e-supplementary-classes.scss

$site-width: 2400px;
$wide-width: $grid-bp-xxxl; // 1660px
$narrow-width: 55ch;        // 55 characters
$narrow-width-ie: 650px;    // I.E. fallback

$medium-width: $narrow-width * 1.25; // Multiple of $narrow-width
$medium-width-ie: $narrow-width-ie * 1.25; // Multiple of $narrow-width-ie

////////////////////////////////////////
// E. Fonts
////////////////////////////////////////

// Font Awesome icons

$font-awesome: 'Font Awesome 5 Free';

// Font sizes
// Note: Instead of manipulation Bootstrap Default variables, 
// we create our own opt-in font size variables

$fs-sm: 0.875rem;   // 14px
$fs-md: 1rem;       // 16px
$fs-rg: 1.167rem;   // 18.672px
$fs-lg: 1.5rem;     // 20px
$fs-xl: 1.75rem;    // 28px

// Note: Font weight vars required for customizations below

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

// h1 - h6 font weight

$headings-font-weight: $font-weight-bold;

// .display-* selector font weight

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;
$display3-weight: $font-weight-bold;
$display4-weight: $font-weight-bold;

// Lead font style

$lead-font-size: $fs-lg;
$lead-font-weight: $font-weight-light;

// Responsive font sizes

$enable-responsive-font-sizes: true;

////////////////////////////////////////
// F. Bootstrap colors
////////////////////////////////////////

// Add black, white, and tranparent colors as variables 

$white: #fff;
$black: #000;
$transparent: transparent;

// Bootstrap Grayscale

$gray-100: #F5F5F5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #cccccc; // Changed to match 20% black (used on card borders)
$gray-500: #adb5bd !default;
$gray-600: #777677; // Closest Accessible Gray
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Bootstrap Colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Make colors accessible

$accessible-colors: true;

@if($accessible-colors){

  $blue:    #0029F7;
  $indigo:  #8f51f4;
  $purple:  #8762cd;
  $pink:    #e8006d;
  $red:     #ea172b;
  $orange:  #c45500;
  $green:   #21883f;
  $teal:    #0c8763;
  $cyan:    #008299;

} // end if

////////////////////////////////////////
// G. Theme colors
////////////////////////////////////////

// Set primary, secondary, info, light, dark

$primary: #181A7B;
$secondary: #3B6CF6;
$info: #A513B6;

$light: #e6ecf7;
$dark: #0A1438;

// Add white to the color map

$theme-colors: (
  "white": $white,
  "black": $black,
);

////////////////////////////////////////
// H. Consolidated gray usage
////////////////////////////////////////

// Note: Default Bootstrap grayscale are all over the map 
// Simplify grayscale color usage on various Bootstrap elements

$body-color: $gray-900;
$border-color: $gray-300;
$text-muted: $gray-700;

// Set grays for accessibility

$blockquote-small-color: $gray-700;
$input-placeholder-color: $gray-700;
$dropdown-header-color: $gray-700;
$figure-caption-color: $body-color;
$input-border-color: $gray-600;

// Setting varying border colors to the global '$border-color' value

$hr-border-color: $border-color;
$list-group-border-color: $border-color;
$nav-tabs-border-color: $border-color;
$modal-header-border-color: $border-color;
$pagination-border-color: $border-color;

////////////////////////////////////////
// I. Border and Border radius
////////////////////////////////////////

// Border width

$border-width: 1px; // equal to 1px 

// Enable Rounded

$enable-rounded: false;

// Enable Caret

$enable-caret: true;

// Border Radius

$border-radius-sm: 0.25rem;
$border-radius: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;

// Set varying border radius values to a single border radius

$input-border-radius-lg: $border-radius;
$btn-border-radius-lg: $border-radius;

////////////////////////////////////////
// J. Buttons and links
////////////////////////////////////////

// Buttons 

$btn-font-weight: $font-weight-bold;

// Links

$link-color: $blue;
$link-hover-decoration: none;

////////////////////////////////////////
// K. Cards
////////////////////////////////////////

// Set card spacing to match grid gutter width (create consistant x axis spacing on mobile)

$card-spacer-x: ( $grid-gutter-width / 2 ); 
$card-spacer-y: ( $grid-gutter-width / 2 ); 

$card-cap-bg: rgba( $black, .05 );
$card-border-color: rgba( $black, .2 );

////////////////////////////////////////
// L. Components, navs, and dropdowns
////////////////////////////////////////

// Global Components

$component-active-color: $white;
$component-active-bg: $info;

// Navs (.nav) and input padding

$input-btn-padding-x: ( $grid-gutter-width / 2 );
$nav-link-padding-x: $input-btn-padding-x;
$nav-link-padding-y: .75rem;

$dropdown-link-active-color: $body-color;

$list-group-hover-bg: $transparent;
$list-group-action-active-bg: $transparent;
$list-group-item-padding-y: .5rem !default;
$list-group-item-padding-x: $input-btn-padding-x;

$pagination-color: $secondary;
$pagination-active-color: $white;
$pagination-active-bg: $secondary;

////////////////////////////////////////
// M. Box shadows
//////////////////////////////////////// 

$box-shadow-opacity: 0.3;

$box-shadow-sm: 0 0 .5rem rgba( $black, $box-shadow-opacity );
$box-shadow:    0 0 1rem rgba( $black, $box-shadow-opacity );
$box-shadow-lg: 0 0 3rem rgba( $black, $box-shadow-opacity );

$accessible-box-shadow: 0 0 0 $border-width $input-border-color;

////////////////////////////////////////
// N. Forms and alerts
//////////////////////////////////////// 

$form-group-margin-bottom: $spacer-5;
$input-btn-focus-width: .15rem;
$input-focus-border-color: $blue;
$input-btn-focus-box-shadow: 0 0 0 2px rgba( $blue, 0.75); 

// Note: Since version 4.2.1, bootstrap added icons to validate
// We use more descriptive Font Awesome icons, so we simply turn Bootstrap's validation icons off

$enable-validation-icons: false;

// Custom checkbox and radio

$custom-control-indicator-checked-color: white;
$custom-control-indicator-checked-bg: lighten($blue, 5%);
$custom-control-indicator-active-bg: lighten($blue, 35%);

$custom-control-indicator-active-box-shadow:   0 0 1rem rgba( $blue, $box-shadow-opacity );

// Alerts

$alert-padding-y: ( $grid-gutter-width / 2 );
$alert-padding-x: ( $grid-gutter-width / 2 );

////////////////////////////////////////
// O. Modals
//////////////////////////////////////// 

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.95;
$modal-content-border-color: rgba( $black, 0.2 );

////////////////////////////////////////
// P. Carousel
//////////////////////////////////////// 
 
$carousel-control-color: $white !default;
$carousel-control-opacity: .75;
 
$carousel-indicator-width: 0.75rem;
$carousel-indicator-height: 0.75rem;
$carousel-indicator-spacer: .25rem;
$carousel-indicator-active-bg: $white !default;
 
$carousel-caption-width: 100%;

////////////////////////////////////////
// Q. Figures
////////////////////////////////////////

$figure-caption-font-size: $fs-md;

////////////////////////////////////////
// R. Code
////////////////////////////////////////

$code-font-size: 87.5%;
$code-color: $cyan;