////////////////////////////////////////////////////////////////////////////////
//
// Layout and Spacing Utilites
//
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// Breakpoints
////////////////////////////////////////

// Note: Convert artbitrary default breakpoints to meaningful variables

$grid-bp-xxs:   0;
$grid-bp-xs:    400px;
$grid-bp-sm:    600px;
$grid-bp-md:    800px;
$grid-bp-lg:    1000px;
$grid-bp-xl:    1200px;
$grid-bp-xxl:   1400px;
$grid-bp-xxxl:  1600px;

$grid-breakpoints: (
  xxs:  $grid-bp-xxs,
  xs:   $grid-bp-xs,
  sm:   $grid-bp-sm,
  md:   $grid-bp-md,
  lg:   $grid-bp-lg,
  xl:   $grid-bp-xl,
  xxl:  $grid-bp-xxl,
  xxxl: $grid-bp-xxxl
);

////////////////////////////////////////
// Spacing Utilities
////////////////////////////////////////

// Note: Bootstrap defines margins `.m-*` and padding `.p-*` classes
// Reference: https://getbootstrap.com/docs/4.1/utilities/spacing/

$spacer: 1rem; // 16px

$spacer-1: ($spacer * .5);  // 8px
$spacer-2: ($spacer);       // 16px
$spacer-3: ($spacer * 1.5); // 24px
$spacer-4: ($spacer * 2);   // 32px
$spacer-5: ($spacer * 3);   // 48px
$spacer-6: ($spacer * 4);   // 64px
$spacer-7: ($spacer * 5);   // 80px
$spacer-8: ($spacer * 6);   // 96px

$spacers: (
  0: 0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
  7: $spacer-7,
  8: $spacer-8
);

////////////////////////////////////////
// Grid and Container
////////////////////////////////////////

// Grid Gutter Width
// Note: Default is 30px

$grid-gutter-width: 32px;

// Max container width

$container-max-widths: (
  sm: ($grid-bp-sm),
  md: ($grid-bp-md),
  lg: ($grid-bp-lg),
  xl: ($grid-bp-xl)
);

////////////////////////////////////////
// Width Helpers
////////////////////////////////////////

// Note: Find '.narrow' and '.wide' classes in c-enhancements.scss

$site-width: 2400px;
$wide-width: $grid-bp-xxxl;     // 1600px
$narrow-width: 65ch;            // 65 characters
$narrow-width-ie: $grid-bp-md;  // 65 characters

////////////////////////////////////////
// Sizing Utilities
////////////////////////////////////////

// Note: Bootstrap defines margins `.m-*` and padding `.p-*` classes
// Reference: https://getbootstrap.com/docs/4.1/utilities/spacing/

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%
);

////////////////////////////////////////////////////////////////////////////////
//
// Fonts, Weights, Sizes, and Styles
//
////////////////////////////////////////////////////////////////////////////////

// Font Awesome icons
// Reference: https://fontawesome.com/

$font-awesome: 'Font Awesome 5 Free';

// Font sizes
// Note: Instead of manipulation Bootstrap Default variables, 
// we create our own opt-in font size variables

$fs-sm: 0.875rem;   // 14px
$fs-md: 1rem;       // 16px
$fs-rg: 1.167rem;   // 18.667px
$fs-lg: 1.5rem;     // 20px
$fs-xl: 1.75rem;    // 28px

// Note: Font weight vars required for customizations below

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

// h1 - h6 font weight

$headings-font-weight: $font-weight-bold;

// .display-* selector font weight

$display1-weight: $font-weight-bold;
$display2-weight: $font-weight-bold;
$display3-weight: $font-weight-bold;
$display4-weight: $font-weight-bold;

// Lead font style

$lead-font-size: $fs-lg;
$lead-font-weight: $font-weight-light;

////////////////////////////////////////////////////////////////////////////////
//
// Color Palette
//
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// Colors (Predefined)
////////////////////////////////////////

// Note: Colors must be defined before Bootstrap import, 
// in this way, colors are injected across all utilites

$white:     #fff;
$black:     #000;
$transparent: transparent;

// Bootstrap Default Grays

$gray-100: #F5F5F5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #cccccc; // Changed to match 20% black (used on card borders)
$gray-500: #adb5bd !default;
$gray-600: #777677; // Closest Accessible Gray
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Default Bootstrap Colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Accessible Colors

$accessible-colors: true;
@if($accessible-colors){

  $blue:    #0029F7;
  $indigo:  #8f51f4;
  $purple:  #8762cd;
  $pink:    #e8006d;
  $red:     #ea172b;
  $orange:  #c45500;
  $green:   #21883f;
  $teal:    #0c8763;
  $cyan:    #008299;

} // end if

////////////////////////////////////////
// Theme Colors (Custom)
////////////////////////////////////////

// Note: Every color added to the theme-color map adds 2-3k to the theme.css file size

$deep-blue: #1A237E;
$park-green: #75BD1D;
$azure-sky: #3177C8;
$crimson: #F7554C;

$primary: $deep-blue;
$secondary: $azure-sky;
$tertiary: $park-green;
$tertiary: $crimson;

$light: #e6ecf7;

$theme-colors: (
  "white": $white,
  "black": $black,

  "primary": $primary, 
  "secondary": $secondary, 
  "tertiary": $tertiary, 
);

////////////////////////////////////////
// Consolidating Gray Values
////////////////////////////////////////

// Note: Default Bootstrap grayscale are all over the map 
// Here we attempt to simplify grayscale color usage

// Familiar Defaults

$body-bg: $white;
$body-color: $gray-900;
$border-color: $gray-300;
$dark: $gray-900;
$text-muted: $gray-700;

// Accessible Gray Assignments

$blockquote-small-color: $gray-700;
$input-placeholder-color: $gray-700;
$dropdown-header-color: $gray-700;
$figure-caption-color: $body-color;
$input-border-color: $gray-600;

// Setting varying border colors to the global $border-color value

$hr-border-color: $border-color;
$list-group-border-color: $border-color;
$nav-tabs-border-color: $border-color;
$modal-header-border-color: $border-color;

// Table accent color

// $table-accent-bg: $light;

////////////////////////////////////////////////////////////////////////////////
//
// Theme Style Preferences
//
////////////////////////////////////////////////////////////////////////////////

// Note: Here is where we customize the content and components of our theme

////////////////////////////////////////
// Borders and Border Radius
////////////////////////////////////////

// Border width

$border-width: 1px;

// Enable Rounded

$enable-rounded: false;

// Enable Caret

$enable-caret: true;

// Border Radius

$border-radius-sm: 0.125rem;
$border-radius: .25rem;
$border-radius-lg: .75rem;
$border-radius-xl: 2rem;

// Set varying border radius values to a single border radius

$input-border-radius-lg: $border-radius;
$btn-border-radius-lg: $border-radius;

////////////////////////////////////////
// Links, Buttons, and Form Values
////////////////////////////////////////

// Links

$link-color: $blue;
$link-hover-decoration: none;

// Buttons 

$btn-font-weight: $font-weight-bold;

////////////////////////////////////////
// Bootstrap Components
////////////////////////////////////////

// Cards

$card-spacer-x:                     $grid-gutter-width/2; 
$card-spacer-y:                     $grid-gutter-width/2; 

$card-cap-bg: rgba($black, .05);
$card-border-color: rgba($black, .2);

// Global Components

$component-active-color: $white;
$component-active-bg: $primary;

// Navs (.nav) and Input padding

$input-btn-padding-x: ($grid-gutter-width / 2);
$nav-link-padding-x: $input-btn-padding-x;
$nav-link-padding-y: .75rem;

// Nav tabs

$nav-tabs-link-hover-border-color: $transparent;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-color: $component-active-bg;
$nav-tabs-link-active-border-color: $border-color $border-color $nav-tabs-link-active-bg;

// Box shadows 

$box-shadow-sm:               0 .125rem .25rem rgba($black, .25) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .25) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .25) !default;

$accessible-box-shadow: 0 0 0 $border-width $input-border-color;

// Forms

$form-group-margin-bottom: $spacer-4;
$custom-control-indicator-size: 1.5rem;
$custom-control-gutter: ($custom-control-indicator-size * 1.5);

// Modals 

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.95;
$modal-content-border-color: rgba($black, .2);

////////////////////////////////////////
// Carousel
////////////////////////////////////////
 
$carousel-control-color: $white !default;
$carousel-control-opacity: .75;
 
$carousel-indicator-width: 0.75rem;
$carousel-indicator-height: 0.75rem;
$carousel-indicator-spacer: .25rem;
$carousel-indicator-active-bg: $white !default;
 
$carousel-caption-width: 100%;

////////////////////////////////////////
// Figures
////////////////////////////////////////

$figure-caption-font-size: $fs-md;

$popover-border-color: transparent;