/*

In this file:

// A. Generic tags
// B. Margins
// C. Accessibility
// D. Forms
// E. Font size media queries
// F. Sticky top
// G. Internet Explorer

*/

////////////////////////////////////////
// A. Generic Tags
////////////////////////////////////////

html{ background: $dark; }

body{
  position: relative;

  // Font smoothing

	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  // Set Overflow (optional) 
  
  overflow-x: hidden;

  // Set min and max width of body

	min-width: 350px;
  max-width: $site-width;
  
  // Set body font-size to accessible size
  
  font-size: $fs-rg;

  // Center body
  margin-left: auto;
  margin-right: auto;
}

// Make all images responsive by default

img{ @extend .img-fluid; }

////////////////////////////////////////
// B. Margins
////////////////////////////////////////

// Remove bottom margins on ':last-child' selectors 

h1, 
h2, 
h3,
h4,
h5,
p,
a, 
ul, 
li, 
dl, 
dd, 
address
{ 
	&:last-child{ margin-bottom: 0; }
}

// Remove Bootstrap's default margin on <hr> tags 

hr{ margin: 0; }

////////////////////////////////////////
// C. Accessibility
////////////////////////////////////////

// Right-to-left language translation

html[dir="rtl"]{ 

  .text-right{ text-align: left !important; }
  .text-left{ text-align: right !important; }

  // Flip select tags background (arrows) from right to left
  
  select:not(.notranslate):not(.goog-te-combo){
    background-position-x: 0.75rem !important;
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  }

  select.notranslate{ text-align: left !important; }

  // Apply right justification all text

  body,
  .dropdown-item
  { text-align: right; }

  // Apply left justification to all extensible-list selectors excluding those that are centered 

  .extensible-list:not(.justify-content-center){
    .horizontal{
      justify-content: flex-start !important;
    }
  }
    
  // Flip accordion and button toggles (found in _e-ui-elements.scss) from right to left

  .accordion-group,  
  .btn-toggle
  { 
    a[data-toggle="collapse"]{
      &::after {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  // Remove Google's added padding and margin for rtl translation

  ul, 
  ol, 
  dl 
  { -webkit-padding-start: 0 !important;  }

  dd { -webkit-margin-start: 0 !important; }

  // Mobile Menu Float

  #device-menu a.dropdown-item{ float: right !important; }

  // Flip Custom Control Background from left to right

  .custom-control-label{
    &::before, 
    &::after
    {
      right: -($custom-control-gutter + $custom-control-indicator-size);
    }
  }

  // Add padding to custom checkboxes and radios '.custom-control selector' to ensure spacing during rtl translation  

  .custom-control {
    padding-right: ($custom-control-gutter + $custom-control-indicator-size);
  }

} // end RTL

// Add 'text-decoration: underline' on particular ':focus' selectors

$accessible-hover-focus: true;

@if($accessible-hover-focus){

  a,
  .btn, 
  .nav-link,
  .nav-item, 
  .dropdown-item
  {
    &:hover,
    &:focus
    { 
      text-decoration: underline; 
    }
  }

  .btn-toggle a,
  .accordion-group a,
  .btn.d-flex.align-items-center
  a.card,
  #back-to-top a
  {
    &:hover,
    &:focus
    { 
      text-decoration: none;
      > span.title{ text-decoration: underline; }
    }
  }

  .disabled{
    &:hover,
    &:focus
    { box-shadow: none;
      outline: none;
      text-decoration: none;
    }
  }

} // end if

// Override Bootstrap's default whitespace on '.btn' selectors

.btn{ white-space: normal !important; }

// Add visible underline to links within the #primary-content area

#primary-content{
  p > a:not([class]){ text-decoration: underline; }
} 

////////////////////////////////////////
// D. Forms
////////////////////////////////////////

legend, 
.legend{

  // Remove default styles on 'legend' selectors
  
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  color: white;
  + * { clear: both; }
  
  // Add custom styles

  font-size: $fs-md;
  font-weight: $font-weight-normal;
  background: theme-color("primary");
  padding: $spacer-2;
  margin-bottom: 0;
}

fieldset{
  border: $border-width solid $border-color;
  margin-bottom: $spacer-5;
  @extend .clearfix;
}

// Add 'custom-select' class to all <select> tags

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend .custom-select;
}

label{ font-size: $fs-md; }

.custom-control-label{
  &::before{ 
    box-shadow: $accessible-box-shadow;
  }
}

// Google Translate dropdown

#google_translate_element{
  text-align: center;

  select{
    @extend .form-control-lg;
    margin-bottom: $spacer-1;
  }

  .goog-logo-link{
    margin-left: auto;
    margin-right: auto;
  }

}

////////////////////////////////////////
// E. Font size media queries
////////////////////////////////////////

@include media-breakpoint-down(md){
  .display-1{ font-size: $display1-size * 0.75; }
  .display-2{ font-size: $display2-size * 0.75; }
  .display-3{ font-size: $display3-size * 0.75; }
  .display-4{ font-size: $display4-size * 0.75; }
}

@include media-breakpoint-down(sm){
  main{
    .fs-xl{ font-size: $fs-lg; }
    .fs-lg{ font-size: $fs-rg; }
  }
}

////////////////////////////////////////
// F. Sticky top
////////////////////////////////////////

// Fix Bootstrap's 'sticky-top' class in Safari
// Use '.stick-top' with caution as it's not compatible with Google translate

@supports (position: -webkit-sticky) or (position: sticky) {
  .sticky-top {
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    z-index: 1020; 
  }
}

////////////////////////////////////////
// G. Internet Explorer 
////////////////////////////////////////

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

  // Fixes display flex bug 
  .card,
  .figure{ display: block !important; }

  // IE character count (ch) is inaccurate, so for IE we use pixel width instead 
  .narrow{ max-width: $narrow-width-ie; }
  .medium{ max-width: $medium-width-ie; }
}