/*

In this file:

// A. Generic tags
// B. Margins
// C. Accessibility
// D. Forms
// E. Tables
// F. Font size media queries
// G. Sticky top
// H. Internet Explorer

*/

////////////////////////////////////////
// A. Generic Tags
////////////////////////////////////////

body {
  position: relative;

  // Font smoothing

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Set Overflow (optional) 

  overflow-x: hidden;

  // Set min and max width of body

  min-width: 350px;
  max-width: $site-width;

  // Set body font-size to accessible size

  font-size: $fs-rg;

  // Center body
  margin-left: auto;
  margin-right: auto;
}

// Make all images responsive by default

img {
  @extend .img-fluid;
}

// Remove Unneeded figure margins

.figure {
  @extend .mb-0;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

////////////////////////////////////////
// B. Margins
////////////////////////////////////////

// Remove bottom margins on all ':last-child' selectors 

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li,
dl,
dd,
address {
  &:last-child {
    margin-bottom: 0;
  }
}

// Remove Bootstrap's default margin on <hr> tags 

hr {
  margin: 0;
}

////////////////////////////////////////
// C. Accessibility
////////////////////////////////////////

// Right-to-left language translation

html[dir="rtl"] {

  .text-right {
    text-align: left !important;
  }

  .text-left {
    text-align: right !important;
  }

  // Flip select tags background (arrows) from right to left

  select:not(.notranslate):not(.goog-te-combo) {
    background-position-x: 0.75rem !important;
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  }

  select.notranslate {
    text-align: left !important;
  }

  // Fix font tag (added by Goggle Translate)

  button > font {
    display: inline;
    line-height: 0;
  }

  // Apply right justification all text

  body,
  .dropdown-menu {
    text-align: right;
  }

  // Change position of .dropdown-menu within nav

  #nav-primary .nav:not(.nav-pills) {
    .dropdown-menu {
      right: 0;
      left: unset;
    }
  }

  // Apply left justification to all extensible-list selectors excluding those that are centered 

  .extensible-list:not(.justify-content-center) {
    .horizontal {
      justify-content: flex-start !important;
    }
  }

  // Flip accordion and button toggles (found in _e-ui-elements.scss) from right to left

  .accordion-group,
  .btn-toggle {
    a[data-toggle="collapse"] {
      &::after {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  // Remove Google's added padding and margin for rtl translation

  ul,
  ol,
  dl {
    -webkit-padding-start: 0 !important;
  }

  dd {
    -webkit-margin-start: 0 !important;
  }

  // Flip Custom Control Background from left to right

  .custom-control-label {

    &::before,
    &::after {
      right: -($custom-control-gutter + $custom-control-indicator-size);
    }
  }

  // Add padding to custom checkboxes and radios '.custom-control selector' to ensure spacing during rtl translation  

  .custom-control {
    padding-right: ($custom-control-gutter + $custom-control-indicator-size);
  }

  .sidebar-fixed-width {
    @include media-breakpoint-up(xl) {
      border-left: none;
      border-right: $border-width solid $border-color;
    }
  }

}

// end RTL

// Add 'text-decoration: underline' on particular ':hover' and ':focus' selectors

a,
.btn,
.nav-link,
.nav-item,
.dropdown-item {
  @include hover-focus {
    text-decoration: underline;
  }
}

.btn-toggle [data-toggle="collapse"],
.accordion-group [data-toggle="collapse"],
a.card,
#back-to-top a,
.btn.file-choose {
  @include hover-focus {
    text-decoration: none;

    > span.title {
      text-decoration: underline;
    }
  }
}

input[type="file"] {
  &:focus+label {
    .title {
      text-decoration: underline;
    }
  }
}

.disabled {
  @include hover-focus {
    text-decoration: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

a:not(.btn).disabled {
  opacity: 0.5;
}

.text-reset{
  text-decoration: underline;
}

.has-icon {
  @include hover-focus {
    text-decoration: none !important;

    span.title {
      text-decoration: underline;
    }
  }

  &.active {
    span.title {
      text-decoration: underline;
    }
  }
}

// Add visible underline to links within the #primary-content area

#primary-content {
  p> a:not([class]) {
    text-decoration: underline;
  }
}

////////////////////////////////////////
// D. Forms
////////////////////////////////////////

legend,
.legend {

  // Remove strange default styles on 'legend' selectors
  // Styles for fieldset and legend are found in _f-ui-elements.scss

  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;

  +* {
    clear: both;
  }

}

fieldset {
  border: $border-width solid $border-color;
  margin-bottom: $spacer-5;
  @extend .clearfix;
}

// Add 'custom-select' class to all <select>  tags

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend .custom-select;
}

label,
.label {
  font-size: $fs-md;
  margin-bottom: $label-margin-bottom;
}

// Add accessible box-shadow to 'custom-control-label'

.custom-control-label {
  &::before {
    box-shadow: $accessible-box-shadow;
  }
}

// Remove border-radius on 'custom-checkbox' when global $border-radius is set to true

.custom-checkbox .custom-control-label {
  &::before {
    border-radius: 0;
  }
}

// Google Translate dropdown

#google_translate_element {
  text-align: center;

  select {
    @extend .custom-select-lg;
    margin-bottom: $spacer-1;
  }

  .goog-logo-link {
    margin-left: auto;
    margin-right: auto;
  }

}

////////////////////////////////////////
// F. Tables
////////////////////////////////////////

// Remove Bootstrap's Default doouble bottom border on <th>  

thead th {
  @extend .border-bottom-0;
}

////////////////////////////////////////
// F. Font size media queries
////////////////////////////////////////

@include media-breakpoint-down(md) {
  .display-1 {
    font-size: $display1-size * 0.75;
  }

  .display-2 {
    font-size: $display2-size * 0.75;
  }

  .display-3 {
    font-size: $display3-size * 0.75;
  }

  .display-4 {
    font-size: $display4-size * 0.75;
  }
}

@include media-breakpoint-down(sm) {
  main {
    .fs-xl {
      font-size: $fs-lg;
    }

    .fs-lg {
      font-size: $fs-rg;
    }
  }
}

////////////////////////////////////////
// G. Sticky top
////////////////////////////////////////

// Fix Bootstrap's 'sticky-top' class in Safari
// Use '.stick-top' with caution as it's not compatible with Google translate

@supports (position: -webkit-sticky) or (position: sticky) {
  .sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1020;
  }
}

////////////////////////////////////////
// H. Internet Explorer 
////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

  // Display flex bug fix
  .card,
  .figure {
    display: block !important;
  }

  // IE character count (ch) is inaccurate, so for IE we use pixel width instead 
  .narrow {
    max-width: $narrow-width-ie !important;
  }

  .medium {
    max-width: $medium-width-ie !important;
  }

  // IE min-height fix
  .bg-cover {
    height: 1em;
  }

}