////////////////////////////////////////////////////////////////////////////////
//
// General HTML Tags
//
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// Generic Tags
////////////////////////////////////////

html{ background: theme-color("dark"); }

body{
  position: relative;

  // Font smoothing
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  // Set Overflow (optional) 
  overflow-x: hidden;

  // Set min and max width of body
	min-width: 350px;
  max-width: $site-width;
  
  // Set body font-size to accessible size
  font-size: $fs-rg;

  // Center body
	@extend .mx-auto;
}

// Make all images responsive by default

img{ @extend .img-fluid; }

// Add visible underline to links within the #primary-content area

#primary-content{
  p > a#{$no-class} { text-decoration: underline; }
} 

////////////////////////////////////////
// RTL Language Translation
////////////////////////////////////////

html[dir="rtl"]{ 

  .text-right{ text-align: left !important; }
  .text-left{ text-align: right !important; }

  // Flip select tags background (arrows) from right to left
  
  select:not(.notranslate):not(.goog-te-combo){
    background-position-x: 0.75rem !important;
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  }

  select.notranslate{ text-align: left !important; }

  // Right justify all text

  body,
  .dropdown-item
  { text-align: right; }

  // Apply left justification to all extensible-list selectors excluding those that are centered 

  .extensible-list:not(.justify-content-center){
    .horizontal{
      justify-content: flex-start !important;
    }
  }
    
  // Flip accordion and button toggles (found in _e-ui-elements.scss) from right to left

  .accordion-group,  
  .btn-toggle
  { 
    a[data-toggle="collapse"]{
      &::after {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  // Note: Remove Google's added padding and margin for rtl translation

  ul, 
  ol, 
  dl 
  { -webkit-padding-start: 0 !important;  }

  dd { -webkit-margin-start: 0 !important; }

  // Mobile Menu Float

  #device-menu a.dropdown-item{ float: right !important; }

  // Note: Flip Custom Control Background from left to right

  .custom-control-label{
    &::before, 
    &::after
    {
      right: -($custom-control-gutter + $custom-control-indicator-size);
    }
  }

} // RTL Language Translations

////////////////////////////////////////
// Sticky Top
////////////////////////////////////////

// Use .stick-top with caution as it's not compatible with Google translate

// Note: Fixes Bootstraps 'sticky-top' class in Safari

@supports (position: -webkit-sticky) or (position: sticky) {
  .sticky-top {
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    z-index: 1020; 
  }
}

////////////////////////////////////////
// Forms
////////////////////////////////////////

legend, 
.legend{

  // Note: Remove default styles on 'legend' selectors
  
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  color: white;
  + * { clear: both; }
  
  // Note: Custom styles
  font-size: $fs-md;
  font-weight: $font-weight-normal;
  background: theme-color("primary");
  padding: $spacer-2;
  margin-bottom: 0;
}

fieldset{
  border: $border-width solid $border-color;
  margin-bottom: $spacer-5;
  @extend .clearfix;
}

// Note: Add 'custom-select' class to all select boxes

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend .custom-select;
}

label{ font-size: $fs-md; }

// Note: Add padding to custom checkboxes and radios '.custom-control selector'
// to ensure spacing during rtl translation  

.custom-control {
  padding-right: ($custom-control-gutter + $custom-control-indicator-size);
}

.custom-control-label{
  &::before{ 
    box-shadow: $accessible-box-shadow;
  }
}

// Google Translate dropdown

#google_translate_element{
  text-align: center;

  select{
    @extend .form-control-lg;
    margin-bottom: $spacer-1;
  }

  .goog-logo-link{
    margin-left: auto;
    margin-right: auto;
  }
}

////////////////////////////////////////
// Mobile Margin Offset
////////////////////////////////////////

// Note: Make fieldsets go edge-to-edge on devices 

.mobile-margin-offset-x{
  @include media-breakpoint-down('md') {
    margin-left: -(($grid-gutter-width/2) + $border-width);
    margin-right: -(($grid-gutter-width/2) + $border-width);
  }
}

////////////////////////////////////////////////////////////////////////////////
//
// Margin bottom 
//
////////////////////////////////////////////////////////////////////////////////

// Note: Remove Bootstrap default bottom margins to 'last-child' selectors 

h1, 
h2, 
h3,
h4,
h5,
p,
a, 
ul, 
li, 
dl, 
dd, 
address
{ 
	&:last-child{ margin-bottom: 0; }
}

// Remove Bootstrap default to <hr> tags 

hr{ margin: 0; }

ul,
ol
 {
    &.space-li {
        li {
            margin-top: $paragraph-margin-bottom;
            margin-bottom: $paragraph-margin-bottom;
 
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
//
// Accessibility (Tabbing and Visual Cues)
//
////////////////////////////////////////////////////////////////////////////////

// Note: We add 'text-decoration: underline' on particular :focus selectors

$accessible-hover-focus: true;

@if($accessible-hover-focus){

  a,
  .btn, 
  .nav-link,
  .nav-item, 
  .dropdown-item
  {
    &:focus,
    &:hover
    { 
      text-decoration: underline; 
    }
  }

  .btn-toggle a,
  .accordion-group a,
  .btn.d-flex.align-items-center
  a.card,
  #back-to-top a
  {
    &:focus,
    &:hover
    { 
      text-decoration: none;
      > span.title{ text-decoration: underline; }
    }
  }

  .disabled{
    &:focus,
    &:hover
    { box-shadow: none;
      outline: none;
      text-decoration: none;
    }

  }

} // end if

// Override Bootstrap default whitespace on buttons

.btn{ white-space: normal !important; }

////////////////////////////////////////////////////////////////////////////////
//
// Supplementary classes 
//
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////
// Fonts and Sizes
////////////////////////////////////////

// Font-size classes
// Note: Define Font Awesome for use in psuedo classes

.fs-sm{ font-size: $fs-sm; }
.fs-md{ font-size: $fs-md; }
.fs-rg{ font-size: $fs-rg; }
.fs-lg{ font-size: $fs-lg; }
.fs-xl{ font-size: $fs-xl; }

////////////////////////////////////////
// Font Size Media Queries
////////////////////////////////////////

@include media-breakpoint-down(md){
  .display-1{ font-size: $display1-size * 0.75; }
  .display-2{ font-size: $display2-size * 0.75; }
  .display-3{ font-size: $display3-size * 0.75; }
  .display-4{ font-size: $display4-size * 0.75; }
}

@include media-breakpoint-down(sm){
  main{
    .fs-xl{ font-size: $fs-lg; }
    .fs-lg{ font-size: $fs-rg; }
  }
}

////////////////////////////////////////
// Opacity
////////////////////////////////////////

.opacity-10{ @include opacity(0.10); }
.opacity-20{ @include opacity(0.20); }
.opacity-30{ @include opacity(0.30); }
.opacity-40{ @include opacity(0.40); }
.opacity-50{ @include opacity(0.50); }
.opacity-60{ @include opacity(0.60); }
.opacity-70{ @include opacity(0.70); }
.opacity-80{ @include opacity(0.80); }
.opacity-90{ @include opacity(0.90); }

////////////////////////////////////////
// Z-index
////////////////////////////////////////

.z-index-100,
.z-index-200,
.z-index-300,
.z-index-400,
.z-index-500,
.z-index-600,
.z-index-700,
.z-index-800,
.z-index-900

{ position: relative; }

.z-index-100{ z-index: 100; }
.z-index-200{ z-index: 200; }
.z-index-300{ z-index: 300; }
.z-index-400{ z-index: 400; }
.z-index-500{ z-index: 500; }
.z-index-600{ z-index: 600; }
.z-index-700{ z-index: 700; }
.z-index-800{ z-index: 800; }
.z-index-900{ z-index: 900; }

////////////////////////////////////////
// Background Opacity Classes
////////////////////////////////////////

.bg-opacity-black-10{ @include background-opacity(black, 0.1); }
.bg-opacity-black-20{ @include background-opacity(black, 0.2); }
.bg-opacity-black-30{ @include background-opacity(black, 0.3); }
.bg-opacity-black-70{ @include background-opacity(black, 0.7); }
.bg-opacity-black-80{ @include background-opacity(black, 0.8); }
.bg-opacity-black-90{ @include background-opacity(black, 0.9); }

.bg-opacity-white-80{ @include background-opacity(white, 0.8); }

////////////////////////////////////////
// Narrow, Meduim, and Wide Classes
////////////////////////////////////////

.narrow,
.wide,
.narrow, 
.medium
{ @extend .mx-auto; }

.narrow{ max-width: $narrow-width; }
.wide{ max-width: $wide-width; }

.medium{ max-width: $medium-width; }

////////////////////////////////////////
// Text Shadow
////////////////////////////////////////

.text-shadow{ @include text-shadow; }

.text-shadow-border{ @include text-shadow( 0, 0, $border-width, black ); }

////////////////////////////////////////
// Offset X Axis (Left and Right)
////////////////////////////////////////

// Note: Apply left and right negative margin to parent selector
// when child selectors have border applied 

.offset-border-x{
  margin-left: -$border-width;
  margin-right: -$border-width;
}

// Note: Apply left and right negative margin to selector
// for edge to edge look witout using 'no-gutters' on '.row' 

.offset-gutter-x{
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

////////////////////////////////////////
// No Button Style
////////////////////////////////////////

// Note: Remove Bootstrap default padding, color, hover, and focus states to '.btn' class

%no-btn-style{
  color: currentColor;
  font-weight: inherit;
  border-color: transparent;
  background-color: transparent;
  line-height: 100%;
  cursor: pointer;
  padding: 0;
}

.no-btn-style{ @extend %no-btn-style; }

////////////////////////////////////////
// No Link Style
////////////////////////////////////////

// Note: Remove Bootstrap default padding, color, hover, and focus states to '.btn' class

%no-link-style{
  color: currentColor;
  font-weight: inherit;
  
  &:hover,
  &:focus
  { 
    color: currentColor;
    text-decoration: none; 
  }
}

.no-link-style{ @extend %no-link-style; }

////////////////////////////////////////
// Buttons, links, and lists
////////////////////////////////////////

// Blended Link
// Note: Apply to <a> to inherit color from parent and add text decoration 

%blended-link{
  color: currentColor;
  text-decoration: underline;
}

.blended-link,
.blended-link:hover{
  @extend %blended-link;
}

////////////////////////////////////////
// IE 10 and 11 Fixes 
////////////////////////////////////////

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

  // Fixes display flex bug 
  .card,
  .figure{ display: block !important; }

  // IE character count (ch) is inaccurate, so for IE we use pixel width instead 
  .narrow{ max-width: $narrow-width-ie; }
  .medium{ max-width: $medium-width-ie; }
}