/*

In this file:

// A. Font sizes
// B. Additional widths
// C. Responsive borders
// D. Opacities
// E. Text shadows
// F. No button style
// G. Has icon
// H. Paragraph margin lists
// I. Z-index

*/

////////////////////////////////////////
// A. Font sizes
////////////////////////////////////////

// Font size variables are set in /scss/_a-global-variables.scss

.fs-sm {
    font-size: $fs-sm;
}

.fs-md {
    font-size: $fs-md;
}

.fs-rg {
    font-size: $fs-rg;
}

.fs-lg {
    font-size: $fs-lg;
}

.fs-xl {
    font-size: $fs-xl;
}

////////////////////////////////////////
// B. Additional widths
////////////////////////////////////////

// Additional width variables are set in /scss/_a-global-variables.scss
.narrow,
.narrow-2,
.medium,
.wide {
    margin-left: auto;
    margin-right: auto;
}
.narrow-2{
    max-width: 40rem;

}
.narrow,
.narrow-width {
    max-width: $narrow-width;
}

.medium,
.medium-width {
    max-width: $medium-width;
}

.wide {
    max-width: $wide-width;
}

////////////////////////////////////////
// C. Responsive borders
////////////////////////////////////////

$sides: "", -top, -right, -bottom, -left;

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        @each $side in $sides {
            .border-#{$breakpoint}#{$side}-0 {
                border#{$side}: 0 !important;
            }

            .border-#{$breakpoint}#{$side} {
                border-width: 0;
                border-color: $border-color;
                border-style: solid;
                border#{$side}-width: $border-width !important;
            }
        }
    }
}

////////////////////////////////////////
// D. Opacities
////////////////////////////////////////

// Object opacity

.opacity-10 {
    opacity: 0.10;
}

.opacity-20 {
    opacity: 0.20;
}

.opacity-30 {
    opacity: 0.30;
}

.opacity-40 {
    opacity: 0.40;
}

.opacity-50 {
    opacity: 0.50;
}

.opacity-60 {
    opacity: 0.60;
}

.opacity-70 {
    opacity: 0.70;
}

.opacity-80 {
    opacity: 0.80;
}

.opacity-90 {
    opacity: 0.90;
}

// Background color opacity

.bg-opacity-black-25 {
    background-color: rgba($black, 0.25);
}

.bg-opacity-black-50 {
    background-color: rgba($black, 0.5);
}

.bg-opacity-black-75 {
    background-color: rgba($black, 0.75);
}

////////////////////////////////////////
// E. Text shadows
////////////////////////////////////////

// Soft shadow

.text-shadow {
    text-shadow: 0 0 6px rgba($dark, 1);
}

// Hard shadow equal to border width (ideal for text over image readability)

.text-shadow-border {
    text-shadow: 0 0 $border-width rgba($black, 1);
}

////////////////////////////////////////
// F. No button style
////////////////////////////////////////

// Remove default styles associated with buttons

.no-btn-style {
    color: currentColor;
    font-weight: inherit;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

////////////////////////////////////////
// G. Has icon
////////////////////////////////////////

// Has Icon
// Apply to <btn> or <a> with a Font Awesome icon <span> to ensure icon doesn't inherit 
// text decoration underline on hover

$icon-margin: 0.5em;

.has-icon {
    // Position icon and title to either side

    &.disperse {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    &:not(.disperse) {
        span.title {
            margin-left: $icon-margin;
        }
    }
}

////////////////////////////////////////
// H. Paragraph margin lists
////////////////////////////////////////

// Add paragraph-style spacing to generic lists

ul,
ol {
    &.paragraph-li {
        li {
            margin-top: $paragraph-margin-bottom;
            margin-bottom: $paragraph-margin-bottom;
        }
    }
}

////////////////////////////////////////
// I. Z index
////////////////////////////////////////

.z-index-100,
.z-index-200,
.z-index-300,
.z-index-400,
.z-index-500,
.z-index-600,
.z-index-700,
.z-index-800,
.z-index-900 {
    position: relative;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.z-index-300 {
    z-index: 300;
}

.z-index-400 {
    z-index: 400;
}

.z-index-500 {
    z-index: 500;
}

.z-index-600 {
    z-index: 600;
}

.z-index-700 {
    z-index: 700;
}

.z-index-800 {
    z-index: 800;
}

.z-index-900 {
    z-index: 900;
}
