/*

In this file:

// A. Citywide header and footer
// B. Local header and primary nav
// C. Tab skipper
// D. Forms
// E. Gradients
// F. Featured panels
// G. Background image cover
// H. Extensible lists
// I. Matrix rows
// J. Accordion and button toggle
// K. Nav tabs and pills
// L. Side by side
// M. Card
// N. Carousel
// O. Tables

*/

////////////////////////////////////////
// A. Citywide header and footer
////////////////////////////////////////

#nyc-top-header,
#nyc-bottom-footer
{ 
  & a, 
    p
    { color: $white; }
}

#nyc-top-header{ font-size: $fs-sm; }
#nyc-bottom-footer{ font-size: $fs-md; }

#nyc-top-header,
#nyc-bottom-footer
{ background: $black; }

#nyc-top-header{
	p,
  a,
  li
  {
    font-weight: $font-weight-bold;
		line-height: inherit;
	}
}

#nyc-bottom-footer{
  hr{ border-top-color: $dark; }
}

#back-to-top{
  @extend .container-fluid;
  @extend .fixed-bottom;
  @include opacity(0);

  text-align: right;
  transition: opacity .1s linear 0s;

  &.show{ @include opacity(1); }

}
 
////////////////////////////////////////
// B. Local header and primary nav
////////////////////////////////////////

// Primary Navigation variables set here override Bootstrap default component settings

// Primary nav font weight
$primary-nav-font-weight: $font-weight-bold;

// Primary nav link color
$primary-nav-link-color: $body-color;

// Primary nav-right link active (current page) color
$primary-nav-right-link-active-color: theme-color('secondary');

// Primary nav (mobile-only) link active (current page) color
$primary-nav-mobile-link-active-color: theme-color('secondary');

// Primary nav-pills link active (current page) color
$primary-nav-pills-link-active-color: white;

// Primary nav-pills link active (current page) background color
$primary-nav-pills-link-active-bg-color: theme-color('primary');

// Primary nav dropdown background color
$primary-nav-dropdown-bg-color: white;

// Primary nav dropdown items color
$primary-nav-dropdown-item-color: theme-color('body-color');

#global-header{

  // Remove border radius when global '$enable-rounded' is set to true 

  .btn,
  .input,
  .nav-link, 
  .dropdown-menu, 
  .form-control
  { border-radius: 0; }

  // Set primary nav color and active states (both '.nav-pills' and '.nav-right')

  .nav-link{
    font-weight: $primary-nav-font-weight;
    color: $primary-nav-link-color;
    &.active{
      text-decoration: underline;
    }
  }
  
  // Set primary nav color and active states (.nav-right only)

  .nav-right{
    .nav-link{
      &.active { color: $primary-nav-right-link-active-color; }
    }
  }

  // Primary Nav (.nav-pills)

  .nav-pills{
    border-left: $border-width solid $border-color;
    @extend .offset-border-x;
    @extend .nav-fill;

    .nav-link{
      border-right: $border-width solid $border-color;

      &.active { 
        color: $primary-nav-pills-link-active-color;
        background-color: $primary-nav-pills-link-active-bg-color;
      }

      &[aria-expanded="true"]{
        color: currentColor;
        background-color: $primary-nav-dropdown-bg-color;
      }
    }

  } // .nav-pills

  // Set .dropdown-menu styles

  .dropdown-menu{
    background-color: $primary-nav-dropdown-bg-color;
    border: none;

    a.dropdown-item{
      color: $primary-nav-dropdown-item-color;      
      background: none; // Remove Bootstrap Default background color
      white-space: normal; // Fix Bootstrap Default white-space 'no-wrap'

      &.active{ text-decoration: underline; }
    }
  }

  // Improve .dropdown-menu when present within .nav-pills

  #nav-primary.nav-pills .dropdown-menu{
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    
    // When dropdowns are flush left or right, remove Bootrap transform and reposition y axis
    transform: none !important;
    top: 100% !important;
  }


} /* #global-header */ 

// Resets dropdown functionality on mobile

#device-menu{

  .nav-link{
    padding-top: $spacer-1;
    padding-bottom: $spacer-1;

    &.active { color: $primary-nav-mobile-link-active-color; }

    @if $enable-caret {
      &.dropdown-toggle{
        &[aria-expanded="true"]::after {
          @include caret-up;
        }
      }
    } // end if
  }

  .dropdown-menu.show{
    position: static !important;
    background: $transparent;

    -webkit-transform: none !important; /* Safari and Chrome */
       -moz-transform: none !important; /* Firefox */
        -ms-transform: none !important; /* IE 9 */
         -o-transform: none !important; /* Opera */
            transform: none !important;

    width: 100%;
    padding: 0 $spacer-4;
    margin: 0;

    a.dropdown-item{
      width: auto !important;
      color: currentColor;
      padding: 0;
      margin-bottom: $spacer-1;
      float: left;

      &:hover,
      &:active,
      &:visited
      { background: none; }
    }
  }
}

////////////////////////////////////////
// C. Tab skipper
////////////////////////////////////////

// Visible only on keyboard tabbing

.tab-skipper{
  @extend .position-absolute;
  @extend .shadow;

  top: $spacer;
  left: $spacer;
  z-index: 900;
  padding: $spacer-2;
  font-size: $fs-md;
  background: theme-color("light");
  color: $body-color;

  &:hover{ color: currentColor; }
}

////////////////////////////////////////
// D. Forms
////////////////////////////////////////

// Make alerts focusable for accessibility
 
.alert{
  outline: 0;

  &[tabindex="-1"]{
    &:focus{
      box-shadow: 0 0 0 $input-btn-focus-width theme-color("danger");
    }
  }
}

.alert-heading{
  font-weight: $font-weight-bold;
  margin-bottom: $spacer-1;
}

.alert-text{
  font-size: $fs-md; 
  a{ @extend .blended-link; }
}

// Apply custom valdation for accessibility
// The following works only when custom './js/validation.js' is present in the footer of the form's page

.form-group{

  .invalid-feedback{
      display: none; 
      margin-bottom: 0.5rem;
  }

  .invalid-description{
    font-weight: $font-weight-bold;
    margin-left: $spacer-1;
    margin-right: $spacer-1;
  }

  &.is-invalid{

    label{ color: theme-color("danger"); }

    .invalid-feedback{ display: block; }

    .form-control:invalid{
      &:focus{
        box-shadow: 0 0 0 $input-btn-focus-width theme-color("danger");
      }
    }
  }
}

$fieldset-and-legend: true;

@if($fieldset-and-legend){

  fieldset{
    border: $border-width solid $border-color;
    margin-bottom: $spacer-5;
  }

  legend, 
  .legend{
    font-size: $fs-md;
    font-weight: $font-weight-normal;
    background: theme-color("primary");
    color: white;
    padding: $spacer-2;
    margin-bottom: 0;

  }

} // end if

////////////////////////////////////////
// E. Gradients
////////////////////////////////////////

// Gradients call a custom mixin in '_c-custom-mixins.scss'

$gradients: true;

@if($gradients){

  [class*="overlay-gradient-"]{
    position: relative;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;

    }
  }

  // Gradient Overlays

  .overlay-gradient-y-black::before{
    @include linear-gradient();
  }

  .overlay-gradient-x-white::before{
    @include linear-gradient(
      $direction: to left,
      $first-color: white,
      $second-color: white,
      $first-color-opacity: 0,
      $second-color-opacity: 0.75,
      $first-color-position: 0,
      $second-color-position: 100%
    );
  }

  .overlay-gradient-x-info::before{
    @include linear-gradient(
      $direction: to right,
      $first-color: theme-color("info"),
      $second-color: theme-color("info"),
      $first-color-opacity: 0,
      $second-color-opacity: 0.75,
      $first-color-position: 0,
      $second-color-position: 100%
    );
  }

} // end if

////////////////////////////////////////
// F. Featured panels
////////////////////////////////////////

@mixin featured-panel-responsive-settings(){
  [class*="overlay-gradient"]::before{ display: none; }
  .card-img-overlay{ position: relative; }
  .text-shadow{ text-shadow: none; }
  [class*="border"]{ border: none !important; }
  [class*="shadow"]{ box-shadow: none !important; }
  img.show-on-mobile{ @include opacity(1); }
}

$featured-panel: true;

@if($featured-panel){
  
  .featured-panel{

    > .card, 
    .card-img{
      border: none;
      border-radius: 0;
    }
    
    .card-img-overlay{ 
      padding-left: 0;
      padding-right: 0;
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @if $next {
        &.responsive-#{$next}{
          @include media-breakpoint-down($breakpoint) {
            @include featured-panel-responsive-settings();
          }
        }
      }
    }
  }

} // end if

////////////////////////////////////////
// G. Background image cover
////////////////////////////////////////

$bg-fixed-image-opacity: 0.4;
$bg-fixed-height: 350px;

.bg-cover{
  position: relative;

  &.fixed-height{
    display: flex;
    align-items: center;
    min-height: $bg-fixed-height;
  }

  > div{
    position: relative;
    z-index: 100;
  }

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;

    @include opacity( $bg-fixed-image-opacity );
    @include apply-background-image;

  }

  // Add your own backround classes and append them to the '.bg-cover' selector

  &.bridge{
    &::before{
      @include apply-background-image($image: 'bridge-lights');
    }
  }
}

////////////////////////////////////////
// H. Extensible lists
////////////////////////////////////////

// Note: Link lists can be used in place of Bootstrap's .nav when Link padding is unneeded.
// Link lists are ideal for horizontal navs when supporting 'rtl' 

$extensible-list: true;
$extensible-list-margin: 0.5em;

@mixin extensible-list-stack {
  margin-bottom: $extensible-list-margin;
  &:last-child{ margin-bottom: 0; }
}

@mixin responsive-extensible-list-settings(){ 
  
  // Remove flex properties
  display: block !important;

  // Remove side margin and padding 
  margin-right:  0;
  margin-left:  0;
  padding-right:  0;
  padding-left:  0;

  li{ 
    @include extensible-list-stack;
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
   }
}

@if($extensible-list){

  .extensible-list{
    @include list-unstyled();
    
    // fixed padding added by user agent stylesheet after translation
    -webkit-padding-start: 0;

    li > ul{ 

      margin-top: $extensible-list-margin;

      // Nested lists indent by default
      padding-left: $nav-link-padding-x;
      padding-right: $nav-link-padding-x; 

    }

    li{ @include extensible-list-stack; }

    &.horizontal{
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-left: -($extensible-list-margin);
      margin-right: -($extensible-list-margin);

      li{
        margin-bottom: 0;
        margin-left: $extensible-list-margin;
        margin-right: $extensible-list-margin;
      }

      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @if $next {
          &.responsive-#{$next}{
            @include media-breakpoint-down($breakpoint) {
              @include responsive-extensible-list-settings();
            }
          }
        }
      }
    }
  }
  
} // end if

////////////////////////////////////////
// I. Matrix rows
////////////////////////////////////////

// Note: Add to '.row' class to create a grid of colums
// with equal spacing on all sides, not just the gutters 

$matrix-border-padding: ($border-width / 2);
$matrix-gutter-padding: ($grid-gutter-width / 4);

.matrix-border{
  margin-top: -($matrix-border-padding);
  margin-right: -($matrix-border-padding);
  margin-bottom: -($matrix-border-padding);
  margin-left: -($matrix-border-padding);

  > [class^="col"]{ padding: $matrix-border-padding; }
}

.matrix-gutter{
  margin-top: -($matrix-gutter-padding);
  margin-right: -($matrix-gutter-padding);
  margin-bottom: -($matrix-gutter-padding);
  margin-left: -($matrix-gutter-padding);

  > [class^="col"]{ padding: $matrix-gutter-padding; }
}

////////////////////////////////////////
// J. Accordion and button toggle 
////////////////////////////////////////

%fa-icon{
  font-family: $font-awesome;
  font-weight: 900;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: currentColor;
}

$toggles-and-accordions: true;

@if($toggles-and-accordions){

  // Accordion Preferences

  $accordion-button-border: false;
  $accordion-button-shadow: false;

  $accordion-title-color: theme-color("primary");
  $accordion-bg-color: theme-color("light");

  .btn-toggle,
  .accordion-group
  {
    [data-toggle="collapse"]{
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }

  // Button toggle

  .btn-toggle {

    [data-toggle="collapse"] {
      overflow: hidden;

      &::after {
        content: "\f067";
        @extend %fa-icon;
      }

      // Change the right icon here. Go to https://fontawesome.com/icons
      // Find your icons and paste the unicode below

      &[aria-expanded="true"]::after {
        content: "\f068";
      }

      &[aria-expanded="false"]::after {
        content: "\f067";
      }
    }
  }

  // Accordions
    
  .accordion-group{

    .card, 
    .card-header
    { 
      border: 0;
      
      @if $enable-rounded {
        border-radius: $border-radius;
      } @else{
        border-radius: 0;
      }
    }

    .card { background-color: $accordion-bg-color; }

    a[data-toggle="collapse"]{
      
      @if $accordion-button-border { border: $border-width solid $border-color; }
      @if $accordion-button-shadow { @extend .shadow-sm; }

      color: $accordion-title-color;
    
      &:after{ 
        content: "\f067";
        @extend %fa-icon;
      }

      &[aria-expanded="true"]{
        
        @if $accordion-button-shadow {
          @extend .shadow;
        }

      }

      // Change the right icon here. Go to https://fontawesome.com/icons
      // Find your icons and paste the unicode below
      
      &[aria-expanded="true"]:after{ content: "\f106"; }
      &[aria-expanded="false"]:after{ content: "\f107"; }
    }
    
  }

} // end if

////////////////////////////////////////
// K. Responsive nav tabs and pills
////////////////////////////////////////

@mixin responsive-nav-pills-and-tabs-settings(){
  
  flex-direction: column;

  border-color: $transparent;

  .nav-link{ border-color: $border-color; }

  @if $enable-rounded {
    .nav-link{ 
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

$responsive-nav-pills-and-tabs: true;

@if($responsive-nav-pills-and-tabs){

  .nav-pills,
  .nav-tabs
  {

    &[class*="responsive-"]{
      .nav-link{ text-align: center; }
    } 

    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @if $next {
        &.responsive-#{$next}{
          @include media-breakpoint-down($breakpoint) {
            @include responsive-nav-pills-and-tabs-settings();
          }
        }
      }
    }

  }
  
  .nav-tabs{
    
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @if $next {
        &.responsive-#{$next}{
          @include media-breakpoint-down($breakpoint) {
            @include responsive-nav-pills-and-tabs-settings();
          }
        }
      }
    }
    
  } // end each

  @if $enable-rounded {
    .nav-pills{ @extend .rounded; }
  }

} // end if

////////////////////////////////////////
// L. Side by side
////////////////////////////////////////

$side-by-side: true;
$side-by-side-margin: 0.25em;

.side-by-side{
  display: flex;
  flex-direction: row;

  margin-left: -($side-by-side-margin);
  margin-right: -($side-by-side-margin);

  > span{
    margin-left: $side-by-side-margin;
    margin-right: $side-by-side-margin;
  }
} 

////////////////////////////////////////
// M. Card
////////////////////////////////////////

$default-card-borders: false;
$default-card-backgrounds: false;

@if ($default-card-borders == false) {
  .card, 
  .card-header,
  .card-footer
  { border: none; }
} // end if

@if ( $default-card-backgrounds == false ) {
  .card, 
  .card-header,
  .card-footer
  { background-color: transparent; }
} // end if

////////////////////////////////////////
// N. Carousel
////////////////////////////////////////
 
$carousel: false;
 
@if($carousel){
 
  .carousel{
 
    a[data-slide="prev"],
    a[data-slide="next"]
    { color: $carousel-control-color; }
 
    .carousel-indicators{
      position: static;
      margin: 0;
      padding: 0;
      
      > li{
        cursor: pointer;
        border-radius: 50%;
 
        &::before,
        &::after
        { display: none; }
      }
    }

    .carousel-caption{
      padding: 0;
      bottom: 0.75rem;

      > p{ 
        @extend .shadow-sm;
        display: inline-block;
        border-radius: $border-radius;
        padding: $spacer-2;
        font-size: $fs-md;
        color: $body-color;
        @include background-opacity($light, 0.9);
      }
    }
 
    @include media-breakpoint-down(md){
 
      .carousel-caption{
        position: static;
        background: $light;

        > p{
          @include border-radius(0);
          box-shadow: none !important;
        }
      }
    }
  }
 
} // end if

////////////////////////////////////////
// O. Tables
////////////////////////////////////////

$table-header-color: $info;

$mobile-header-width: 35%;

$table-font-size: $fs-md;

table{

  font-size: $table-font-size;

  th{ color: $table-header-color; }

  &.table-row-mobile-stack {

    thead td:empty{ border: none; }
    
    @include media-breakpoint-up(lg) {
      .psuedo-cell{ display: none; }
    }
    
    @include media-breakpoint-down(md) {

      thead { @include sr-only }

      tbody tr {
        display: flex;
        flex-flow: row wrap;
        border-top: $border-width solid $table-header-color;

        + tr {
          margin-top: $spacer-4;
        }
      }

      td {
        display: flex;
        align-items: center;
        word-break: break-all;
        hyphens: auto;

        &[aria-hidden="true"] { flex-basis: $mobile-header-width; }

        &:not([aria-hidden="true"]) { flex-basis: 100% - $mobile-header-width; }

        &:nth-of-type(2),
        &:first-of-type 
        { border: none; }
      }

      th {
        flex-basis: 100%;
        border-bottom: $border-width solid $border-color;
        border-width: 0 0 $border-width 0;
        font-size: 1.25em;
      }

    }

  }

}