/*

In this file:

// A. Floating breakpoints bar
// B. Container background color

*/

////////////////////////////////////////
// A. Floating breakpoints bar
////////////////////////////////////////

// Floating bar with visible breakpoints

$floating-breakpoints-bar: false;

@if $floating-breakpoints-bar {

    html {

        // Remove height added by Google Translate

        height: auto !important;

        &::before {
            @extend .sticky-top;
            @extend .shadow-sm;
            display: block;
            color: white;
            text-align: center;
            padding: $spacer-2;
            z-index: 5000;
            background-color: rgba(purple, 0.9);
        }

        @each $breakpoint in map-keys($grid-breakpoints) {
            &::before {
                @include media-breakpoint-up($breakpoint) {
                    content: 'breakpoint: '+ $breakpoint;
                }
            }
        }
    }

}

////////////////////////////////////////
// B. Container background color
////////////////////////////////////////

// Add background color to containers

$container-background-color: true;
$container-background-opacity: 0.5;

@if $container-background-color {

    [class*="container"] {
        background-color: rgba(red, $container-background-opacity) !important;
    }

    .narrow {
        background-color: rgba(orange, $container-background-opacity) !important;
    }

    .medium {
        background-color: rgba(yellow, $container-background-opacity) !important;
    }

    .wide {
        background-color: rgba(green, $container-background-opacity) !important;
    }

}