$amount: 0.5;

//////////////////////////
//                      //
// Global color palette //
//                      //
//////////////////////////

// Black & white

$black: black;
$white: white;

// Social media 

$facebook: #3b5999;
$twitter: #4dc8f1;
$instagram: $black;
$youtube: #ff0000;
$flickr: #ff0084;

// NYC accessible colors

$crimson: #D9003D;
$brick-red: #881728;
$emergency-red: #D61F27;
$red-orange: #EE412F;
$tech-orange: #F26E23;
$empire-yellow: #F2AE1C;
$sun-yellow: #FCED20;
$lime-green: #B2E92E;
$park-green: #75BD1D;
$olive-green: #3A4420;
$forest-green: #19502C;
$spring-green: #0F8417;
$clean-green: #00A35D;
$teal: #008080;
$aqua: #3CDCBE;
$sky-blue: #44C8F5;
$true-blue: #1461FF;
$royal-blue: #00529A;
$deep-blue: #1D2252;
$deep-violet: #32006B;
$violet: #6931BA;
$purple: #782F92;
$deep-magenta: #6C0053;
$fuschia: #ED0F69;
$pearl: #EDEAD8;

$theme-colors: (

  "white": $white,
  "black": $black,

  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  
  // Social media 

  "facebook": $facebook,
  "twitter": $twitter,
  "instagram": $instagram,
  "youtube": $youtube,
  "flickr": $flickr,

  // NYC accessible colors

  "crimson": $crimson,
  "brick-red": $brick-red,
  "emergency-red": $emergency-red,
  "red-orange": $red-orange,
  "tech-orange": $tech-orange,
  "empire-yellow": $empire-yellow,
  "sun-yellow": $sun-yellow,
  "lime-green": $lime-green,
  "park-green": $park-green,
  "olive-green": $olive-green,
  "forest-green": $forest-green,
  "spring-green": $spring-green,
  "clean-green": $clean-green,
  "teal": $teal,
  "aqua": $aqua,
  "sky-blue": $sky-blue,
  "true-blue": $true-blue,
  "royal-blue": $royal-blue,
  "deep-blue": $deep-blue,
  "deep-violet": $deep-violet,
  "violet": $violet,
  "purple": $purple,
  "deep-magenta": $deep-magenta,
  "fuschia": $fuschia,
  "pearl": $pearl,
);

//////////////////////////////
//                          //
// Additional size defaults //
//                          //
//////////////////////////////

// These variables affect the `.h-*` and `.w-*` classes.

$sizes: (
  25: 25%,
  33: 33.3333%,
  50: 50%,
  66: 66.6666%,
  75: 75%,
  100: 100%,

);

////////////////////////
//                    //
// Additional spacers //
//                    //
////////////////////////

$spacer: 1rem !default; // 16px

$spacers: (
  0: 0,
  1: ($spacer * .25),   // 4px
  2: ($spacer * .5),    // 8px
  3: $spacer,           // 16px
  4: ($spacer * 1.5),   // 24px
  5: ($spacer * 3),     // 48px
  6: ($spacer * 4)      // 64px

) !default;

///////////////////////
//                   //
// Global font sizes //
//                   //
///////////////////////

$fs-small: 0.875rem;    // 14px
$fs-medium: 1rem;       // 16px
$fs-regular: 1.25rem;   // 20px
$fs-large: 1.5rem;      // 20px
