/*

In this file:

// A. SCSS imports (required)
// B. Theme styles

*/

////////////////////////////////////////
// A. SCSS imports (Required)
////////////////////////////////////////

// Import custom SCSS

@import "_header.scss";
@import "a-global-variables.scss";
@import "b-bootstrap-imports.scss";
@import "c-custom-mixins.scss";
@import "d-enhancements.scss";
@import "e-supplementary-classes.scss";
@import "f-ui-elements.scss";
@import "g-dev-tools.scss";
@import "h-nyc-subway-icons.scss";
@import "i_prism-theme.scss";

////////////////////////////////////////
// B. Theme styles
////////////////////////////////////////

// Put anything you want here

// pre.prettyprint {
//     width: 100% !important;
//     background: $dark !important;
//     margin: $spacer-3 0 !important;
//     padding: $spacer-3 $spacer-2 !important;
//     white-space: pre !important;

//     font-size: $fs-sm;
//     ::-moz-selection { background: rgba( $info, .5); }
//     ::selection { background: rgba( $info, .5); }

// }

.code-group{
    position: relative;

    > button{
        position: absolute;
        top: 0;
        right: 0;
        margin: ($spacer-1/2) $spacer-1;

        @include hover-focus{
            @include opacity(1);
            @include opacity(.75);
        }
    }
}