@import "custom-mixins.scss";

/////////////////////
//                 //
// Theme variables //
//                 //
/////////////////////

// Default grays

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Theme specific colors 

$clean-green: #00A35D;
$true-blue: #1461FF;
$spring-green: #0F8417;
$royal-blue: #00529A;
$deep-blue: #1D2252;
$teal: #008080;

/////////////////////////////////////
//                                 //
// NYC header & primary navigation //
//                                 //
/////////////////////////////////////

$header-link-color: black;
$header-pill-border-color: $gray-200;
$header-link-active-color: $royal-blue;
$header-dropdown-background-color: darken($header-link-active-color, 10%);

#global-header{

  .wrap-header{
    position: relative;
    z-index: 500;
  }
    
  // Color, active state, and style of .btn-toggle

  .btn-toggle{
    
    cursor: pointer;
    outline: 0;
    padding: 0; 
    border: none;
    background: none;
    color: $header-link-color;

    &:focus{ outline: none; }
    &[aria-expanded="true"]{ color: $header-link-active-color; }
  }

  // Color and active state of links
  
  nav a, 
  nav a:hover,
  nav a:visited

  {
    color: $header-link-color;
    &.active{ color: $header-link-active-color; }
  }

  // Color, active state, and background of links in #global-header

  .nav.nav-pills a.active{
    color: white;
    background: $header-link-active-color;
  }

  // Remove Bootstrap default border-radius on nav-pills 

  .dropdown-menu,
  .nav.nav-pills .nav-link
  { @include border-radius(0); }

  .nav.nav-pills{

     .nav-link{
      padding: 0.85rem;
      border:1px solid $header-pill-border-color;
      border-left-color: transparent;
      border-top: none;
      border-bottom: none;

      &.active{ border-right-color: $header-link-active-color; }
      &:last-child { border: none; }
    }

    // Remove Bootstrap default blue background on 'show'
    
    > .show .nav-link:not(.active){ background: none; }
  }

  // Resets dropdown functionality on mobile navigation

  #device-menu{

    .dropdown-menu.show{

      position: static !important;

      -webkit-transform: none !important; /* Safari and Chrome */
         -moz-transform: none !important; /* Firefox */
          -ms-transform: none !important; /* IE 9 */
           -o-transform: none !important; /* Opera */
              transform: none !important;

      width: 100%;
      border: none;
      margin: 0;
      padding: 0 1rem;

      a.dropdown-item{
        display: inline-block !important;
        width: auto !important;
        float: left;
        padding:0.25rem 1.25rem;
        color: black;

        &:hover,
        &:active,
        &:visited
        { background: none; }
      }
    }
  }

  // Improves .dropdown-menu when present within .nav-pills

  .nav-pills .dropdown-menu{
    left: 0;
    margin:0;
    width:100%;
    border: none;
    background: $header-dropdown-background-color;
    
    a.dropdown-item{

      color: white;
      background: none;
      &:hover,
      &:active,
      &:visited
      { background: none; }
    }
  }

} /* #global-header */ 

#nav-primary{

  &.navbar,
  .nav-link{
    padding-left: 0;
    padding-right: 0;
  }
}

#nav-primary.navbar{

  .navbar-toggler{
    outline: 0;
    border: none;
    @include border-radius(0);
    padding: .5rem 0;
    line-height:1.5;
    color: black;
  }
  
  .nav-item {
    margin-right: 1em;
  }

  li.active a.nav-link{
    color: $header-link-active-color;
  }
}

////////////////////////////////////////////
//                                        //
// Responsive font style sizes (optional) //
//                                        //
////////////////////////////////////////////

// Display-* font sizes

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem; 

@include media-breakpoint-down(md){
  .display-1{ font-size: $display1-size * 0.5; }
  .display-2{ font-size: $display2-size * 0.5; }
  .display-3{ font-size: $display3-size * 0.5; }
  .display-4{ font-size: $display4-size * 0.5; }
}

@include media-breakpoint-down(lg){
  .display-1{ font-size: $display1-size * 0.75; }
  .display-2{ font-size: $display2-size * 0.75; }
  .display-3{ font-size: $display3-size * 0.75; }
  .display-4{ font-size: $display4-size * 0.75; }
}

////////////////////////////////
//                            //
// Carousel styles (optional) //
//                            //
////////////////////////////////

.carousel{

  a[class^="carousel-control-"]{ width: 50px; }

  .carousel-indicators{
    width:100%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background: black;

    > li{ cursor: pointer; }
  }

  @include media-breakpoint-down(md){

    a[class^="carousel-control-"], 
    div.gradient-overlay::before
    { display: none; }

    .carousel-caption{
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      color: white;
      background: black;
    }
  }
}

///////////////////////////
//                       //
// Theme specific styles //
//                       //
///////////////////////////

// Fonts 

body{ font-family: 'Roboto', sans-serif; }

article > header{ text-transform: capitalize; }

// General styles

#nav-extras a.nav-link{
  &.active
  { color: grey; }
}

.color-swatches{

  .card{
    border: none;
    border-radius: 0;
    border-color: white;
    margin-bottom: 0;
    .card-header, 
    .card-footer, 
    { background-color: transparent; }
  }
}
