@use "sass:map";
@use "breakpoints";

/*

In this file:

// A. Variables
// B. Display Utilities

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$display-types: block, inline, inline-block, flex, none;

//////////////////////////////////////////////
// B. Display Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        @each $value in $display-types {
            .display-#{$value}#{$mod} {
                display: $value !important;
                @if $value == none {
                    &.collapse{
                        display: $value !important;
                    }
                }
            }
        }
    }
}