/*

In this file:

// A. Variables
// B. Display Utilities

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$display-types: block, inline, inline-block, flex, none;

//////////////////////////////////////////////
// B. Display Utilities
//////////////////////////////////////////////

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        @each $value in $display-types {
            .display-#{$value}#{$mod} {
                display: $value !important;
                @if $value == none {
                    &.collapse{
                        display: $value !important;
                    }
                }
            }
        }
    }
}