
// @use "spacing";

/*

In this file:

// A. @use

// D. Caret
// E. Subtle Fill
// H. Truncate Text

*/


////////////////////////////////////////
// D. Caret
////////////////////////////////////////

$default-caret-size: 0.25em;
$default-caret-margin: 0.375em;

// Create caret icon

@mixin caret-icon( $size: $default-caret-size ) {
    border-top: $size solid;
    border-right: $size solid transparent;
    border-bottom: 0;
    border-left: $size solid transparent;
}

// Add Caret ::aftter

@mixin add-caret( $location: "append" ) {

    display: flex;
    align-items: center;
    
    &::after {
        content: "";
        display: inline-block;

        @include caret-icon;

        margin-left: $default-caret-margin;
        margin-right: $default-caret-margin;
        color: inherit;
        
    } 
    
    @if $location == "prepend" {
        flex-direction: row-reverse;
    }
}

////////////////////////////////////////
// E. Subtle Fill
////////////////////////////////////////

%subtle-fill {
    position: relative;
    --subtle-fill-opacity: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        background-color: currentColor;
        pointer-events: none;

        transition: opacity 0.25s;
        opacity: var(--subtle-fill-opacity);
    }
}