/*

In this file:

// A. Gradient Veneer Utility
// B. Gradient Veneer Modifiers

*/

////////////////////////////////////////
// A. Gradient Veneer Utility
////////////////////////////////////////

[class*="gradient-veneer"]{
    --gradient-direction: to bottom;
    --gradient-start: 25%;
    --gradient-opacity: 1;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient( var(--gradient-direction), hsla(0, 0%, 100%, 0) var(--gradient-start), var(--gradient-color) );
        background-clip: border-box;

        opacity: var(--gradient-opacity);
        display: none;
    }

    &[class*="-veneer--top"] {
        --gradient-direction: to top;
    }

    &[class*="-veneer--right"] {
        --gradient-direction: to right;
    }

    &[class*="-veneer--bottom"] {
        --gradient-direction: to bottom;
    }

    &[class*="-veneer--left"] {
        --gradient-direction: to left;
    }
}

////////////////////////////////////////
// B. Gradient Veneer Modifiers
////////////////////////////////////////

.gradient-veneer-top {
    --gradient-direction: to top;
}

.gradient-veneer-right {
    --gradient-direction: to right;
}

.gradient-veneer-bottom {
    --gradient-direction: to bottom;
}

.gradient-veneer-left {
    --gradient-direction: to left;
}

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoints-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        .gradient-veneer-top#{$mod},
        .gradient-veneer-right#{$mod},
        .gradient-veneer-bottom#{$mod},
        .gradient-veneer-left#{$mod} {
            &::after{
                display: block !important;
            }
        }
        
    }
}