/*

In this file:

// A. Imports
// B. Custom Properties
// C. Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@import "partials/breakpoints";

//////////////////////////////////////////////
// B. Custom Properties
//////////////////////////////////////////////

:root {
    --primary: #222BE6;
    --secondary: #00D5A0;
    --dark: #000050;
    --light: #f1f4f6;
    --text-on-primary: white;
    --text-on-secondary: var(--dark);

    --attention: var(--primary);

    --base-font-size: 20px;
    --base-line-height: 1.5;

    --base-font-family: "neue-haas-grotesk-text";
}

//////////////////////////////////////////////
// C. Theme Styles
//////////////////////////////////////////////

.callout {
    overflow: hidden;

    .message {
        position: relative;
    }

    @include breakpoint-down(md) {
        text-align: center;

        .grid {
            position: relative;

            .message {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                background-color: rgba(white, 0.75);
            }

            .message > div {
                margin-top: auto;
                margin-bottom: auto;
                padding: var(--s4);
                background-color: transparent;
            }
        }
    }
}

table{
    line-height: var(--base-line-height);
}

td > p{
    margin-bottom: 0.5em;
}


.browser{
    --browser-bar-height: 2rem;

    overflow: hidden;
    border-radius: 0.25em;

    box-shadow: 0 0 0.75rem rgba(black, 0.125);

    @include breakpoint-down(md) {
        --browser-bar-height: 2rem;

        [class*="aspect-ratio--"] {
            height: 400px;
        }

        [class*="aspect-ratio--"]::before {
            padding-top: 0;
        }

        .aspect-ratio__element {
            position: relative;
        }
    }
}

.browser__bar{
    height: var(--browser-bar-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(0%, 0%, 80%);

    > div{
        display: flex;
        flex-direction: row;
        margin-left: calc(var(--browser-bar-height) * 0.25);
        margin-right: calc(var(--browser-bar-height) * 0.25);
    }

    > div > span{
        height: calc( var(--browser-bar-height) * 0.5 );
        width: calc( var(--browser-bar-height) * 0.5 );
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        display: inline-block;
        border-radius: 75%;
        opacity: 0.5;

        &:nth-child(1) {
            background-color: red;
        }

        &:nth-child(2) {
            background-color: orange;
        }

        &:nth-child(3) {
            background-color: green;
        }

    }
}