/*

In this file:

// A. Imports
// B. Custom Properties
// C. Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@import "partials/breakpoints";

//////////////////////////////////////////////
// B. Custom Properties
//////////////////////////////////////////////

:root {
    --primary: #222BE6;
    --secondary: #00D5A0;
    --dark: #000050;
    --light: #f1f4f6;
    --text-on-primary: white;
    --text-on-secondary: var(--dark);

    --attention: var(--primary);

    --backdrop-fixed-height: 300px;
    --base-font-size: 19px;

    --base-font-family: "neue-haas-grotesk-text";
}

//////////////////////////////////////////////
// C. Theme Styles
//////////////////////////////////////////////

.callout {
    overflow: hidden;

    .message {
        position: relative;
    }

    @include breakpoint-down(md) {
        text-align: center;

        .grid {
            position: relative;

            .message {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                background-color: rgba(white, 0.75);
            }

            .message > div {
                margin-top: auto;
                margin-bottom: auto;
                padding: var(--s4);
                background-color: transparent;
            }
        }
    }
}