/*

In this file:

// A. Modules
// B. Variables
// C. Box Shadow Utilities
// D. Text Shadow Utility
// E. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

%box-shadow-vars {
    --base-shadow-unit: 1rem;

    --base-shadow-opacity: 0.125;
}

[class*="theme-dark"] {
    --base-shadow-opacity: 0.175;
}

//////////////////////////////////////////////
// C. Box Shadow Utilities
//////////////////////////////////////////////

body:not([class*="box-shadow-"]),
[class*="box-shadow-"] {
    @extend %box-shadow-vars;

    --shadow-opacity: 0;

    box-shadow:
        0 calc(var(--base-shadow-unit) * 0.25) calc(var(--base-shadow-unit) * 1) rgba(0, 0, 0, calc(var(--shadow-opacity) * 1)),
        0 calc(var(--base-shadow-unit) * 1) calc(var(--base-shadow-unit) * 2) rgba(0, 0, 0, calc(var(--shadow-opacity) * 0.5)),
        0 calc(var(--base-shadow-unit) * 1.5) calc(var(--base-shadow-unit) * 3) rgba(0, 0, 0, calc(var(--shadow-opacity) * 0.25));
}

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);
        
        .box-shadow-1#{$mod} {
            --base-shadow-unit: 0.25rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-2#{$mod} {
            --base-shadow-unit: 1rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-3#{$mod} {
            --base-shadow-unit: 2rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }
    }
}

body:not([class*="box-shadow-"]){
    @extend .box-shadow-3;
}

//////////////////////////////////////////////
// D. Text Shadow Utility
//////////////////////////////////////////////

.text-shadow {
    text-shadow: 0 0 6px rgba(black, 0.75);
}

//////////////////////////////////////////////
// E. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    [class*="box-shadow"] {
        --base-shadow-opacity: 0.25;

       box-shadow:0 0 1.5rem hsla(0, 0%, 0%, var(--base-shadow-opacity));
    }
}