<footer class="theme-primary font-size-md text-align-center" role="contentinfo">

    <h2 class="sr-only">
        Page Footer
    </h2>

    <div class="container overflow-hidden">

        <div class="narrow margin-y-4">

            <p>
                <strong>NYC Core Framework</strong><br>
                Current version: 2.0 - Battery Park
            </p>

            <div class="margin-y-3">

                <!-- <a class="display-none margin-bottom-2" href="https://www1.nyc.gov" title="Go to nyc.gov" data-logo="brand">

                    <svg xmlns="http://www.w3.org/2000/svg" width="174" height="30" viewBox="0 0 174 30">
                        <title>NYC DoITT</title>
                        <g>
                            <polygon points="29.062 0 25.312 0 24.375 0.938 24.375 2.813 22.5 4.688 20.625 2.813 20.625 0.938 19.688 0 15.937 0 15 0.938 15 0.937 14.063 0 10.313 0 9.375 0.937 9.375 4.683 4.688 0 0.938 0 0 0.937 0 14.048 0.938 14.984 4.688 14.984 5.625 14.048 5.625 10.302 10.313 14.984 14.063 14.984 15 14.048 15 6.563 19.688 11.25 19.688 14.063 20.625 15 17.812 15 14.991 17.826 14.991 27.191 17.804 30 27.179 30 29.991 27.191 29.991 24.381 29.054 23.257 24.366 23.257 24.366 24.381 20.616 24.381 20.616 20.635 24.366 20.635 24.366 21.759 29.054 21.759 29.991 20.635 29.991 17.826 27.187 15 24.375 15 25.312 14.063 25.312 11.25 30 6.563 30 0.938 29.062 0" />
                            <path d="M29.8625,15.6243a.4933.4933,0,1,1-.49-.5291.4958.4958,0,0,1,.49.5291m-1.1212,0a.6294.6294,0,1,0,.6308-.64.6165.6165,0,0,0-.6308.64" />
                            <path d="M29.2451,15.3811h.1408c.07,0,.1542.01.1542.0962,0,.1029-.0771.1108-.1642.1108h-.1308Zm-.1162.61h.1162v-.3029h.11l.1833.3029h.1321l-.1987-.3112a.1814.1814,0,0,0,.185-.1938c0-.1437-.0871-.2037-.2588-.2037h-.2691Z" />
                        </g>
                        <g>
                            <polygon points="111.5 10 121.5 10 121.5 30 131.5 30 131.5 10 141.5 10 141.5 0 111.5 0 111.5 10" />
                            <polygon points="144 0 144 10 154 10 154 30 164 30 164 10 174 10 174 0 144 0" />
                            <path d="M81.5,20a5,5,0,1,1,5-5,5,5,0,0,1-5,5m0-20a15,15,0,1,0,15,15,15,15,0,0,0-15-15" />
                            <path d="M49,20H44V10h5a5,5,0,0,1,0,10M49,0H34V30H49A15,15,0,0,0,49,0" />
                            <rect x="99.0001" width="10" height="30" />
                        </g>
                    </svg>

                </a> -->

                <p class="margin-bottom-2">
                    &#169; 2020 - City of New York. All Rights Reserved. The NYC Core Framework is created and
                    maintained by NYC Information Technology and Telecommunications.
                </p>

                <ul class="nav nav--horizontal justify-content-center">
                    <li>
                        <a class="text-reset" href="http://www1.nyc.gov/home/privacy-policy.page">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a class="text-reset" href="http://www1.nyc.gov/home/terms-of-use.page">
                            Terms of Use
                        </a>
                    </li>
                </ul>

            </div>
            <!-- .margin-y-3 -->

        </div>

    </div>
    <!-- .container -->

    <div class="container padding-y-2 border-top">
        <a href="#" data-scroll="top">
            Back to Top
        </a>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/gh/CityOfNewYork/nyc-core-framework@new-version/dist/js/nyc_core.js"></script>

{% if page.title == 'Home' %}  
<script src="{{ site.baseurl }}/dist/js/home.js"></script>
{% endif %}

{% if page.url contains '/documentation' or '/templates' %}
<script src="{{ site.baseurl }}/lib/js/prism.js"></script>
<script src="{{ site.baseurl }}/dist/js/iframe_height.js"></script>

{% endif %}

{% if page.title == 'Customization' %}

<script defer>

    const customPropButtonList = document.querySelectorAll('[data-clipboard]');

    for (const customPropButton of customPropButtonList) {

        let myButtonText = customPropButton.innerHTML.trim().replace(/&nbsp;/g, '');

        const resetButton = () => {
        
            for (otherButtons of customPropButtonList){
                otherButtons.innerHTML = myButtonText;
            }
        
        }

        customPropButton.addEventListener('click', function (event) {

            event.preventDefault();

            let currentRow = event.target.closest('tr');

            let myCustomPropertyName = currentRow.querySelector('[data-prop]').innerHTML.trim().replace(/&nbsp;/g, '');
            let myCustomPropertyValue = currentRow.querySelector('[data-val]').innerHTML.trim().replace(/&nbsp;/g, '');

            let myClipboardText = myCustomPropertyName + ':' + ' ' + myCustomPropertyValue + ';';
            
            resetButton();

            if( myClipboardText ){
                event.target.innerHTML = 'Copied!';
            }

            // Create an auxiliary hidden input
            var aux = document.createElement( 'input' );

            // Get the text from the element passed into the input
            aux.setAttribute( 'value', myClipboardText );

            // Append the aux input to the body
            document.body.appendChild(aux);

            // Highlight the content
            aux.select();

            // Execute the copy command
            document.execCommand( 'copy' );

            // Remove the input from the body
            document.body.removeChild(aux);

        });
    
        document.addEventListener("accTrigger", function (e) {
            resetButton();
        }, false);
    }

</script>

{% endif %}