<header class="theme-primary" id="global-header">

    {% if site.baseurl contains '/version/' %}

    <div class="theme-dark padding-y-2">

        <div class="container narrow text-align-center">

            <p class="font-size-md">
                There's a <a class="expanded-link " href="index.html"><strong>newer version</strong></a> of the NYC Core
                Framework!
            </p>

        </div>

    </div>

    {% endif %}

    <div class="primary-nav--right--lg">

        <div class="primary-nav__logo">
            <a href="{{site.baseurl}}/" title="Home" data-logo="brand">
                <p>NYC Core<br>Framework</p>
            </a>
        </div>

        <nav class="primary-nav__menu" id="primary-menu">

            <ul role="list">
                <li>
                    <a href="#1" data-toggle="dropdown">v2.0</a>
                    <ul class="font-size-md box-shadow-1--lg">
                        <li>
                            <a href="{{ site.baseurl }}/">v2.0 - Battery Park</a>
                        </li>
                        <li>
                            <a href="http://nyc.gov/nyc-core-framework">v1.0 - Alphabet City</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/get-started/" {% if page.url contains '/docs' %} aria-current="page" {% endif %}>Documentation</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/templates/" {% if page.url contains '/templates' %} aria-current="page" {% endif %}>Templates</a>
                </li>
            </ul>

        </nav>

        <div class="primary-nav__buttons">
            <button class="btn btn--icon-only menu-toggle" title="Menu" data-toggle="collapse"
                data-target="#primary-menu">
                <span class="screen-reader-only">Menu</span>
                <span class="fas fa-bars"></span>
            </button>
            <button class="btn btn--icon-only" title="Search" data-modal-open="global-language">
                <span class="screen-reader-only">Language</span>
                <span class="fas fa-language"></span>
            </button>
        </div>

    </div>
    <!-- .primary-nav -->

</header>
<!-- #global-header -->

