<header class="theme-primary" id="global-header">

    {% if site.baseurl contains '/version/' %}

    <div class="theme-dark padding-y-2">

        <div class="container narrow text-align-center">

            <p class="font-size-sm">
                There's a <a class="expanded-link " href="index.html"><strong>newer version</strong></a> of the NYC Core Framework!
            </p>

        </div>

    </div>

    {% endif %}

    <div class="primary-nav--inline--lg">

        <div class="primary-nav__logo">
            <a href="{{site.baseurl}}/" title="Home" data-logo="brand">
                <p>NYC Core<br>Framework</p>
            </a>
        </div>

        <nav class="primary-nav__menu" id="primary-menu">

            <ul>
                <li>
                    <a href="#1" data-toggle="dropdown">v2.0</a>
                    <ul class="nav__dropdown box-shadow-1--lg">
                        <li>
                            <a href="{{ site.url }}/">v2.0 - Battery Park</a>
                        </li>
                        <li>
                            <a href="http://nyc.gov/nyc-core-framework">v1.0 - Alphabet City</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/get-started/" {% if page.url contains '/docs' %} aria-current="page" {% endif %}>Documentation</a>
                </li>
                <li>
                    <a href="{{ site.url }}/icons/" {% if page.url contains '/icons' %} aria-current="page" {% endif %}>Icons</a>
                </li>
                <li>
                    <a href="{{ site.url }}/templates/" {% if page.url contains '/templates' %} aria-current="page" {% endif %}>Templates</a>
                </li>
            </ul>

        </nav>

        <div class="primary-nav__actions">

            <button class="button button--icon-only mobile-menu-toggle" title="Menu" data-toggle="collapse" data-target="#primary-menu">
                <span class="nyc_icon_menu" aria-hidden="true"></span>
            </button>

            <div class="button-group">
                <a class="button button--icon-only" href="https://github.com/CityOfNewYork/nyc-core-framework" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
                    <span class="nyc_icon_github" aria-hidden="true"></span>
                </a>
            </div>

        </div>

    </div>
    <!-- .primary-nav -->

</header>
<!-- #global-header -->