<!-- For keyboard users -->
<a class="focusable-only" href="#primary-content">Skip Navigation</a>

<div class="container narrow display-none--lg margin-y-3">
    <button class="button button--outline width-100" data-toggle="collapse" data-target="#target-id">
        Documentation
    </button>
</div>

 <div class="sticky-top collapse display-block--lg" id="target-id">

    <form class="container narrow padding-y-3 border-bottom" autocomplete="off">

        <div class="form-entry font-size-md">

            <div class="form-entry__field">

                <label class="form-entry__field__label screen-reader-only" for="search-example">
                    Search
                </label>
                
                <span class="form-entry__field__input">
                    <input type="text" name="search-example" id="search-input" placeholder="Search Docs">
                    <button class="button button--icon-only" type="button" aria-label="Home">
                        <span class="nyc_icon_search" aria-hidden="true"></span>
                    </button>
                </span>

            </div>
        
        </div>

        <ul class="nav font-size-md text-color-primary margin-top-2" id="search-results"></ul>

    </form>

    <div class="container narrow padding-y-3 font-size-md">

        <ul class="nav font-size-md">

            {% for doc in site.docs-introduction %}
            
            <li>
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>
            
            {% endfor %}

        </ul>

        <hr class="margin-y-3 margin-x-n3">

        <ul class="nav font-size-md">

            {% for doc in site.docs-a-z %}

            <li>
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>

            {% endfor %}

        </ul>

    </div>
    <!-- .container -->

</div>