<!-- For keyboard users -->
<a class="focusable-only" href="#primary-content">Skip Navigation</a>

<div class="container narrow display-none--lg margin-y-2">
    <button class="btn display-block btn--outline" data-toggle="collapse" data-target="#target-id" style="--btn-padding-x: var(--spacer-2)">
        Documentation
    </button>
</div>

 <div class="sticky-top collapse display-block--lg" id="target-id">

    <div class="container narrow padding-y-2 font-size-md">

        <ul class="nav font-size-md">

            {% for doc in site.docs-introduction %}
            
            <li>
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>
            
            {% endfor %}

        </ul>

        <hr class="margin-y-2 margin-x-n2">

        <ul class="nav font-size-md">

            {% for doc in site.docs-a-z %}

            <li>
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>

            {% endfor %}

        </ul>

    </div>
    <!-- .container -->

</div>