<!-- For keyboard users -->
<a class="focusable-only" href="#primary-content">Skip Navigation</a>

<div class="display-none--lg padding-y-2 theme-light">
    <div class="container narrow">
        <button
            class="button button--outline button--has-icon--disperse width-100"
            data-toggle="collapse"
            data-target="#docs-sidebar">
                <span class="button__text">Documentation</span>
                <span class="nyc_icon_arrow-down button__icon"></span>
        </button>
    </div>
</div>

 <div class="sticky-top collapse display-block--lg" id="docs-sidebar">

    <form class="container narrow margin-y-2 display-none" autocomplete="off">

        <div class="form-entry font-size-md">

            <div class="form-entry__field">

                <label class="form-entry__field__label screen-reader-only" for="search-example">
                    Filter Docs
                </label>
                
                <span class="form-entry__field__input">
                    <span class="nyc_icon_search opacity-40" aria-hidden="true"></span>
                    <input type="text" name="search-example" id="filter-docs-input" placeholder="Filter Docs">
                </span>

            </div>
        
        </div>

    </form>
    
    <hr class="margin-y-2 margin-x-n2--lg display-none">

    <div class="container narrow margin-y-2 font-size-md">

        <ul class="nav font-size-md">

            {% for doc in site.docs-introduction %}
            
            <li data-title="{{ doc.title }}">
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>
            
            {% endfor %}

        </ul>

        <hr class="margin-y-2 margin-x-n3--lg">

        <ul class="nav font-size-md">

            {% for doc in site.docs-a-z %}

            <li data-title="{{ doc.title }}">
                <a href="{{site.baseurl}}/docs/{{doc.slug}}" {% if page.url contains {{doc.slug}} %} aria-current="page" {% endif %}>
                    {{ doc.title }}
                </a>
            </li>

            {% endfor %}

        </ul>

    </div>
    <!-- .container -->

</div>