/*

In this file:

// A. Modules
// B. Variables
// C. Placeholders 
// D. Primary Nav Components 
// E. Nav
// F. Nav Gap Modifier
// G. Nav Divider
// H. Nav Breadcrumb
// I. Dropdown
// J. I.E. 11 Support

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "sass:map";
@use "../breakpoint/style" as breakpoint;
@use "../caret/style" as caret;
@use "../spacing/style" as spacing;
@use "../collapse/style" as collapse;
@use "../link/style" as link;

////////////////////////////////////////
// B. Variables
////////////////////////////////////////

// Scoped to Block

%custom-properties {
    --dropdown-z-index: 1200;
}

////////////////////////////////////////
// C.  Placeholders 
////////////////////////////////////////

%list-nav-style {
    list-style: none;
    line-height: normal;

    > li {
        position: relative;
    }

    a[aria-current] {
        font-weight: var(--body-font-weight-bold);
        text-decoration: underline;
    }
}

//////////////////////////////////////////////
// D. Primary Nav Components
//////////////////////////////////////////////

[class*="primary-nav--"] {
    --primary-nav-padding: var(--spacer-3);

    display: grid;

    ul {
        @extend %list-nav-style;
    }

    > [class*="__logo"] {
        grid-area: logo;
        padding: var(--primary-nav-padding);

    }

    > [class*="__menu"] {
        grid-area: menu;

        @extend .collapse;
    }

    > [class*="__buttons"] {
        grid-area: buttons;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        > .button,
        > button {
            margin-left: calc(var(--primary-nav-padding) * 0.25);
            margin-right: calc(var(--primary-nav-padding) * 0.25);
        }

        > .button:not([class*="--icon-only"]){
            font-size: var(--font-size-md);
        }
    }
}

[class*="primary-nav--inline--"] {
    justify-content: space-between;

    grid-template-columns: auto auto;
    grid-template-areas:
        "logo buttons"
        "menu menu";

    > [class*="__menu"] {
        padding: var(--primary-nav-padding) var(--primary-nav-padding);
    }
}

[class*="primary-nav--below--"] {
    grid-template-columns: 100%;
    grid-template-areas:
        "logo"
        "buttons"
        "menu";

    > [class*="__logo"] {
        display: flex;
        justify-content: center;
    }
    
    > [class*="__buttons"] {
        padding-top: calc(var(--primary-nav-padding) * 0.5);
        padding-bottom: calc(var(--primary-nav-padding) * 0.5);
    }

    > [class*="__buttons"],
    > [class*="__menu"]{
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: inherit;
    }
}

.primary-nav__menu {

    > ul > li {
        position: relative;
    }

    > ul > li > a {
        @extend .expanded-link;
    }
}

.primary-nav__buttons {
    padding-left: calc(var(--primary-nav-padding) * 0.5);
    padding-right: calc(var(--primary-nav-padding) * 0.5);
}

////////////////////////////////////////
// E. Nav
////////////////////////////////////////

[class*="primary-nav--inline--"] > [class*="__menu"] > ul,
.nav {
    --gap-size: 0.75em;
}

.nav, 
.nav li > ul {
    @extend %list-nav-style;
}

[class*="primary-nav--inline--"] > [class*="__menu"] > ul,
.nav:not([class*="nav--divider"]):not([class*="nav--breadcrumb"]) {

    > li:not(:last-child) {
        margin-bottom: calc(var(--gap-size));
    }

    > li > .nav__dropdown {
        width: calc(100% + (var(--gap-size) * 2));
        padding: var(--gap-size);
        margin-left: calc(var(--gap-size) * -1);
        margin-right: calc(var(--gap-size) * -1);
        left: 0;

        [dir="rtl"] & {
            left: unset;
            right: 0;
            text-align: right;
        }
    }

    > li > [data-toggle="dropdown"][class*="-icon"] ~ ul {
        margin-left: calc( var(--gap-size) * -1);
        margin-right: 0;
        margin-top: 1rem;
        width: 240px;
    }
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        .primary-nav--inline#{$mod} > [class*="__menu"] > ul,
        .nav:not([class*="nav--divider"]).nav--horizontal#{$mod} {

            &:not([class*="nav--gap"]){
                --gap-size: 1.5em;
            }
        
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-left: calc(var(--gap-size) * -0.5);
            margin-right: calc(var(--gap-size) * -0.5);

            > li {
                margin-left: calc(var(--gap-size) * 0.5);
                margin-right: calc(var(--gap-size) * 0.5);
                margin-bottom: 0 !important;
            }

            > li > .nav__dropdown {
                min-width: 200px;
                position: absolute;
            }

            > li > [data-toggle="dropdown"][class*="-icon"] ~ ul {
                left: 50%;
                transform: translateX(-50%);
                margin-left: 0;

                &::after {
                    left: 50%;
                }
            }
        }

        .primary-nav--inline#{$mod} > [class*="__menu"] {
            padding: 0 var(--primary-nav-padding);
        }
    }
}

//////////////////////////////////////////////
// F. Nav Gap Modifiers
//////////////////////////////////////////////

@each $spacer, $value in spacing.$spacers {
    .nav--gap-#{$spacer} {
        --gap-size: #{$value};
    }
}

.nav--gap-border {
    --gap-size: var(--default-border-width);
}

////////////////////////////////////////
// G. Nav Divider
////////////////////////////////////////

[class*="primary-nav--below--"] > [class*="__menu"] > ul,
.nav--divider {

    &:not([class*="theme-"]) {
        border-color: inherit;

        a, button {
            &:not([class*="text-color-"]) {
                white-space: nowrap;
                color: inherit;
            }
        }
    }

    > li:not(:last-child) {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

    > li > a, 
    > li > button {
        width: 100%;
        position: relative;
    }

    > li > a:not([data-toggle="dropdown"]), 
    > li > button:not([data-toggle="dropdown"]) {
        display: block;
    }

    > li > a, 
    > li > button,
    > li > .nav__dropdown {
        padding: 0.625em var(--spacer-3);
    }

    > li > .nav__dropdown {
        border-top-width: 0 !important;
    }

    [data-toggle="dropdown"] {
        justify-content: space-between;
    }
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        .primary-nav--inline#{$mod},
        .primary-nav--below#{$mod} {

            [class*="__logo"] {
                display: flex;
                justify-content: start;
            }

            [class*="__menu"] {
                display: block !important;
            }

            [class*="__buttons"] > button.menu-toggle {
                display: none;
            }

        }

        .primary-nav--inline#{$mod} {
            grid-template-columns: 1fr auto auto;
            grid-template-areas:
                "logo menu buttons";

            [class*="__menu"] {
                padding-top: unset;
                padding-bottom: unset;

                > ul {
                    height: 100%;
                    align-items: stretch;

                    > li {
                        display: flex;
                    }

                    > li > a {
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }

        .primary-nav--below#{$mod} {
            grid-template-columns: 1fr auto;
            grid-template-areas:
                "logo buttons"
                "menu menu";

            > [class*="__buttons"] {
                border-top-style: none !important; // Thanks, IE.
            }
        }

        .primary-nav--below#{$mod} > [class*="__menu"] > ul,
        .nav--divider.nav--horizontal#{$mod} {
            display: flex;
            flex-direction: row;
            align-items: stretch;

            > li {
                display: flex;
                flex: 1;
                border-bottom-style: none !important; // Thanks, IE.
                text-align: center;
            }

            > li:not(:last-child){
                border-right-width: var(--default-border-width);
                border-right-style: var(--default-border-style);

                [dir="rtl"] & {
                    border-right-width: 0;
                    border-left-width: var(--default-border-width);
                    border-left-style: var(--default-border-style);
                }
            }

            [data-toggle="dropdown"] {
                justify-content: center;
            }

            &[class*="border"] {
                > li > .nav__dropdown {
                    border-top-width: 0;
                    border-width: var(--default-border-width);
                    border-style: var(--default-border-style);
                    width: calc(100% + (var(--default-border-width) * 2));
                }
            }

            .nav__dropdown {
                position: absolute;
                width: 100%;
                left: 0;

                [dir="rtl"] & {
                    left: unset;
                    right: 0;
                }
            }

            // For <ul> tags with borders applied

            &[class*="border"] .nav__dropdown {
                margin-left: calc(var(--default-border-width) * -1);

                [dir="rtl"] & {
                    margin-left: unset;
                    margin-right: calc(var(--default-border-width) * -1);
                }
            }
        }
    }
}

////////////////////////////////////////
// H. Nav Breadcrumb
////////////////////////////////////////

nav[aria-label="Breadcrumb"] {
    font-size: var(--font-size-sm);
}

.nav--breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;

    > li:last-child {
        font-style: italic;
        font-weight: bold;

        @extend .truncate-text !optional;
    }
    
    > li:not(:last-child) {
        @include caret.add-caret;
        
        &:after {
            margin-left: var(--gap-size);
            margin-right: var(--gap-size);
            transform: rotate(-90deg);
        }
    }
}

////////////////////////////////////////
// I. Dropdown
////////////////////////////////////////

[data-toggle="dropdown"]:not([class*="button--icon-only"]) {

    @extend %custom-properties;
    @include caret.add-caret;

    &[aria-expanded="true"]::after {
        transform: rotate(180deg);
    }
}

[data-toggle="dropdown"][class*="-icon"] ~ ul {
    position: relative;
    --dropdown-pointer-size: 0.75rem;

    margin-top: 50px;
    overflow: visible;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(var(--gap-size) + var(--dropdown-pointer-size) + 4px);
        transform: translateX(-50%) rotate(45deg);

        width:  var(--dropdown-pointer-size);
        height:  var(--dropdown-pointer-size);
        margin-top: calc( var(--dropdown-pointer-size) * -0.5 - var(--default-border-width) );

        background-color: inherit;
        border-color: inherit;
        border-left-width: inherit;
        border-left-style: inherit;
        border-top-width: inherit;
        border-top-style: inherit;
    }
}

.nav__dropdown {

    @extend .nav;

    font-size: var(--font-size-md);

    font-weight: normal;
    position: static;
    top: 100%;
    width: 100%;

    z-index: var(--dropdown-z-index);

    text-align: left;

    [dir="rtl"] & {
        text-align: right;
    }

    display: none;

    &.shown {
        display: block;
    }
}

//////////////////////////////////////////////
// J. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    [class*="primary-nav--inline"] {

        .primary-nav__logo {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        .primary-nav__menu {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            margin-left: var(--spacer-2);
            margin-right: var(--spacer-2);

            ul > li {
                display: flex;
                align-self: stretch;
            }

            ul > li > a {
                align-self: center;
            }
        }

        .primary-nav__buttons  {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
    }

    [class*="primary-nav--below"] {

        .primary-nav__logo {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            
            display: flex;
            justify-content: flex-start;
        }
        
        .primary-nav__menu {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .primary-nav__buttons  {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}