/*

In this file:

// A. Modules
// B. Variables
// C. Opacity Utilities

*/
 
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint/style" as breakpoint;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

$opacities: (
    10: 0.10,
    20: 0.20,
    30: 0.30,
    40: 0.40,
    50: 0.50,
    60: 0.60,
    70: 0.70,
    80: 0.80,
    90: 0.90
);

//////////////////////////////////////////////
// C. Opacity Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        @each $name, $value in $opacities {
            .opacity-#{$name}#{$mod} {
                opacity: $value;
            }
        }
    }
}