.code-group{
    position: relative;

    > button{
        position: absolute;
        top: 0;
        right: 0;
        margin: ($spacer-1/2) $spacer-1;

        @include hover-focus{
            @include opacity(1);
            @include opacity(.75);
        }
    }
}