.overlay-gradient-x-info::before{
    @include linear-gradient(
        $direction: to right,
        $first-color: $info,
        $second-color: $info,
        $first-color-opacity: 0,
        $second-color-opacity: 0.75,
        $first-color-position: 0,
        $second-color-position: 100%
    );
}