/*

In this file:

// A. Variables
// B. Alert Classes

*/

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root{
    --alert-light-bg-opacity: .075;
}

//////////////////////////////////////////////
// B. Alert Styles
//////////////////////////////////////////////

.alert,
[class*="alert--"] {
    position: relative;
    overflow: hidden;

    padding: var(--s3);

    a{
        color: inherit !important;
    }

    p:not(:last-child) {
        margin-bottom: var(--s2);
    }

    &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: currentColor;
        opacity: var(--alert-light-bg-opacity);
    }

    &[class*="border-"] {
        border-color: currentColor !important;
    }

    &:not([class*="-dark"]){
        background-color: white;
    }
    
    &[class*="-dark"] > ::before {
        display: none;
    }
}

.alert__title > .text {
    font-weight: var(--base-font-weight-bold);
    margin-left: var(--s1);
    margin-right: var(--s1);
}
