/*

In this file:

// A. Variables
// B. Background Color Classes
// C. Text Color Classes

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {

    // Theme Color Palette

    --primary: #25caa4;
    --secondary: #6500d6;
    --dark: #262345;
    --light: #f1f4f6;

    // Text Colors for Primary and Secondary

    --text-on-primary: var(--dark);
    --text-on-secondary: white;

    // Accessible Link Color

    --a11y-link-color: blue;

    // Form Feedback and Alert Colors

    --confirm: #008230;
    --attention: #3953B1;
    --warn: #dc3545;
}

//////////////////////////////////////////////
// B. Theme Color Map
//////////////////////////////////////////////

$theme-colors: (

    "white": (
        swatch: white,
        text: var(--dark),
        border: rgba(black, 0.125),
        link: var(--a11y-link-color)
    ),
        
    "primary": (
        swatch: var(--primary),
        text: var(--text-on-primary),
        border: rgba(black, 0.125)
    ), 
    
    "secondary": (
        swatch: var(--secondary),
        text: var(--text-on-secondary),
        border: rgba(black, 0.25)
    ), 
    
    "dark": (
        swatch: var(--dark),
        text: white,
        border: rgba(white, 0.125)
    ), 
    
    "light": (
        swatch: var(--light), 
        text: var(--dark), 
        border: rgba(gray, 0.25),
        link: var(--a11y-link-color)
    )
);

//////////////////////////////////////////////
// C. Feedback Color Map
//////////////////////////////////////////////

$feedback-colors: (
    confirm: var(--confirm),
    attention: var(--attention),
    warn: var(--warn)
);

//////////////////////////////////////////////
// D. Background Color Classes 
//////////////////////////////////////////////

[class*="bc-"] {
    --background-color: white;
    --text-color: black;
    --border-color: gray;
    --link-color: currentColor;

    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);

    * {
        &:not([class*="bc-"]):not(input):not(textarea):not(select) {
            border-color: inherit;
        }
    }

    td:not([class*="bc-"]) > a:not([class*="tc-"]),
    p > a:not([class*="bc-"]){
        color: var(--link-color);
    }

    [data-toggle="dropdown"] ~ ul {
        background-color: var(--background-color);
    }

    [data-toggle="dropdown"][class*="-icon"] ~ ul::before{
        color: var(--border-color);
    }

    [data-toggle="dropdown"][class*="-icon"] ~ ul::after {
        color: var(--background-color);
    }

    .form-group__radio > input ~ [class*="__label"]::after,
    .form-group__checkbox > input ~ [class*="__label"]::after {
        color: var(--background-color);
    }
}

@each $name, $color-map in $theme-colors {
    $background: map-get($color-map, "swatch");
    $text: map-get($color-map, "text");
    $border: map-get($color-map, "border");
    $link: map-get($color-map, "link");

    .bc-#{$name} {
        --background-color: #{$background};
        --text-color: #{$text};
        --border-color: #{$border};
        --link-color: #{$link};
    }
}

//////////////////////////////////////////////
// E. Text Color Classes 
//////////////////////////////////////////////

@each $name, $color-map in $theme-colors {
    .tc-#{$name} {
        color: map-get($color-map, "swatch");
    }
}

.tc-link {
    color: var(--a11y-link-color);
}

[class*="tc-"] {
    a {
        color: currentColor !important;
    }
}

//////////////////////////////////////////////
// F. Alert Color Classes 
//////////////////////////////////////////////

@each $name, $value in $feedback-colors {

    .alert--#{$name}-light {
        color: $value;
    }

    .alert--#{$name}-dark {
        color: white;
        background-color: $value;
    }
}