
$display-types: none, inline, inline-block, block, flex;

@each $breakpoint in map-keys($breakpoints) {
    @include breakpoint-up($breakpoint) {
        $mod: breakpoint-modifier($breakpoint, $breakpoints);

        @each $value in $display-types {
            .d-#{$value}#{$mod} {
                display: $value !important;
                &[class*=collapse] {
                    display: block;
                }
            }
        }
    }
}