/*

In this file:

// A. Accessibility
// B. Link Styles

*/

@mixin a11y-resize-text() {

    // to perform a visual check to ensure that no information
    // is lost when the following styles are applied.
    // https://www.w3.org/WAI/WCAG21/Understanding/resize-text

    *,
    *::before,
    *::after {

        word-spacing: .16em !important;
        letter-spacing: .12em !important;
        line-height: 1.5em !important;

        p {
            margin-bottom: 2em !important;
        }

    }

}