/*

In this file:

// A. Variables
// B. Card Block
// C. Card Elements
// D. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Block

.card {
    --card-padding-x: var(--spacer-2);
    --card-padding-y: var(--spacer-2);
}

//////////////////////////////////////////////
// B. Card Block
//////////////////////////////////////////////

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

//////////////////////////////////////////////
// C. Card Elements
//////////////////////////////////////////////

.card__head {
    font-size: var(--font-size-sm);
    padding: calc( var(--card-padding-y) * 0.5) var(--card-padding-x);
}

.card__body,
.card__foot {
    padding: var(--card-padding-y) var(--card-padding-x);
}

.card__foot {
    margin-top: auto;
}

//////////////////////////////////////////////
// D. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    // Display flex bug fix
    .card * { 
        min-height: 0.01px;
    }
}