/*

In this file:

// A. Variables
// B. Tabs Nav Block 
// C. Tabs Nav Modifier
// D. Tabs Panel Element
// E. Tabs With 'theme-*' Class

*/

@use "sass:map";
@use "../breakpoint/style" as breakpoint;

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

// Scoped to Block

%custom-properties {
    --tab-button-padding-x: var(--spacer-3);
    --tab-button-padding-y: var(--button-padding-y);

    --tab-accent-bar-size: calc(var(--default-border-width) * 2);
}

//////////////////////////////////////////////
// C. Accordion Block
//////////////////////////////////////////////

.tabs {
    @extend %custom-properties;
}

////////////////////////////////////////
// B. Tabs Nav Block
////////////////////////////////////////

.tabs-nav {
    list-style: none;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: var(--tab-accent-bar-size);
        background-color: currentColor;
        opacity: 0.125;
        display: none;
    }

    > li > a,
    > li > button {
        position: relative;
        padding: var(--tab-button-padding-y) var(--tab-button-padding-x);

        background-color: transparent;
        display: block;
        width: 100%;
        text-align: center;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: var(--tab-accent-bar-size);
            background-color: currentColor;
            display: none;
        }
    }

    [aria-current="page"],
    [aria-selected="true"] {
        font-weight: var(--body-font-weight-bold);

        &::after {
            display: block;
        }
    }
}

.tabs-nav {

    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoints-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            &.tabs-nav--horizontal#{$mod} {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                &::before {
                    display: block;
                }

                > li {
                    margin-bottom: 0;
                }
            }
        }
    }
}

////////////////////////////////////////
// C. Tabs Nav Modifier
////////////////////////////////////////

.tabs-nav--across {

    > li > a,
    > li > button {
        padding-top: calc(var(--tab-button-padding-y) + var(--tab-accent-bar-size));
    }

    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoints-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            &.tabs-nav--horizontal#{$mod} {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                > li {
                    flex: 1;
                    flex-basis: 0;
                }
            }
        }
    }
}

////////////////////////////////////////
// D. Tabs Panel Element
////////////////////////////////////////

.tabs__panel {
    display: none;

    &.shown{
        display: block;
    }
}

////////////////////////////////////////
// E. Tabs With 'theme-*' Class
////////////////////////////////////////

.tabs-nav,
[data-tab-group] {
    &[class*="theme-"] {
        ::after {
            display: none;
        }
        [aria-current="page"],
        [aria-selected="true"] {
            text-decoration: underline;
        }
    }
}