/*

In this file:

// A. Modules
// B. Variables
// C. Alert Block
// C. Alert Elements

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "../accents/style" as accents;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

%alert-vars {
    --alert-padding-x: var(--spacer-2);
    --alert-padding-y: var(--spacer-2);

    --alert-title-font-size: inherit;

    --alert-border-radius: 0;
}

//////////////////////////////////////////////
// C. Alert Block
//////////////////////////////////////////////

.alert {
    @extend %alert-vars;
    
    position: relative;
    
    padding: var(--alert-padding-y) var(--alert-padding-x);

    border-radius: var(--alert-border-radius);

    &:not([class*="theme-"]):not([class*="--inverse"]):not([class*="background-color-"]) {
        @extend %subtle-fill-psuedo;
        --subtle-fill-opacity: 0.1;
    }    

    &[class*="border"] {
        border-color: currentColor !important;
    }

    a {
        color: inherit !important;
    }
}

//////////////////////////////////////////////
// D. Alert Elements
//////////////////////////////////////////////

.alert__title, 
.alert__description {
    position: relative;
}

.alert__title {
    display: flex;
    align-items: center;

    font-size: var(--alert-title-font-size);
    
    &:not(:last-child) {
        margin-bottom: 0.25em;
    }

    [class*="icon_"] {
        --icon-size: 1.25em;
    }

    &.text-align-center,
    .text-align-center & {
        justify-content: center;
    }

    &.text-align-right,
    .text-align-right & {
        justify-content: flex-end;
    }
}

.alert__title__text {
    font-weight: var(--body-font-weight-bold);

    margin-left: var(--spacer-2);
    margin-right: var(--spacer-2);
}

.alert__description {
    p:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

//////////////////////////////////////////////
// D. Alert Dismissable
//////////////////////////////////////////////

.alert--dismissable { 
    display: grid;

    > [class*="__title"] {
        grid-area: title;
        margin-top: auto;
        margin-bottom: auto;
    }

    > [class*="button"] {
        grid-area: close;
        font-size: 80%;
    }

    > [class*="__description"] {
        grid-area: description;
    }

    grid-template-columns: 1fr auto;
    
    grid-template-areas:
        "title close"
        "description description";

}

.dismissed {
  animation-duration: 0.5s;
  animation-name: fadeOut;
}

@keyframes fadeOut {

  from {
      opacity: 1;
  }

  to {
    opacity: 0;
  }
  
}