/*

In this file:

// A. Modules
// B. Variables
// C. Accordion Block
// D. Accordion Elements

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../caret/style" as caret;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

%custom-properties {
    
    --accordion-button-padding-x: var(--spacer-3);
    --accordion-button-padding-y: var(--button-padding-y);

    --accordion-panel-padding-x: var(--spacer-3);
    --accordion-panel-padding-y: var(--spacer-4);
    
    --accordion-active-color: currentColor;
    --accordion-animation: 0.2s ease-out;
}

//////////////////////////////////////////////
// C. Accordion Block
//////////////////////////////////////////////

.accordion {
    @extend %custom-properties;
}

//////////////////////////////////////////////
// D. Accordion Elements
//////////////////////////////////////////////

.accordion__button{
    padding: var(--accordion-button-padding-y) var(--accordion-button-padding-y);
} 

.accordion__panel__content {
    padding: var(--accordion-panel-padding-y) var(--accordion-panel-padding-x);
}

.accordion__button {
    position: relative;
    
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;
    text-align: inherit;
    width: 100%;

    cursor: pointer;

    &:not(:first-child){
        border-top-width: var(--default-border-width);
        border-top-style: var(--default-border-style);
        border-top-color: inherit;
    }

    @extend .has-caret;

    &::before{
       transition: transform var(--accordion-animation);
    }

    &:not([aria-expanded="true"])::before {
        transform: rotate(0deg);
    }
    
    &[aria-expanded="true"] {
        text-decoration: underline;
        color: var(--accordion-active-color);

        &::before {
            transform: rotate(180deg);
        }
    }
}

.accordion__panel {
    overflow: hidden;
    transition: max-height var(--accordion-animation);
    max-height: 0;
}