/*

In this file:

// A. Modules
// B. Variables
// C. Width Utilities
// D. Height Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint/style" as breakpoint;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

$widths: (
    10: 10%,
    20: 10%,
    25: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%,
    100vh: 100vw,
    auto: auto
);

$heights: (
    100: 100%,
    100vh: 100vh
);

//////////////////////////////////////////////
// C. Width Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        @each $key, $value in $widths {
            .width-#{$key}#{$mod} {
                width: $value;
            }
        }
    }
}

//////////////////////////////////////////////
// D. Height Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        @each $key, $value in $heights {
            .height-#{$key}#{$mod} {
                height: $value;
            }
        }
    }
}