/*

In this file:

// A. Variables
// B. Default Button Tag
// C. Button Utility
// D. Button Outline Modifier
// E. Button Has Icon Modifiers
// F. Button Icon Only Modifier
// G. I.E. 11 Support

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Root

:root {
    --button-padding-x: 1em;
    --button-padding-y: 0.75em;

    --button-font-weight: var(--body-font-weight-bold);

    --button--outline-border-width: calc( var(--default-border-width) * 2);
    
    --button--icon-only-size: 2.25em;
    --button--border-radius: 0.25em;
}

//////////////////////////////////////////////
// B. Default Button Tag
//////////////////////////////////////////////

button {
    cursor: pointer;
    
    &:not([class*="theme-"]){
        background-color: transparent;
    }

    &:not([class*="border-"]){
        border: none;
    }
}

//////////////////////////////////////////////
// C. Button Utility
//////////////////////////////////////////////
 
.button {
    --button-opacity-hover: 0.75;

    &[aria-disabled="true"] {
        opacity: var(--button-opacity-hover);
        cursor: not-allowed;
    }
}

.button {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    cursor: pointer;

    border-radius: var(--button--border-radius);

    transition: opacity 0.5s;

    &:not([class*="button--outline"]):not([class*="theme-"]):not([class*="background-color"])::after {
        position: absolute;
        
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        pointer-events: none;

        opacity: 0.05;
        background-color: currentColor;
    }

    &:hover, 
    &:focus, 
    &:active {
        opacity: var(--button-opacity-hover);
    }

    &:not([class*="button--icon-only"]) {
        padding: var(--button-padding-y) var(--button-padding-x);
        font-weight: var(--button-font-weight);
    }
}

//////////////////////////////////////////////
// D. Button Outline Modifier
//////////////////////////////////////////////

.button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--button--outline-border-width) currentColor;
}

//////////////////////////////////////////////
// E. Button Has Icon Modifiers
//////////////////////////////////////////////

[class*="button--has-icon"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        .button__text {
            text-decoration: underline;
        }
    }

    &:not([class*="--disperse"]){
        .button__text {
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
    }
}

.button--has-icon--disperse {
    justify-content: space-between;
    width: 100%;
}

//////////////////////////////////////////////
// F. Button Icon Only Modifier
//////////////////////////////////////////////

.button--icon-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: var(--button--icon-only-size);
    height: var(--button--icon-only-size);

    overflow: hidden;
}

//////////////////////////////////////////////
// G. I.E. 11 Support
//////////////////////////////////////////////

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .button--icon-only {
        display: table-cell; 

        &::before {
            display: none;
        }

        .button__icon {
            margin-right: auto;
            margin-left: auto;
        }
    }
}