/*

In this file:

// A. Modules
// B. Variables
// C. Selector Resets
// D. Required Indicator
// E. Form Entry Block
// F. Form Entry Elements
// G. Checkbox and Radio Elements
// H. File Upload
// I. Form Feedback

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../accents/style" as accents;
@use "../breakpoints/style" as breakpoints;
@use "../caret/style" as caret;
@use "../icons/style" as icons;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

%form-field-vars {
    --form-field-padding-x: var(--spacer-2);
    --form-field-padding-y: var(--button-padding-y);

    --form-field-border-radius: 0.25em;
}

//////////////////////////////////////////////
// C. Selector Resets
//////////////////////////////////////////////

label,
.label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: inherit;
    line-height: normal;
}

select {
    border-radius: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    appearance: unset;

    &::-ms-expand {
        display: none;
    }
}

input {
    margin: unset;
    padding: unset;

    &::-ms-clear {
        display: none;
        height: 0;
        width: 0;
    }
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

legend {
    display: table;
    width: 100%;
    max-width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    color: inherit;
    line-height: normal;
    white-space: normal;

    + * {
        clear: both;
    }
}

fieldset {
    display: table-cell;
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

//////////////////////////////////////////////
// D. Required Indicator
//////////////////////////////////////////////

.required-indicator {
    position: relative;
    padding: 0.25em 0.5em;
    border-radius: var(--form-field-border-radius);
    text-align: right;
    
    @extend %subtle-fill-psuedo;

    [dir="rtl"] & {
        text-align: left;
    }
}

.required-indicator__text {
    font-size: var(--font-size-md);
    font-style: italic;
    opacity: 0.8;
}

//////////////////////////////////////////////
// E. Form Entry Block
//////////////////////////////////////////////

.form-entry {

    select,
    textarea,
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):not([type="range"]) {
        border: 0;
        border-radius: inherit;
        background-color: transparent;
        color: inherit;
        width: 100%;
    }

    button,
    fieldset {
        border: unset;
    }

    select option {
        color: currentColor !important;
    }

    [dir="rtl"] & {
        text-align: right;
    }
}

.form-entry ~ .form-entry {
    margin-top: var(--spacer-4);
    margin-bottom: var(--spacer-4);
}

//////////////////////////////////////////////
// F. Form Entry Elements
//////////////////////////////////////////////

.form-entry__field {
    @extend %form-field-vars;

    position: relative;

    display: flex;
    flex-direction: column;

    color: inherit;
}

.form-entry__field__label {
    font-weight: var(--body-font-weight-bold);

    padding-left: var(--form-field-padding-x);
    padding-right: var(--form-field-padding-x);

    &::after {
        display: none;
        content: "*";
        margin: auto 0.25rem;

        [data-required="true"] & { 
            display: inline-block !important;
        }
    }
}

.form-entry__field:not([class*="--float"]) .form-entry__field__label {
    margin-bottom: calc(var(--form-field-padding-y) * 0.75);
}

.form-entry__field__select,
.form-entry__field__input
{
    position: relative;

    border-radius: var(--form-field-border-radius);

    overflow: hidden;

    select, 
    input,
    textarea
    {
        padding: var(--form-field-padding-y) var(--form-field-padding-x);
        outline: none;
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;

        pointer-events: none;
        
        box-shadow: inset 0 0 0 var(--default-border-width) currentColor;
        
        transition: box-shadow 200ms;
    }

    [dir="rtl"] & {
        > [class*="icon_"] {
            margin-left: unset;
            margin-right: var(--form-field-padding-x);
        }
    }
}

.form-entry__field__input {
    display: flex;
    align-items: center;

    button {
        flex-shrink: 0;
    }

    > .button {
        --button-border-radius: 0;
    }

    > [class*="button--icon-only"] {
        align-self: stretch;

        height: unset;

        padding-left: var(--form-field-padding-x);
        padding-right: var(--form-field-padding-x);
    }

    > [class*="icon_"],
    > .button-group
    {
        margin-left: var(--form-field-padding-x);
    }

    > .button-group {
        margin-right: calc(var(--form-field-padding-x) * 0.5);

        font-size: 75%;
    }
}

// Search in Nav

[class*="primary-nav"] .form-entry__field__input::after {
    display: none;
}

// Active Fields

.active {
    .form-entry__field__select::after,
    .form-entry__field__input::after,
    .form-entry__option > div > label::after {
        box-shadow: inset 0 0 0 calc( var(--default-border-width) * 3) currentColor;
    }
}

// Floating Label Modifier

.form-entry__field--float {
    position: relative;

    .form-entry__field__label {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;

        padding-top: var(--form-field-padding-y);
        padding-bottom: var(--form-field-padding-y);

        pointer-events: none;
    }

    .active &, 
    .has-value & {

        [class*="form-entry__field__"] {
            select, 
            input,
            textarea
            {
                padding-top: calc( var(--form-field-padding-y) * 1.5);
                padding-bottom: calc( var(--form-field-padding-y) * 0.5);
            }

            select option:first-child {
                display: none;
            }
        }

        .form-entry__field__label {

            top: calc( var(--form-field-padding-y) * 0.5);
            right: unset;
            bottom: unset;

            padding: 0;
            
            margin-left: var(--form-field-padding-x);
            margin-right: var(--form-field-padding-x);

            font-size: 0.7em;

            [dir="rtl"] & {
                transform-origin: top right;
                left: unset;
            }
        }

    }
}

// Form Entry Help

.form-entry__field__help {    
    padding-left: var(--form-field-padding-x);
    padding-right: var(--form-field-padding-x);

    margin-top: var(--spacer-2);
    
    font-size: 0.8em;
}

.form-entry__field__select {
    position: relative;

    &::before {
        @extend %caret-icon;

        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        
        transform: translateY(-50%);
        
        margin-left: var(--form-field-padding-x);
        margin-right: var(--form-field-padding-x);
    }

}

.form-entry__field__select::before {
    [dir="rtl"] & {
        right: unset;
        left: 0;
    }
}

//////////////////////////////////////////////
// G. Checkbox and Radio Elements
//////////////////////////////////////////////

.form-entry__option {
    position: relative;

    display: block;

    border-width: var(--default-border-width);
    border-style: var(--default-border-style);

    border-radius: var(--form-field-border-radius);

    > div {
        position: relative;

        padding: var(--form-field-padding-y) var(--form-field-padding-x);
    }

    > div:not(:last-child) {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

    > div > label {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: calc(var(--form-field-padding-y) * -1);
            left: calc(var(--form-field-padding-x) * -1);
            bottom: calc(var(--form-field-padding-y) * -1);
            right: calc(var(--form-field-padding-x) * -1);

            pointer-events: inherit;

            opacity: 0.05;
        }

        &.active::before {
            background-color: currentColor;
        }
    }
}

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);
        
        .form-entry__option.option--horizontal#{$mod} {
            display: flex;
            align-items: stretch;

            > div {
                flex: 1;
                border-bottom-style: none !important;
            }

            > div:not(:last-child) {
                border-right-width: var(--default-border-width);
                border-right-style: var(--default-border-style);

                [dir="rtl"] & {
                    border-left-width: var(--default-border-width);
                    border-left-style: var(--default-border-style);
                    border-right-width: 0;
                }
            }
        }

    }
}

// Shared Elements

.form-entry__option__radio,
.form-entry__option__check, 
.form-entry__option__switch {

    > label {
        position: relative;

        display: flex;
        align-items: baseline;
        
        padding-left: 1.25em;

        width: auto;

        color: inherit;
        
        cursor: pointer;

        [dir="rtl"] & {
            padding-left: unset;
            padding-right: 1.25em;
        }
    }
}

.form-entry__option__radio > label > input[type="radio"],
.form-entry__option__check > label > input[type="checkbox"],
.form-entry__option__switch > label > input[type="checkbox"] {
    background-color: transparent;

    opacity: 0;
} 

.form-entry__option__radio > label > input ~ .radio__label,
.form-entry__option__check > label > input ~ .check__label,
.form-entry__option__switch > label > input ~ .switch__label {
    line-height: var(--body-line-height);

    &::before {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0.5;

        margin-top: -0.125em;

        font-size: 125%;

        @extend .nyc_icon_font;
    }
}

// Option Radio

.form-entry__option__radio > label > input ~ .radio__label::before {
    content: "\e948";
}

.form-entry__option__radio > label > input:checked ~ .radio__label::before {
    content: "\e949";
}

// Option Check

.form-entry__option__check > label > input ~ .check__label::before {
    content: "\e946";
}

.form-entry__option__check > label > input:checked ~ .check__label::before {
    content: "\e947";
}

.form-entry__option__radio > label > input:disabled ~ .radio__label::before,
.form-entry__option__check > label > input:disabled ~ .check__label::before, 
.form-entry__option__switch > label > input:disabled ~ .switch__label::before {
    content: "\e95e";
}

.form-entry__option__radio > label.disabled,
.form-entry__option__check > label.disabled,
.form-entry__option__switch > label.disabled {
    cursor: not-allowed;

    [class*="__label"] {
        opacity: 0.625;
    }

}

// Focus State

.form-entry__option__radio > label > input:focus ~ .radio__label,
.form-entry__option__check > label > input:focus ~ .check__label,
.form-entry__option__switch > label > input:focus ~ .switch__label {
    text-decoration: underline;

    &::before {
        opacity: 0.75;
    }
}

// Checked State

.form-entry__option__radio > label > input:checked ~ .radio__label,
.form-entry__option__check > label > input:checked ~ .check__label,
.form-entry__option__switch > label > input:checked ~ .switch__label {
    &::before {
        opacity: 1;
    }
}

// Input Toggle Switch

.form-entry__option__switch {
    --toggle-switch-width: 1.5em;
    --toggle-switch-transition: 0.2s;
    --toggle-switch-active-color: green;

    .switch__slider {
        position: absolute;
        left: -0.125em;
        top: 50%;

        transform: translateY(-50%);
        
        width: var(--toggle-switch-width); 
        height: calc(var(--toggle-switch-width) * 0.5);
        
        &::before,
        &::after {
            position: absolute;
            content: "";

            transition: var(--toggle-switch-transition) ease-in-out;
        }

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            border-radius: calc(var(--toggle-switch-width) * 0.5);

            background-color: currentColor;
            
            opacity: 0.375;
        }

        &::after {
            top: 0;
            left: 0;

            height: calc(var(--toggle-switch-width) * 0.5);
            width: calc(var(--toggle-switch-width) * 0.5);

            border-width: 2px;
            border-style: solid;
            border-color: transparent;

            background-clip: padding-box;

            background-color: white;

            border-radius: 100%;
        }
    }

    input:checked + .switch__slider::before {
        background-color: var(--toggle-switch-active-color);

        opacity: 1;
    }

    input:checked + .switch__slider::after {
        left: 50%;
    }
}

// RTL

[dir="rtl"] {
    .form-entry__option__radio > label > .radio__label::before,
    .form-entry__option__radio > label > input[type="radio"],

    .form-entry__option__check > label > .check__label::before,
    .form-entry__option__check > label > input[type="checkbox"],     

    .form-entry__option__switch > label > .switch__label::before,
    .form-entry__option__switch > label > input[type="checkbox"]
    {
        left: unset;
        right: 0;
    }
}

//////////////////////////////////////////////
// H. File Upload
//////////////////////////////////////////////

.file-upload {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;

    overflow: hidden;

    padding: var(--form-field-padding-x);

    cursor: pointer;
}

.file-upload__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    z-index: 25;
    
    opacity: 0.01;

    cursor: pointer;
}

.file-upload__drag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;

    margin-bottom: var(--form-field-padding-y);

    overflow: hidden;
    
    border-radius: var(--form-field-border-radius);
    
    pointer-events: none;

    font-size: var(--font-size-md);

    @extend %subtle-fill-psuedo;

    .active & {
        --subtle-fill-opacity: 0.125;
    }
}

.file-upload__drag__text {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.file-upload__button {
    position: relative;
    z-index: 15;
    pointer-events: none;
    font-size: var(--font-size-md);
}

.file-upload__data {
    display: flex;
    justify-content: space-between;

    font-size: var(--font-size-md);
    margin-top: var(--form-field-padding-y);
}

//////////////////////////////////////////////
// I. Form Feedback
//////////////////////////////////////////////

[data-alert="form-errors"],
.form-entry__feedback {
    display: none;
}

.form-entry__feedback {
    order: 3;

    padding-left: var(--form-field-padding-x);
    padding-right: var(--form-field-padding-x);

    margin-top: 0.5rem;

    > small {
        display: flex;
        align-items: center;

        font-size: 80%;
    }

    > small > strong {
        margin-left: var(--spacer-2);
        margin-right: var(--spacer-2);
    }
}

.is-invalid {

    .form-entry__field__help {
        display: none;
    }
    
    .form-entry__feedback {
        display: block;
    }
}