---
layout: default
---

<div class="container narrow mt-3 d-none--lg">
    <button class="btn d-block bc-dark rounded-t" data-toggle="collapse" data-target="#sidebar">
        Documentation
    </button>
</div>

<div class="grid">

    <div class="grid__col-2--lg d-block--lg bc-light collapse" id="sidebar">

        <div class="sticky-top narrow p-3">

            {% include sidebar.html %}

        </div>
        <!-- .stick-top -->

    </div>
    <!-- col -->

    <div class="grid__col-10--lg overflow-hidden" id="primary-content">

        <div class="bc-secondary overflow-hidden">

            <div class="narrow my-5">

                <div class="grid">
                    <div class="grid__col-10--lg">
                        <div class="container narrow">
                            <h1 class="banner-headline">
                                {{ page.title }}
                            </h1>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .container -->

        </div>

        <div class="my-5">

            {{ content }}

        </div>
        <!-- .my-5 -->

    </div>
    <!-- col -->

</div>
<!-- .grid -->