---
layout: default
---

<div class="article article--two-column">

    <div class="article__sidebar">
        {% include sidebar.html %}
    </div>

    <div class="article__body border-left--lg" id="primary-content">

        <div class="article__body__content">

            <div class="theme-secondary overflow-hidden">

                <div class="margin-y-5">

                    <div class="container narrow">

                        <h1 class="banner-headline">
                            {{ page.title }}
                        </h1>

                    </div>

                </div>
                <!-- .container -->

            </div>

            <div class="padding-y-4">
                <div class="container narrow font-size-rg">
                    <h2 class="screen-reader-only">On this Page:</h2>
                    <nav id="table-of-contents"></nav>
                </div>
            </div>

            <hr>

            <div class="margin-y-5">
                {{ content }}
            </div>
        
        </div>
        <!-- .article__body__content -->

    </div>
    <!-- .article__body -->

</div>