/*

In this file:

// A. Modules
// B. Variables
// C. Container Utility
// D. Narrow, Medium, and Wide Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint/style" as breakpoint;
@use "../spacing/style" as spacing;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --container-padding-x: var(--spacer-2);

    --narrow-width: 40rem; // Approximately 55 characters wide for readability
    --medium-width: calc( var(--narrow-width) * 1.75);
    --wide-width: calc( var(--narrow-width) * 2.5);
}

//////////////////////////////////////////////
// C. Container Utility
//////////////////////////////////////////////

.container {
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
}

//////////////////////////////////////////////
// D. Narrow, Medium, and Wide Utilities
//////////////////////////////////////////////

.narrow,
.medium,
.wide {
    @extend .margin-x-auto;
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoints-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        .narrow#{$mod} {
            max-width: var(--narrow-width);
        }

        .medium#{$mod} {
            max-width: var(--medium-width);
        }

        .wide#{$mod} {
            max-width: var(--wide-width);
        }
    }
}