/*

In this file:

// A. Imports
// B. Custom Properties
// C. Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@import "partials/breakpoints";

//////////////////////////////////////////////
// B. Custom Properties
//////////////////////////////////////////////

:root {
    
    --primary: #222BE6;
    --secondary: #00D5A0;
    --dark: #040459;
    --light: #f1f4f6;

    --primary-text: white;
    --primary-border: hsla(0, 0%, 0%, 0.25);
    --secondary-text: var(--dark);

    --base-font-size: 20px;

    --base-font-family: "neue-haas-grotesk-text";

    --btn-font-weight: normal;

    --body-max-width: null;
}

//////////////////////////////////////////////
// C. Theme Styles
//////////////////////////////////////////////

a[data-logo="brand"] {
    display: inline-block !important;
    color: inherit;
    
    p {
        font-weight: bold;
        line-height: 1.2;
    }
}

#features {
    --backdrop-fixed-height: 600px;
    
    @include breakpoints-down(lg) {
        --backdrop-fixed-height: 800px;
    }
}

.accessibility-spotlight {
   color: hsl(200, 100%, 30%);
}

.browser {
    --browser-bar-height: 2rem;

    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    iframe {
        border: none;
        width: 100%;
        display:block;
        min-height: 200px;
    }
}

.browser__bar{
    display: flex;
    flex-direction: row;
    height: var(--browser-bar-height);
    
    background-color: hsla(200, 10%, 70%, 0.375);

    > div{
        display: flex;
        flex-direction: row;
        margin-left: calc(var(--browser-bar-height) * 0.25);
        margin-right: calc(var(--browser-bar-height) * 0.25);
    }

    > div > span{

        align-self: center;

        height: calc( var(--browser-bar-height) * 0.375 );
        width: calc( var(--browser-bar-height) * 0.375 );
        
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        
        display: inline-block;
        border-radius: 50%;

        background-color: hsla(0, 0%, 0%, 0.5);
        opacity: 0.5;

        &:nth-child(1) {
            background-color: red;
        }

        &:nth-child(2) {
            background-color: orange;
        }

        &:nth-child(3) {
            background-color: green;
        }
    }
}

#custom-property-list {

    button {
        color: var(--secondary);
    }

    button[data-clipboard] {
        font-weight: bold;
        display: inline-block;
    }

    th, 
    td {
        &:nth-child(3) {
            text-align: right;
        }

    }

    th {

        &:nth-child(1):not([colspan]) {
            // background-color: red;
            width: 40% !important;
        }

        &:nth-child(2) {
            width: 40% !important;
            // background-color: yellow;
        }

        &:nth-child(3) {
            width: 20% !important;
            // background-color: green;
        }
    }

    td:nth-child(1) {
        color: #f8c555;
    }

    td:nth-child(2) {
        color: #ccc;
    }
}
