/*

In this file:

// A. Imports
// B. Custom Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

// Required

@import "partials/reset";
@import "partials/breakpoints";
@import "partials/spacing";
@import "partials/typography";
@import "partials/accessibility";
@import "partials/global";
@import "partials/buttons";
@import "partials/color-system";
@import "partials/links";
@import "partials/borders";
@import "partials/containers";
@import "partials/sizing";
@import "partials/grid";
@import "partials/flex";
@import "partials/display";
@import "partials/navigation";
@import "partials/tabs";
@import "partials/tables";
@import "partials/collapse";
@import "partials/backdrop";
@import "partials/cards";
@import "partials/z-index";
@import "partials/position";

// Optional

@import "partials/accordion";
@import "partials/alert";
@import "partials/shadows";
@import "partials/gradient";
@import "partials/modals";
@import "partials/forms";
@import "partials/aspect-ratio";
@import "partials/opacities";
@import "partials/article";

// @import "partials/dev-tools";

//////////////////////////////////////////////
// B. Custom Theme Styles
//////////////////////////////////////////////

// Put anything here

// Logo


a > svg {
    fill: currentColor;
    vertical-align: middle;
}

a[data-logo="brand"] {
    &:focus {
        opacity: 0.85;
    }
}

.overflow-hidden {
    overflow: hidden;
}

// .article__sidebar {
//     .active {
//         background-color: var(--primary);
//         color: var(--primary-text);
//         overflow: hidden;
//     }
// }

[class^="nyc_icon_"],
[class*=" nyc_icon_"] {
    font-size: 1.25em !important;
    line-height: inherit !important;
    display: inline;
}