/*

In this file:

// A. Imports
// B. Custom Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

// Required

@import "partials/mixins";
@import "partials/reset";
@import "partials/breakpoints";
@import "partials/spacing";
@import "partials/typography";
@import "partials/accessibility";
@import "partials/globals";
@import "partials/buttons";
@import "partials/color-system";
@import "partials/alerts";
@import "partials/links";
@import "partials/borders";
@import "partials/containers";
@import "partials/sizing";
@import "partials/grid";
@import "partials/flex";
@import "partials/display";
@import "partials/navigation";
@import "partials/tabs";
@import "partials/collapse";
@import "partials/backdrops";
@import "partials/cards";
@import "partials/z-index";
@import "partials/position";
@import "partials/rtl";

// Optional

@import "partials/shadows";
@import "partials/gradients";
@import "partials/accordions";
@import "partials/modals";
@import "partials/forms";
@import "partials/aspect-ratios";
@import "partials/opacities";
@import "partials/tables";

@import "partials/dev-tools";


//////////////////////////////////////////////
// B. Custom Theme Styles
//////////////////////////////////////////////

// Put anything here

// Logo

a[data-logo="brand"] {
    color: inherit;

    svg {
        display:block;
        fill: currentColor;
    }
}

.overflow-hidden {
    overflow: hidden;
}