/*

In this file:

// A. Imports
// B. Custom Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

// Required

@import "partials/reset";
@import "partials/breakpoints";
@import "partials/spacing";
@import "partials/typography";
@import "partials/accessibility";
@import "partials/global";
@import "partials/buttons";
@import "partials/color-system";
@import "partials/links";
@import "partials/borders";
@import "partials/containers";
@import "partials/sizing";
@import "partials/grid";
@import "partials/flex";
@import "partials/display";
@import "partials/navigation";
@import "partials/tabs";
@import "partials/tables";
@import "partials/collapse";
@import "partials/backdrop";
@import "partials/cards";
@import "partials/z-index";
@import "partials/position";

// Optional

@import "partials/accordion";
@import "partials/alert";
@import "partials/shadows";
@import "partials/gradient";
@import "partials/modals";
@import "partials/forms";
@import "partials/aspect-ratio";
@import "partials/opacities";
@import "partials/article";

// @import "partials/dev-tools";

//////////////////////////////////////////////
// B. Custom Theme Styles
//////////////////////////////////////////////

// Put anything here

// Logo

a > svg {
    fill: currentColor;
    vertical-align: middle;
}

a[data-logo="brand"] {
    &:focus {
        opacity: 0.85;
    }
}

.overflow-hidden {
    overflow: hidden;
}

// .article__sidebar {
//     .active {
//         background-color: var(--primary);
//         color: var(--primary-text);
//         overflow: hidden;
//     }
// }

[class^="nyc_icon_"],
[class*=" nyc_icon_"] {
    position: relative;
    font-size: 1.75em !important;
    line-height: inherit !important;
}

.nyc_icon_loading.rotate {
  display: inline-block;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

[class*="nyc_icon_subway-"] {
  --fill-padding: .125em;
  position: relative;
  z-index: auto;
    font-size: 1.5em !important;

  &::before {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: var(--fill-padding);
    right: var(--fill-padding);
    bottom: var(--fill-padding);
    left: var(--fill-padding);
    background-color: white;

    z-index: 1;
    border-radius: 100%;
  }

}

.nyc_icon_subway-a, 
.nyc_icon_subway-c, 
.nyc_icon_subway-e
{
  color: #0036a8 !important;
}

.nyc_icon_subway-n,
.nyc_icon_subway-q,
.nyc_icon_subway-r,
.nyc_icon_subway-w {

  &::after {
    background-color: black;
  }

  color: #FCCD01 !important;
}