/*

In this file:

// A. Imports
// B. Custom Theme Styles

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

// Required

@import "partials/reset";
@import "partials/breakpoints";
@import "partials/spacing";
@import "partials/typography";
@import "partials/accessibility";
@import "partials/global";
@import "partials/buttons";
@import "partials/color-system";
@import "partials/links";
@import "partials/borders";
@import "partials/containers";
@import "partials/sizing";
@import "partials/grid";
@import "partials/flex";
@import "partials/display";
@import "partials/navigation";
@import "partials/tabs";
@import "partials/tables";
@import "partials/collapse";
@import "partials/backdrop";
@import "partials/cards";
@import "partials/z-index";
@import "partials/position";

// Optional

@import "partials/accordion";
@import "partials/alert";
@import "partials/shadows";
@import "partials/gradient";
@import "partials/modals";
@import "partials/forms";
@import "partials/aspect-ratio";
@import "partials/opacities";

@import "partials/articles";

// @import "partials/dev-tools";

//////////////////////////////////////////////
// B. Custom Theme Styles
//////////////////////////////////////////////

// Put anything here

// Logo

a[data-logo="brand"] {
    display: block;
    color: inherit;

    svg {
        display: block;
        fill: currentColor;
    }

    &:focus {
        opacity: 0.85;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.article__sidebar {
    .active {
        background-color: var(--primary);
        color: var(--primary-text);
    }
}
