/*

In this file:

// A. Modules
// B. Variables
// C. Display Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

$display-types: block, inline, inline-block, flex, inline-flex, none;

//////////////////////////////////////////////
// C. Display Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        @each $value in $display-types {
            .display-#{$value}#{$mod} {
                display: $value !important;
                @if $value == none {
                    &.collapse {
                        display: $value !important;
                    }
                }
            }
        }
    }
}