

<div class="container narrow margin-y-4">
    <p>
        Backdrops are useful for placing a translucent image behind custom content. Backdrops offer two distinct
        variations. <strong>Image proportional</strong> backdrops scale and stack responsively. <strong>Fixed-height</strong> backdrops remain at a fixed height across breakpoints. When needed, they adjust to the height of their inner content.
    </p>
</div>
<!-- .container -->

{% capture as_body %}
<p>
    Backdrops remove the need for CSS background images. Feature images exist within the HTML, so screen readers can read the text of the image's <em>alt</em> attribute.
</p>
<p>Learn more about <a href="https://www.w3.org/WAI/tutorials/images/">accessible images</a>.</p>
{% endcapture %}

{% include accessibility-spotlight.html content=as_body %}

<hr class="section-start" id="imageProportional">

<div class="container narrow margin-y-4">
    <h2>Image Proportional</h2>
    <p>
        The <em>backdrop</em> component requires a parent <code>.backdrop</code> selector, and two child selectors. The <code>.backdrop__image</code> child selector contains the feature image. Its sibling, the <code>.backdrop__cover</code> selector, contains the contextual content for the backdrop.
    </p>
    <p>
        Within image proportional backdrops, the <code>.backdrop__cover</code> selector is absolutely positioned over  <code>.backdrop__image</code>.
    </p>
    <p>
        Locate the <code>img</code> tag within <code>.backdrop__image</code> selector (Figure 1). The size of this image sets the proportional width and height of the backdrop. The following is a simple example of an image size proportional backdrop:
    </p>
</div>
<!-- .container -->

<figure class="container narrow margin-y-4">

    <div class="backdrop theme-dark rounded" {{ site.style_default_theme_colors }}>

        <div class="backdrop__credit">
            <p>Photo by <a href="#1">Jane Doe</a> on Unsplash</p>
        </div>

        <div class="backdrop__image">
            <img class="opacity-30" src="{{ site.baseurl }}/images/examples/backdrop-example-01.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover">

            <div class="container text-align-center">
                <div class="width-80 margin-x-auto text-shadow">
                    <p class="h3">
                        <em>What hurrying human tides, or day or night!</em> 
                    </p>
                    <p>—Walt Whitman, <a href="#1"><em>Broadway</a></em></p>
                </div>
            </div>

        </div>
        
    </div>
    <!-- .backdrop -->

</figure>

<div class="container narrow margin-y-4">
    <p>
        The transparent color effect of the backdrop is acheived with the use of additional utility classes. Our <a
            href="#1">theme color utilities</a> provide the background and text color, while the <a href="#1">opacity
            utility class</a> (e.g. <code>.opacity-30</code>) applied backdrop's feature image, allows the background
        color to show through.
    </p>
    <p>
        Here is the code used to create the example above:
    </p>
</div>

<figure class="container medium margin-y-4">

    <pre data-line="1,3,4,5,7,8,9,11,12,13,14,15,16,17,18,19,20,21,22">
        <code class="language-html">
            &lt;div class="backdrop theme-dark rounded"&gt;

                &lt;div class="backdrop__credit"&gt;
                    &lt;p&gt;Photo by &lt;a href="#1"&gt;Jane Doe&lt;/a&gt; on Unsplash&lt;/p&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__image"&gt;
                    &lt;img class="opacity-30" src="https://via.placeholder.com/1500x750" alt="Placeholder"&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__cover"&gt;

                    &lt;div class="container text-align-center"&gt;
                        &lt;div class="width-80 margin-x-auto text-shadow"&gt;
                            &lt;p class="h3"&gt;
                                &lt;em&gt;What hurrying human tides, or day or night!&lt;/em&gt; 
                            &lt;/p&gt;
                            &lt;p&gt;—Walt Whitman, &lt;a href="#1"&gt;&lt;em&gt;Broadway&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                &lt;/div&gt;
                &lt;!-- .backdrop__cover --&gt;
                
            &lt;/div&gt;
            &lt;!-- .backdrop --&gt;
        </code>
    </pre>
    <figcaption>
        Figure 1
    </figcaption>

</figure>
<!-- .container -->

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <caption class="screen-reader-only">
            Backdrop HTML 
        </caption>
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>

            <tr class="border-top">
                <td>1</td>
                <td>
                    <p>
                        The <code>.backdrop</code> block-level selector is required. The
                        <code>.theme-dark</code> utility class sets the background and text color. The <code>.rounded</code>
                        utility class creates the <a href="#1">rounded corner </a> effect.
                    </p>
                </td>
            </tr>

            <tr>
                <td>3-5</td>
                <td>
                    <p>
                        The <code>.backdrop__credit</code> selector is optional, and should be the first child of the
                        backdrop. It is where you can add a credit for the image.
                    </p>
                </td>
            </tr>

            <tr>
                <td>7-9</td>
                <td>
                    <p>
                        The <code>.backdrop__image</code> selector is required, and contains the primary image of the backdrop. The
                        <code>.opacity-40</code> utility class sets a 40% opacity to the image.
                    </p>
                </td>
            </tr>

            <tr>
                <td>5-14</td>
                <td>
                    <p>
                        The <code>.backdrop__cover</code> selector holds the backdrop's contextual content.
                    </p>
                </td>
            </tr>

        </tbody>

    </table>
</figure>

<div class="container narrow margin-y-4">
    <p>
        The following example shows backdrops nested within two columns using the <a href="#1">grid component</a>, with
        the <code>.theme-primary</code> utility class applied to the the left, and <code>.theme-secondary</code> applied
        to the right. The <code>&lt;a&gt;</code> tag within <code>backdrop__cover</code> includes a
        <code>.expanded-link</code> class, making each entire backdrop clickable.
    </p>
</div>

<figure class="container medium margin-y-4">

    <div class="grid grid--gap-2 grid--cells-fill--md text-align-center" {{ site.style_default_theme_colors }}>

        <div class="grid__cell">

            <div class="backdrop theme-primary rounded">

                <div class="backdrop__image">
                    <img class="opacity-50" src="{{ site.baseurl }}/images/examples/backdrop-example-02.jpg" alt="Placeholder">
                </div>
                
                <div class="backdrop__cover">
                    <div class="container">
                        <a href="#1" class="h3 expanded-link">Title Link</a>
                    </div>
                </div>
                <!-- cover -->

            </div>
            <!-- .backdrop -->

        </div>
        <!-- col -->

        <div class="grid__cell">

            <div class="backdrop theme-secondary rounded">

                <div class="backdrop__image">
                    <img class="opacity-40" src="{{ site.baseurl }}/images/examples/backdrop-example-03.jpg" alt="Placeholder">
                </div>

                <div class="backdrop__cover">
                    <div class="container margin-y-4">
                        <a href="#1" class="h3 expanded-link">Title Link</a>
                    </div>
                </div>
                <!-- cover -->

            </div>
            <!-- .backdrop -->

        </div>
        <!-- grid__cell -->

    </div>
    <!-- grid -->

</figure>

<div class="container narrow margin-y-4">
    <p>Here is the code used to create the example above:</p>
</div>

<figure class="container medium margin-y-4">

    <pre>
        <code class="language-html">
            &lt;div class="grid grid--gap-2 grid--cells-fill--md text-align-center"&gt;

                &lt;div class="grid__cell"&gt;

                    &lt;div class="backdrop theme-primary rounded"&gt;

                        &lt;div class="backdrop__image"&gt;
                            &lt;img class="opacity-50" src="https://via.placeholder.com/1500x750" alt="Placeholder"&gt;
                        &lt;/div&gt;
                        
                        &lt;div class="backdrop__cover"&gt;
                            &lt;div class="container"&gt;
                                &lt;a href="#1" class="h3 expanded-link"&gt;Title Link&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- cover --&gt;

                    &lt;/div&gt;
                    &lt;!-- .backdrop --&gt;

                &lt;/div&gt;
                &lt;!-- col --&gt;

                &lt;div class="grid__cell"&gt;

                    &lt;div class="backdrop theme-secondary rounded"&gt;

                        &lt;div class="backdrop__image"&gt;
                            &lt;img class="opacity-40" src="https://via.placeholder.com/1500x750" alt="Placeholder"&gt;
                        &lt;/div&gt;

                        &lt;div class="backdrop__cover"&gt;
                            &lt;div class="container margin-y-4"&gt;
                                &lt;a href="#1" class="h3 expanded-link"&gt;Title Link&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- cover --&gt;

                    &lt;/div&gt;
                    &lt;!-- .backdrop --&gt;

                &lt;/div&gt;
                &lt;!-- grid__cell --&gt;

            &lt;/div&gt;
            &lt;!-- .grid --&gt;
        </code>
    </pre>

</figure>

<div class="container narrow margin-y-4">
    <h3>Breakpoint Modifiers</h3>
    <p>
        When using image size proportional backdrops for featured content (like the full-width example below) the content may become
        too tall for the image on small viewports.
    </p>
</div>

<figure class="margin-y-4">

    <div class="backdrop backdrop--stack--md theme-dark" {{ site.style_default_theme_colors }}>

        <div class="backdrop__credit">
            <p>Photo by <a href="#1">Jane Doe</a> on Unsplash</p>
        </div>

        <div class="backdrop__image">
            <img class="opacity-30" src="{{ site.baseurl }}/images/examples/backdrop-example-04.jpg" loading="lazy" alt="Placeholder">
        </div>

        <div class="backdrop__cover">

            <div class="container text-align-center">
                <div class="container medium margin-y-4">

                <h1 class="banner-headline text-align-center text-shadow margin-bottom-4">
                    Lorem ipsum dolor sit amet consectetur
                </h1>

                <div class="narrow">

                    <div class="grid grid--gap-2 grid--cells-fill--sm justify-center">

                        <div class="grid__cell">
                            <a class="button theme-primary display-block theme-white box-shadow" href="#1">Link</a>
                        </div>
                        <!-- .grid__cell -->

                        <div class="grid__cell">
                            <a class="button theme-secondary display-block theme-white box-shadow" href="#1">Link</a>
                        </div>
                        <!-- .grid__cell -->

                    </div>
                    <!-- .grid -->

                </div>

            </div>
            <!-- .container -->
            </div>

        </div>
        <!-- .backdrop__cover -->

    </div>
    <!-- .backdrop -->

</figure>

<div class="container narrow margin-y-4">
    <p>
        Include a <em>stack breakpoint modifier</em> (e.g. <code>.backdrop--stack--md</code>) to the
        <code>.backdrop</code> selector and the backdrop's image is placed above the content vertically until the
        viewport reaches the desired breakpoint specified in the modifier.
    </p>
</div>

{% include browser-iframe.html iframe_url="/examples/backdrops/stack-breakpoint-modifier-01.html" iframe_width="narrow" %}

<div class="container narrow margin-y-4">
    <p>
        The above example shows how the same full-with backdrop appears on a smaller (mobile) viewport.
    </p>
    <p class="display-none">
        The first is an optional
        <code>.backdrop__credit</code> selector (for the image credit) which appears in the upper right-hand corner of the backdrop.
    </p>
    <p>
        Notice the image is at full opacity. That's because our <a href="#1">opacity classes</a> have their own a breakpoint modifiers. Adding <code>.opacity-40--md</code> to the <code>.backdrop__image</code> selector gives that image
        a specified opacity (40%) at the medium (md) breakpoint.
    </p>
    <p>Examine the code used to create the backdrops above:</p>
</div>

<figure class="container medium margin-y-4">

    <pre data-line="1">
        <code class="language-html">
            &lt;div class="backdrop backdrop--stack--md theme-dark"&gt;

                &lt;img class="backdrop__image opacity-40--md" src="https://via.placeholder.com/1500x750" alt="Placeholder"&gt;

                &lt;div class="backdrop__cover"&gt;

                    &lt;div class="container medium margin-y-4"&gt;

                        &lt;h1 class="banner-headline text-align-center text-shadow margin-bottom-4"&gt;
                            Lorem ipsum dolor sit amet consectetur
                        &lt;/h1&gt;

                        &lt;div class="narrow"&gt;

                            &lt;div class="grid grid--gap-2 grid--cells-fill--sm justify-center"&gt;

                                &lt;div class="grid__cell"&gt;
                                    &lt;a class="button theme-primary display-block theme-white box-shadow" href="#1"&gt;Link&lt;/a&gt;
                                &lt;/div&gt;
                                &lt;!-- .grid__cell --&gt;

                                &lt;div class="grid__cell"&gt;
                                    &lt;a class="button theme-secondary display-block theme-white box-shadow" href="#1"&gt;Link&lt;/a&gt;
                                &lt;/div&gt;
                                &lt;!-- .grid__cell --&gt;

                            &lt;/div&gt;
                            &lt;!-- .grid --&gt;

                        &lt;/div&gt;

                    &lt;/div&gt;
                    &lt;!-- .container --&gt;

                &lt;/div&gt;
                &lt;!-- .backdrop__cover --&gt;

                &lt;div class="backdrop__credit"&gt;
                    &lt;p&gt;Photo by &lt;a href="#1"&gt;Jane Doe&lt;/a&gt; on Unsplash&lt;/p&gt;
                &lt;/div&gt;
                
            &lt;/div&gt;
            &lt;!-- .backdrop --&gt;
        </code>
    </pre>

</figure>

<div class="container narrow margin-y-4">
    <p>
        All of this together makes it easy to create responsive backdrops with different flavors of color and content. What if we don't want our backdrop's size to be dictated by the image?
    </p>
</div>
<!-- .container -->

<hr class="section-start" id="fixedHeightBackdrops">

<div class="container narrow margin-y-4">
    <h2>Fixed Height Backdrops</h2>
    <p>
        For a fixed height backdrop, append the <code>backdrop--fixed</code> modifier to the <code>.backdrop</code>
        selector. The height value is set in <em>section B</em>. of the <a href="#1">/scss/base/_backdrops.scss</a> partial.
    </p>
</div>

<figure class="margin-y-4">

    <div class="backdrop backdrop--fixed theme-dark" {{ site.style_default_theme_colors }}>

        <div class="backdrop__credit">
            <p>Photo by <a href="#1">Jane Doe</a> on Unsplash</p>
        </div>

        <div class="backdrop__image">
            <img class="opacity-30" src="{{ site.baseurl }}/images/examples/backdrop-example-05.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover">

            <div class="container medium margin-y-4">
                <h1 class="banner-headline text-shadow">
                    Lorem ipsum dolor
                </h1>
            </div>
            <!-- .container -->

        </div>
        <!-- .backdrop__cover -->

    </div>
    <!-- .backdrop -->

</figure>

<div class="container narrow margin-y-4">
    <p>The HTML for the above example:</p>
</div>

<figure class="container medium margin-y-4">

    <pre>
        <code class="language-html">
            &lt;div class="backdrop backdrop--fixed theme-dark"&gt;

                &lt;div class="backdrop__credit"&gt;
                    &lt;p&gt;Photo by &lt;a href="#1"&gt;Jane Doe&lt;/a&gt; on Unsplash&lt;/p&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__image"&gt;
                    &lt;img class="opacity-30" src="https://via.placeholder.com/1500x750.jpg" alt="Placeholder"&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__cover"&gt;

                    &lt;div class="container medium margin-y-4"&gt;
                        &lt;h1 class="banner-headline text-shadow"&gt;
                            Lorem ipsum dolor
                        &lt;/h1&gt;
                    &lt;/div&gt;

                &lt;/div&gt;
                &lt;!-- .backdrop__cover --&gt;

            &lt;/div&gt;
            &lt;!-- .backdrop --&gt;
        </code>
    </pre>

</figure>

<div class="container narrow margin-y-4">
    <p>
        The <code>.backdrop--fixed</code> selector stretches to fit the content within <code>.backdrop__cover</code>.
        Consider the following layout:
    </p>
</div>

 <figure class="margin-y-5">

    <div class="backdrop backdrop--fixed theme-dark" {{ site.style_default_theme_colors }}>

        <div class="backdrop__credit">
            <p>Photo by <a href="#1">Jane Doe</a> on Unsplash</p>
        </div>

        <div class="backdrop__image gradient-veneer-bottom">
            <img class="opacity-20" src="{{ site.baseurl }}/images/examples/backdrop-example-06.jpg" alt="">
        </div>

        <div class="backdrop__cover">

            <div class="container medium text-align-center margin-y-5">

                <h1 class="banner-headline text-shadow margin-bottom-4">
                    Lorem ipsum dolor sit amet consectetur
                </h1>

                <div class="text-align-left">

                    <div class="grid grid--gap-2 grid--cells-fill--md justify-content-center">

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-1">

                                <div class="card__head border-bottom">
                                    <p>Card Header</p>
                                </div>

                                <div class="card__body">
                                    <h2 class="h4">Card Title</h2>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
                                        obcaecati autem, ex facilis labore reiciendis.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="button theme-secondary display-block" href="#1">Action</a>
                                </div>
                            </div>
                            <!-- .card -->

                        </div>
                        <!-- .grid__cell -->

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-1">

                                <div class="card__head border-bottom">
                                    <p>Card Header</p>
                                </div>

                                <div class="card__body">
                                    <h2 class="h4">Card Title</h2>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
                                        obcaecati autem, ex facilis labore reiciendis.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="button theme-secondary display-block" href="#1">Action</a>
                                </div>
                            </div>

                        </div>
                        <!-- .grid__cell -->

                    </div>
                    <!-- .grid -->

                </div>

                <div class="margin-y-4">

                    <p><strong>Follow Us</strong></p>

                    <ul class="nav nav--gap-2 nav--horizontal justify-content-center font-size-lg" role="list">
                        <li>
                            <a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="Facebook">
                                <span class="nyc_icon_facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="Twitter">
                                <span class="nyc_icon_twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="YouTube">
                                <span class="nyc_icon_youtube" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- .container -->

        </div>
        <!-- .backdrop__cover -->
    </div>

 </figure>

 <div class="container narrow margin-y-4">
    <p>
        In this example, the content inside <code>.backdrop__cover</code> is taller than the default height (400px), and
        <code>.backdrop--fixed</code> adjusts its height automatically.
    </p>
    <p>
        The markup for the above example:
    </p>
 </div>

<figure class="container medium margin-y-4">

    <pre>
        <code class="language-html">
            &lt;div class="backdrop backdrop--fixed theme-dark"&gt;

                &lt;div class="backdrop__credit"&gt;
                    &lt;p&gt;Photo by &lt;a href="#1"&gt;Jane Doe&lt;/a&gt; on Unsplash&lt;/p&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__image gradient-veneer-bottom"&gt;
                    &lt;img class="opacity-20" src="https://via.placeholder.com/1500x750.jpg" alt=""&gt;
                &lt;/div&gt;

                &lt;div class="backdrop__cover"&gt;

                    &lt;div class="container medium text-align-center margin-y-5"&gt;

                        &lt;h1 class="banner-headline text-shadow margin-bottom-4"&gt;
                            Lorem ipsum dolor sit amet consectetur
                        &lt;/h1&gt;

                        &lt;div class="text-align-left"&gt;

                            &lt;div class="grid grid--gap-2 grid--cells-fill--md justify-content-center"&gt;

                                &lt;div class="grid__cell"&gt;

                                    &lt;div class="card theme-white rounded box-shadow-1"&gt;

                                        &lt;div class="card__head border-bottom"&gt;
                                            &lt;p&gt;Card Header&lt;/p&gt;
                                        &lt;/div&gt;

                                        &lt;div class="card__body"&gt;
                                            &lt;h2 class="h4"&gt;Card Title&lt;/h2&gt;
                                            &lt;p&gt;
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
                                                obcaecati autem, ex facilis labore reiciendis.
                                            &lt;/p&gt;
                                        &lt;/div&gt;

                                        &lt;div class="card__foot border-top"&gt;
                                            &lt;a class="button theme-secondary display-block" href="#1"&gt;Action&lt;/a&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;!-- .card --&gt;

                                &lt;/div&gt;
                                &lt;!-- .grid__cell --&gt;

                                &lt;div class="grid__cell"&gt;

                                    &lt;div class="card theme-white rounded box-shadow-1"&gt;

                                        &lt;div class="card__head border-bottom"&gt;
                                            &lt;p&gt;Card Header&lt;/p&gt;
                                        &lt;/div&gt;

                                        &lt;div class="card__body"&gt;
                                            &lt;h2 class="h4"&gt;Card Title&lt;/h2&gt;
                                            &lt;p&gt;
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa
                                                obcaecati autem, ex facilis labore reiciendis.
                                            &lt;/p&gt;
                                        &lt;/div&gt;

                                        &lt;div class="card__foot border-top"&gt;
                                            &lt;a class="button theme-secondary display-block" href="#1"&gt;Action&lt;/a&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                &lt;/div&gt;
                                &lt;!-- .grid__cell --&gt;

                            &lt;/div&gt;
                            &lt;!-- .grid --&gt;

                        &lt;/div&gt;

                        &lt;div class="margin-y-4"&gt;

                            &lt;p&gt;&lt;strong&gt;Follow Us&lt;/strong&gt;&lt;/p&gt;

                            &lt;ul class="nav nav--gap-2 nav--horizontal justify-content-center font-size-lg" role="list"&gt;
                                &lt;li&gt;
                                    &lt;a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="Facebook"&gt;
                                        &lt;span class="nyc_icon_facebook" aria-hidden="true"&gt;&lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="Twitter"&gt;
                                        &lt;span class="nyc_icon_twitter" aria-hidden="true"&gt;&lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;a class="button button--icon-only theme-secondary rounded-circle" href="#1" aria-label="YouTube"&gt;
                                        &lt;span class="nyc_icon_youtube" aria-hidden="true"&gt;&lt;/span&gt;
                                    &lt;/a&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                    &lt;!-- .container --&gt;

                &lt;/div&gt;
                &lt;!-- .backdrop__cover --&gt;

            &lt;/div&gt;
        </code>
    </pre>

</figure>

<hr class="section-start" id="relatedCSSVariables">

<div class="container narrow margin-y-4">
    <h2>Related CSS Variables</h2>
    <p>
        For even more control over button styles, consider <a href="{{ site.baseurl }}/docs/customization/#customizableCDN">customizing</a> their related CSS variable values.
    </p>
</div>
<!-- .container -->