---
layout: documentation
title: "Color System 2"
---

{% assign style_default_theme_colors = "style='--primary: #25caa4; --secondary: #6500d6; --dark: #262345; --light: #f1f4f6; --primary-text: var(--dark); --secondary-text: white;'" %}

<div class="container narrow my-4">
    <p>
        The NYC Core Framework's dymnamic color system allows you to intuitively manage colors and apply them
        with little effort across pages, components, and content.
    </p>
</div>
<!-- .container -->

<div class="container narrow my-4">
    <div class="alert--attention-light my-3">
        <p class="alert__title">
            <span class="fas fa-universal-access fa-lg" aria-hidden="true"></span>
            <span class="text">Color Accessibility</span>
        </p>
        <p>
            When selecting colors for your theme, it is wise to check that your colors meet a sufficient <a
                href="#1">contrast ratio</a>.
        </p>
    </div>
    <!-- .alert -->
</div>
<!-- .container -->

<hr class="my-5" id="basicNavigation">

<div class="container narrow my-4">
    <h2>Theme Colors</h2>
    <p>
        The following palette makes up our default <em>theme colors</em>. 
    </p>
</div>
<!-- .container -->

<figure class="container medium my-4">

    <div class="grid--gap cols--md fs-md" {{ style_default_theme_colors }}>

        <div class="grid__col">
            <div class="px-2 py-3 bc-primary d-none--lg">
                <p class="mb-0"><strong>Primary</strong></p>
                <p class="mb-0">#666666</p>
            </div>
            <!-- px-2 -->
                <div class="aspect-ratio--1by1 d-none d-block--lg">
                    <div class="aspect-ratio__element bc-primary">
                        <div class="m-2">
                            <p class="mb-0"><strong>Primary</strong></p>
                            <p class="mb-0">#666666</p>
                        </div>
                    </div>
                </div>
                <!-- aspect-ratio -->
        </div>
        <!-- col -->

        <div class="grid__col">
            <div class="px-2 py-3 bc-secondary d-none--lg">
                <p class="mb-0"><strong>Secondary</strong></p>
                <p class="mb-0">#666666</p>
            </div>
            <!-- px-2 -->
            <div class="aspect-ratio--1by1 d-none d-block--lg">
                <div class="aspect-ratio__element bc-secondary">
                    <div class="m-2">
                        <p class="mb-0"><strong>Secondary</strong></p>
                        <p class="mb-0">#666666</p>
                    </div>
                </div>
            </div>
            <!-- aspect-ratio -->
        </div>
        <!-- col -->

        <div class="grid__col">
            <div class="px-2 py-3 bc-dark d-none--lg">
                <p class="mb-0"><strong>Dark</strong></p>
                <p class="mb-0">#666666</p>
            </div>
            <!-- px-2 -->
            <div class="aspect-ratio--1by1 d-none d-block--lg">
                <div class="aspect-ratio__element bc-dark">
                    <div class="m-2">
                        <p class="mb-0"><strong>Dark</strong></p>
                        <p class="mb-0">#666666</p>
                    </div>
                </div>
            </div>
            <!-- aspect-ratio -->
        </div>
        <!-- col -->

        <div class="grid__col">
            <div class="px-2 py-3 bc-light d-none--lg">
                <p class="mb-0"><strong>Light</strong></p>
                <p class="mb-0">#666666</p>
            </div>
            <!-- px-2 -->
            <div class="aspect-ratio--1by1 d-none d-block--lg">
                <div class="aspect-ratio__element bc-light">
                    <div class="m-2">
                        <p class="mb-0"><strong>Light</strong></p>
                        <p class="mb-0">#666666</p>
                    </div>
                </div>
            </div>
            <!-- aspect-ratio -->
        </div>
        <!-- col -->

        <div class="grid__col">
            <div class="px-2 py-3 bc-white border d-none--lg">
                <p class="mb-0"><strong>White</strong></p>
                <p class="mb-0">#666666</p>
            </div>
            <!-- px-2 -->
            <div class="aspect-ratio--1by1 d-none d-block--lg">
                <div class="aspect-ratio__element bc-white border">
                    <div class="m-2">
                        <p class="mb-0"><strong>White</strong></p>
                        <p class="mb-0">#666666</p>
                    </div>
                </div>
            </div>
            <!-- aspect-ratio -->
        </div>
        <!-- col -->

    </div>
    <!-- .grid -->

</figure>
<!-- .container -->

<div class="container narrow my-4">
    <p>
        Modify these colors with <a href="{{ site.baseurl }}/documentation/customization/#customProperties">custom
            properties</a> or create additional colors <a href="#1">using Sass</a>. These theme colors generate our
        background color classes (below), <a href="#1">text color classes</a>, and <a href="#1">border classes</a>.
    </p>
</div>
<!-- .container -->

<hr class="my-5" id="backgroundColorClasses">

<div class="container narrow my-4">
    <h2>Background Color Classes</h2>
    <p>
        In the NYC Core Framework <em>white</em> is treated as a color and it serves as your default theme color. Throught our templates and examples, you
        may have noticed the <code>&lt;body&gt;</code> tag has a <code>.bc-white</code> class applied (Figure 1).
    </p>
</div>
<!-- .container -->

<figure class="container narrow my-4">
    <pre class="hide-toolbar">
        <code class="language-html">
            &lt;body class="bc-white"&gt;
                ...
            &lt;/body&gt;
        </code>
    </pre>
    <figcaption>
        <p>Figure 1 - Example of the <em>white</em> background color class.</p>
    </figcaption>
</figure>

<div class="container narrow my-4">
    <p>
        Each theme color (e.g. <em>primary</em>) is assigned a predesignated <strong>text color</strong> , <strong>link
            color</strong>, and <strong>border color</strong>. This predesignation occurs in our Sass partial for colors,
        found in <a href="#1"><strong>/src/partials/_color.scss</strong></a>.
    </p>

    <p>
        Figure 2 (below) represents the custom properties (variables) located at the top of this partial.
    </p>
</div>
<!-- .container -->

<figure class="container narrow my-4">
    <pre class="hide-toolbar" data-line="5, 16,17,18">
        <code class="language-scss">
            :root {

                // Theme Color Palette

                --primary: #25caa4;
                --secondary: #6500d6;
                --dark: #262345;
                --light: #f1f4f6;

                // Accessible Link Color

                --a11y-link-color: blue;

                // Associated Primary Colors

                --primary-text: var(--dark);
                --primary-border: hsla(0, 0%, 0%, 0.125);
                --primary-link: currentColor;

                // Associated Secondary Colors

                --secondary-text: white;
                --secondary-border: hsla(0, 0%, 0%, 0.25);
                --secondary-link: currentColor;

                // Associated Dark Colors

                --dark-text: white;
                --dark-border: hsla(0, 0%, 100%, 0.125);
                --dark-link: currentColor;

                // Associated Light Colors

                --light-text: var(--dark);
                --light-border: hsl(0, 0%, 50%, 0.25);
                --light-link: var(--a11y-link-color);

                // Associated Light Colors

                --white-text: var(--dark);
                --white-border: hsl(0, 0%, 50%, 0.25);
                --white-link: var(--a11y-link-color);

                // Alert and Form Feedback Colors

                --confirm: #008230;
                --attention: #3953B1;
                --warn: #dc3545;
            }
        </code>
    </pre>
    <figcaption>
        <p>Figure 2 - Example of the <em>primary</em> background color class applied to a card.</p>
    </figcaption>
</figure>

<figure class="container narrow my-4">
    <table class="fs-md">
        <thead>
            <tr>
                <th class="w-30">Line #</th>
                <th class="w-70">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td>
                    <p>
                        Declaration of our <em>Primary</em> theme color.
                    </p>
                </td>
            </tr>
            <tr>
                <td>16</td>
                <td>
                    <p>
                        Color of all text within a <code>.bc-primary</code> selector.
                    </p>
                </td>
            </tr>
            <tr>
                <td>17</td>
                <td>
                    <p>
                        Color of all borders within a <code>.bc-primary</code> selector.
                    </p>
                </td>
            </tr>
            <tr>
                <td>18</td>
                <td>
                    <p>
                        Color of all general links inside of <code>&lt;p&gt;</code> tags within a <code>.bc-primary</code> selector.
                    </p>
                </td>
            </tr>

        </tbody>

    </table>
</figure>

<div class="container narrow my-4">
    <p>
        When a background color class is applied to an element, its text, borders, and links (only those inside
        <code>&lt;p&gt;</code> tags) automatically inherit their appropriate predesignated color.
    </p>
    <p>
        Let's apply our background color classes to Framework <a href="{{ site.baseurl}}/documentation/cards/">cards</a>:
    </p>
</div>
<!-- .container -->

<figure class="container narrow my-4">

    <div {{ style_default_theme_colors }}>

        <div class="card bc-primary rounded border my-3">

            <div class="card__header border-b">
                <p>Walt Whitman</p>
            </div>

            <div class="card__body">
                <h2 class="h5"><em>Mannahatta</em></h2>
                <p>
                    I WAS asking for something specific and perfect for my city,
                    Whereupon lo! upsprang the the [NYC Core Framework].
                </p>
                <p>
                    <a href="#1">Read Full Poem</a>
                </p>
            </div>

        </div>
        <!-- .card -->

        <div class="card bc-secondary rounded border my-3">

            <div class="card__header border-b">
                <p>Walt Whitman</p>
            </div>

            <div class="card__body">
                <h2 class="h5"><em>Mannahatta</em></h2>
                <p>
                    I WAS asking for something specific and perfect for my city,
                    Whereupon lo! upsprang the the [NYC Core Framework].
                </p>
                <p>
                    <a href="#1">Read Full Poem</a>
                </p>
            </div>

        </div>
        <!-- .card -->

        <div class="card bc-dark rounded border my-3">

            <div class="card__header border-b">
                <p>Walt Whitman</p>
            </div>

            <div class="card__body">
                <h2 class="h5"><em>Mannahatta</em></h2>
                <p>
                    I WAS asking for something specific and perfect for my city,
                    Whereupon lo! upsprang the the [NYC Core Framework].
                </p>
                <p>
                    <a href="#1">Read Full Poem</a>
                </p>
            </div>

        </div>
        <!-- .card -->

        <div class="card bc-light rounded border my-3">

            <div class="card__header border-b">
                <p>Walt Whitman</p>
            </div>

            <div class="card__body">
                <h2 class="h5"><em>Mannahatta</em></h2>
                <p>
                    I WAS asking for something specific and perfect for my city,
                    Whereupon lo! upsprang the the [NYC Core Framework].
                </p>
                <p>
                    <a href="#1">Read Full Poem</a>
                </p>
            </div>

        </div>
        <!-- .card -->

        <div class="card bc-white rounded border my-3">

            <div class="card__header border-b">
                <p>Walt Whitman</p>
            </div>

            <div class="card__body">
                <h2 class="h5"><em>Mannahatta</em></h2>
                <p>
                    I WAS asking for something specific and perfect for my city,
                    Whereupon lo! upsprang the the [NYC Core Framework].
                </p>
                <p>
                    <a href="#1">Read Full Poem</a>
                </p>
            </div>

        </div>
        <!-- .card -->

    </div>
    <!-- default theme -->

</figure>

<div class="container narrow my-4">
    <p>
        With the above card examples we only specified the background color class (see Figure 3), and the text color, link
        color, and border colors inherit their predesignated colors.
    </p>
</div>
<!-- .container -->

<figure class="container medium my-4">
    <pre data-line="1">
        <code class="language-html">
            &lt;div class="card bc-secondary rounded border my-3">

                &lt;div class="card__header border-b"&gt;
                    &lt;p&gt;Walt Whitman&lt;/p&gt;
                &lt;/div&gt;

                &lt;div class="card__body"&gt;
                    &lt;h2 class="h5"&gt;&lt;em&gt;Mannahatta&lt;/em&gt;&lt;/h2&gt;
                    &lt;p&gt;
                        I WAS asking for something specific and perfect for my city,
                        Whereupon lo! upsprang the the [NYC Core Framework].
                    &lt;/p&gt;
                    &lt;p&gt;
                        &lt;a href="#1"&gt;Read Full Poem&lt;/a&gt;
                    &lt;/p&gt;
                &lt;/div&gt;

            &lt;/div&gt;
            &lt;!-- .card --&gt;
        </code>
    </pre>
    <figcaption>
        <p>Figure 3 - Example of the <em>primary</em> background color class applied to a card.</p>
    </figcaption>
</figure>

<div class="container narrow my-4">
    <p>
        To be sure, each of our theme colors (above) are available as a background color class:
    </p>
</div>
<!-- .container -->

<figure class="container narrow my-4">
    <pre class="hide-toolbar">
        <code class="language-html">
            &lt;div class="bc-primary"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-secondary"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-dark"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-light"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-white"&gt;
                ...
            &lt;/div&gt;
        </code>
    </pre>
    <figcaption>
        <p>Figure 2 - Example of the <em>primary</em> background color class applied to a card.</p>
    </figcaption>
</figure>

<div class="container narrow my-4" id="cool">
    <h3>Inheritance and Selectivity</h3>
    <p>
        Apply a background color class to any element along the DOM (Document Object Model) and every child element within that selector will
        inherit their designated theme color properties until a new class is specified.
    </p>
    <p>
        In other words, <strong>background color classes are infinitely nestable</strong>. Let's look at the concept of nesting in practice.
    </p>
    <p>
        The layout below has only one
        background color class applied to the <code>&lt;body&gt;</code> tag. Notice the text, link, and border colors across the document are correct, regardless of their position in the DOM. 
    </p>
</div>
<!-- .container -->

{% include browser-iframe.html iframe_url="/examples/color-system/theming-01.html" %}

<div class="container narrow my-4">
    <p>
        What if we wanted a dark theme for our entire page? Of course, completely dark pages are not recommended for
        readability, but we'll use it for sake of demonstration here.
    </p>
    <p>
        To create our dark theme, let's change our background color class from <code>.bc-white</code> to
        <code>.bc-dark</code> on our <code>&lt;body&gt;</code> tag.
    </p>
</div>
<!-- .container -->

{% include browser-iframe.html iframe_url="/examples/color-system/theming-02.html" %}
<div class="container narrow my-4">
    <p>
        Let's make our header, sidebar, and footer stand out by adding background color class to them as well.
    </p>
</div>
<!-- .container -->

{% include browser-iframe.html iframe_url="/examples/color-system/theming-03.html" %}

<div class="container narrow my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quia ea, excepturi facilis, veniam quaerat eos
        aperiam itaque doloribus, perspiciatis earum nam ipsam quas quidem possimus illo aut voluptatum recusandae?
    </p>
</div>
<!-- .container -->

<figure class="container narrow my-4">
    <pre class="hide-toolbar">
        <code class="language-html">
            &lt;div class="bc-primary"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-secondary"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-dark"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-light"&gt;
                ...
            &lt;/div&gt;

            &lt;div class="bc-white"&gt;
                ...
            &lt;/div&gt;
        </code>
    </pre>
    <figcaption>
        <p>Figure 2 - Example of the <em>primary</em> background color class applied to a card.</p>
    </figcaption>
</figure>