---
layout: documentation
title: "Icons"
---

<div class="container narrow margin-y-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tenetur, odit illum eligendi expedita atque officia sint magnam repellendus nemo! Minima laudantium corrupti quisquam.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4" {{ site.style_default_theme_colors }}>

    <div class="grid grid--gap-2 grid--cells-4 grid--cells-3--md text-align-center">

        {% include icon-cell.html icon_name="bubble-logo" %}
        {% include icon-cell.html icon_name="311" %}
        {% include icon-cell.html icon_name="parks" %}

        {% include icon-cell.html icon_name="home" %}
        {% include icon-cell.html icon_name="menu" %}
        {% include icon-cell.html icon_name="search" %}

        {% include icon-cell.html icon_name="more-vertical" %}
        {% include icon-cell.html icon_name="more-horizontal" %}

        {% include icon-cell.html icon_name="language" %}
        {% include icon-cell.html icon_name="settings" %}
        
        {% include icon-cell.html icon_name="caret-up" %}
        {% include icon-cell.html icon_name="caret-right" %}
        {% include icon-cell.html icon_name="caret-down" %}
        {% include icon-cell.html icon_name="caret-left" %}
        
        {% include icon-cell.html icon_name="arrow-up" %}
        {% include icon-cell.html icon_name="arrow-right" %}
        {% include icon-cell.html icon_name="arrow-down" %}
        {% include icon-cell.html icon_name="arrow-left" %}

        {% include icon-cell.html icon_name="chevron-up" %}
        {% include icon-cell.html icon_name="chevron-right" %}
        {% include icon-cell.html icon_name="chevron-down" %}
        {% include icon-cell.html icon_name="chevron-left" %}

        {% include icon-cell.html icon_name="double-chevron-up" %}
        {% include icon-cell.html icon_name="double-chevron-right" %}
        {% include icon-cell.html icon_name="double-chevron-down" %}
        {% include icon-cell.html icon_name="double-chevron-left" %}

        {% include icon-cell.html icon_name="page-start" %}
        {% include icon-cell.html icon_name="page-end" %}

        {% include icon-cell.html icon_name="warn" %}
        {% include icon-cell.html icon_name="confirm" %}

        {% include icon-cell.html icon_name="person" %}
        {% include icon-cell.html icon_name="people" %}

        {% include icon-cell.html icon_name="wheelchair" %}
        {% include icon-cell.html icon_name="accessibility" %}

        {% include icon-cell.html icon_name="info" %}
        {% include icon-cell.html icon_name="question-mark" %}

        {% include icon-cell.html icon_name="edit" %}
        {% include icon-cell.html icon_name="delete" %}
        {% include icon-cell.html icon_name="print" %}
        {% include icon-cell.html icon_name="mail" %}
        
        {% include icon-cell.html icon_name="bell" %}
        {% include icon-cell.html icon_name="calendar" %}

        {% include icon-cell.html icon_name="mobile" %}
        {% include icon-cell.html icon_name="hashtag" %}

        {% include icon-cell.html icon_name="share" %}
        {% include icon-cell.html icon_name="github" %}
        {% include icon-cell.html icon_name="facebook" %}
        {% include icon-cell.html icon_name="twitter" %}
        {% include icon-cell.html icon_name="youtube" %}
        {% include icon-cell.html icon_name="linkedin" %}

        {% include icon-cell.html icon_name="loading" %}
        {% include icon-cell.html icon_name="map-pin" %}

        {% include icon-cell.html icon_name="shopping-cart" %}
        {% include icon-cell.html icon_name="parking" %}

        {% include icon-cell.html icon_name="subway-a" %}
        {% include icon-cell.html icon_name="subway-c" %}
        {% include icon-cell.html icon_name="subway-e" %}
        
        {% include icon-cell.html icon_name="subway-b" %}
        {% include icon-cell.html icon_name="subway-d" %}

        {% include icon-cell.html icon_name="subway-f" %}
        {% include icon-cell.html icon_name="subway-f-express" %}
        
        {% include icon-cell.html icon_name="subway-m" %}
        {% include icon-cell.html icon_name="subway-g" %}
        {% include icon-cell.html icon_name="subway-l" %}
        {% include icon-cell.html icon_name="subway-j" %}
        {% include icon-cell.html icon_name="subway-z" %}

        {% include icon-cell.html icon_name="subway-n" %}
        {% include icon-cell.html icon_name="subway-q" %}
        {% include icon-cell.html icon_name="subway-r" %}
        {% include icon-cell.html icon_name="subway-w" %}

        {% include icon-cell.html icon_name="subway-1" %}
        {% include icon-cell.html icon_name="subway-2" %}
        {% include icon-cell.html icon_name="subway-3" %}

        {% include icon-cell.html icon_name="subway-4" %}
        {% include icon-cell.html icon_name="subway-5" %}
        {% include icon-cell.html icon_name="subway-6" %}
        {% include icon-cell.html icon_name="subway-6-express" %}

        {% include icon-cell.html icon_name="subway-7" %}
        {% include icon-cell.html icon_name="subway-7-express" %}

        {% include icon-cell.html icon_name="subway-t" %}
        {% include icon-cell.html icon_name="subway-s" %}

    </div>
    <!-- .grid -->

</figure>