/*

In this file:

// A. Modules
// B. Variables
// C. Modal Block
// D. Modal Elements

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../spacing/style" as spacing;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
  --modal-padding: var(--spacer-3);
  --modal-overlay-opacity: 0.8;
  --modal-z-index: 1400;
}

//////////////////////////////////////////////
// C. Modal Block
//////////////////////////////////////////////

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  z-index: var(--modal-z-index);
  
  padding: var(--modal-padding);

  &[class*="theme-"]{
    background-color: transparent !important;
  }
  
  &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      
      opacity: var(--modal-overlay-opacity);
  }

  display: none;

  backdrop-filter: blur(0.75rem);

  &[aria-hidden="false"] {
    display: flex;
  }

}

//////////////////////////////////////////////
// D. Modal Elements
//////////////////////////////////////////////

.modal__content {
  @extend .margin-x-auto;

  position: relative;
  z-index: auto;
  width: 100%;
  max-height: calc(100vh - (var(--modal-padding) * 2));
  background-color: inherit;
  
  display: flex;
  flex-direction: column;
  
  margin-top: var(--modal-padding);
  margin-bottom: var(--modal-padding);

}

.modal__content__head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--modal-padding);

  h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }

  button{
    flex-shrink: 0;
  }
}

.modal__content__body {
  flex-shrink: 1; 
  overflow-y: auto;
}

.modal__content__body, 
.modal__content__foot {
  padding: var(--modal-padding);
}